.section-spacing{
  padding: 50px 0px;
}
.text-aetamax-blue{
  color: #2f466a;
}
.aeramax-page-title{
  font-size: var(--fds-fs-800);
  line-height: var(--fds-fs-880);
  font-weight: 900;
}
.aeramax-sub-title{
  font-size: var(--fds-fs-500);
  line-height: 1.438rem;
}
.aeramax-small-font{
  font-size: var(--fds-fs-250);
  line-height: var(--fds-fs-450);
  font-weight: 500;
}
.light-bg{
  background: #f4f4f4;
}
.aeramax-tabs .nav-link{
  font-size: var(--fds-fs-325);
  line-height: 1.313rem;
  color: #2f466a !important;
  font-weight: 600;
}
.converted-fsd-dropdown-nav .nav-link{
  color: var(--fds-black) !important;
}
.aeramax-tabs .nav-link:hover{
  background: transparent;
}
.aeramax-tabs .nav-link:after{
  display: none;
}
.aeramax-tabs .nav-link svg{
  fill:#2f466a;
  height: 50px;
  display: inline-block;
}
.converted-fsd-dropdown-nav .nav-link svg{
  fill: var(--fds-black);
}
.aeramax-tabs .nav-link span{
  margin-right: 10px;
  display: none;
}
.aeramax-tabs .nav-link.active{
  background: transparent;
  border: none;
}
.tab-content-p-tag{
  font-size: var(--fds-fs-350);
  line-height: var(--fds-fs-710);
  color: #666666;
}
.tab-sub-title{
  font-size: var(--fds-fs-600);
  line-height: var(--fds-fs-710);
}
.conserns-text{
  font-size: var(--fds-fs-600);
    line-height: var(--fds-fs-775);
    color: #666666;
}
.conserns-icon svg{
  width: 65px;
  height: 65px;
  fill: var(--fds-yellow);
}
.conserns-main{
  gap: 10px;
}
.mobile-dropdown-tab .tab-dropdown{
  cursor: pointer;
  text-transform: uppercase ;
}
.mobile-dropdown-tab .tab-dropdown span{display: none;}
.mobile-dropdown-tab{
  display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid #2f466a;
    padding: 10px 18px;
    font-size: var(--fds-fs-450);
    font-weight: 600;
    color: #2f466a;
    cursor: pointer;
}
.converted-fsd-dropdown{
  border: 3px solid var(--fds-black);
  color: var(--fds-black);
}
.btn-aeramax{
  font-weight: 700;
  text-transform: capitalize;
  border: 2px solid #2F466A;
  color: #2F466A;
  border-radius: 55px;
  line-height: 30px;
  font-size: var(--fds-fs-300);
  padding: 0px 25px;
}
.btn-aeramax:first-child:hover,
.btn-aeramax:focus-visible,
.btn-aeramax:hover,
.btn-aeramax:focus,
:not(.btn-check) + .btn-aeramax:hover {
  background: #2F466A;
  border-color: #2F466A;
  color: #ffffff;
  box-shadow: none;
}

.btn-fds-converted{
  font-weight: 700;
  text-transform: capitalize;
  border: 2px solid var(--fds-black);
  color: var(--fds-black);
  border-radius: 55px;
  font-size: var(--fds-fs-300);
  background: transparent;
}
.btn-fds-converted:first-child:hover,
.btn-fds-converted:focus-visible,
.btn-fds-converted:hover,
.btn-fds-converted:focus,
:not(.btn-check) + .btn-fds-converted:hover {
  background: var(--fds-black);
  border-color: var(--fds-black);
  color: #ffffff;
  box-shadow: none;
}
.aeramax-blue-bg{
  background: #2f466a;
}
.aermax_technologies_content{
  padding: 30px;
}
 .flip-box-front{
  position: relative;
  opacity: 1;
  transition: all 1.2s ease-in-out;
}
 .flip-box-back{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: all 1.2s ease-in-out;
}

.fellowes-slide-scroll-effect .flip-box-back{
  opacity: 1;
  transition: all 1.2s ease-in-out;
}

.fellowes-slide-scroll-effect .flip-box-front{
  opacity: 0;
  transition: all 1.2s ease-in-out;
}

 .fellowes-slide-scroll-effect .flip-box-back{
  opacity: 1;
  transition: all 1.2s ease-in-out;
}

 .fellowes-slide-scroll-effect .flip-box-front{
  opacity: 0;
  transition: all 1.2s ease-in-out;
}
.aeramax-two-column-title{
  font-size: 1.625rem;
  line-height: 1.938rem;
}
.content_number{
  font-size: var(--fds-fs-325);
  line-height: 1.313rem;
  color: #666666;
  margin-top: 40px;
}
.content_number li{
  margin-bottom: var(--fds-fs-600);
}
.content_number li span{
  background-color: #2f466a;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    margin-right: 10px;
}
.content_number_green li span{
  background-color: var(--fds-blue);
}
.small-font-paragraph{
  font-size: var(--fds-fs-250);
  line-height: var(--fds-fs-450);
  color: #666666;
}
.fs-14{
  font-size: var(--fds-fs-325);
  line-height: 1.313rem;
}

.protects-the-air  .with_zoom{
  position: absolute;
  left: 0;
  opacity: 0;
  display: block;
  top: 0;
}

.protects-the-air  .without_zoom{
  transition: all 1.2s ease-in-out;
}

.fellowes-slide-scroll-effect .without_zoom{
  transform: scale(1.1);
} 

.protects-the-air  .col-lg-6{
  overflow: hidden;
}

.protects-the-air.fellowes-slide-scroll-effect .with_zoom{
animation-name: lock_animation;
animation-duration: 1.2s;
opacity: 1;
}

@keyframes lock_animation {
0%   {opacity: 0;}
50%  {opacity: 0.5;}
100% {opacity: 1;}
}
.testimonial-main .testi-image-box, .testimonial-main .testi-content-box{
 padding: 25px;
}
.testimonial_content{
  font-size: 1.438rem;
  line-height: var(--fds-fs-850);
  font-weight: 700;
  color: #666666;
}
.testimonial_by{
  font-size: var(--fds-fs-450);
  line-height: 1.688rem;
}
.form-sub-title{
  font-size: var(--fds-fs-350);
  line-height: var(--fds-fs-710);
}
.form-outline .form-control {
  padding: 0.75rem 1.75rem;
  color: var(--fds-grey-800);
  font-size: var(--fds-fs-400);
}

.form-outline .form-control.form-control-lg ~ .form-label {
  padding-top: 1rem;
}

.form-outline .form-control.form-control-lg.active ~ .form-label,
.form-outline .form-control.form-control-lg:focus ~ .form-label {
  transform: translateY(-1.5rem) translateY(0.1rem) scale(0.8);
}

.form-outline .form-control:focus ~ .form-label {
  color: var(--fds-black);
}

.form-outline .form-control ~ .form-notch div {
  border-radius: 0 !important;
}

.form-outline .form-control.select-input:focus ~ .form-notch .form-notch-trailing,
.select-input.focused ~ .form-notch .form-notch-trailing,
.form-outline .form-control:focus ~ .form-notch .form-notch-trailing {
  border-color: var(--fds-black);
  box-shadow: 1px 0 0 0 var(--fds-black), 0 -1px 0 0 var(--fds-black), 0 1px 0 0 var(--fds-black);
}

.form-outline .form-control.select-input:focus ~ .form-notch .form-notch-leading,
.select-input.focused ~ .form-notch .form-notch-leading,
.form-outline .form-control:focus ~ .form-notch .form-notch-leading {
  border-color: var(--fds-black);
  box-shadow: -1px 0 0 0 var(--fds-black), 0 1px 0 0 var(--fds-black), 0 -1px 0 0 var(--fds-black);
}

.form-outline .form-control:focus ~ .form-notch .form-notch-middle {
  border-color: var(--fds-black);
  box-shadow: 0 1px 0 0 var(--fds-black);
  border-top: 1px solid transparent;
}

.form-check-label {
  color: var(--fds-black);
}

.form-check-input[type='checkbox'] {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0;
}
.aeramaxbox img{
  border: 1px solid #f4f4f4;
  transition: all 0.4s;
}
.aeramaxbox:hover img{
  border: 1px solid #2f466a;
}
.aeramaxbox:hover .btn{
  background: #2F466A;
  border-color: #2F466A;
  color: #ffffff;
  box-shadow: none;
}
.case-title{
  font-size: var(--fds-fs-725);
}
.fellowes-banner-sections{
  position: relative;
  width: 100%;
}
.fellowes-banner-sections .fellowes-banner-image-zoom img {
  transition: all 1.3s ease-in-out;
  position: relative;
  object-fit: cover;
  width: 100%;
}

.fellowes-banner-sections .fellowes-banner-image-zoom.fellowes-slide-scroll-effect img {
  position: relative;
  display: block;
  transform: scale(1.08);
}
.fellowes_space_content h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.625rem;
  line-height: 1.938rem;
  font-weight: 700;
}
.fellowes_space_content {
  position: relative;
  background-color: rgba(34, 45, 71, 0.9);
  padding: 42px 20px;
  text-align: center;
}

.fellowes_space_content.fellowes_space_content-landing h3{
  font-size: var(--fds-fs-775);
  line-height: var(--fds-fs-860);
}
.fellowes_space_content.fellowes_space_content-landing p{
  font-size: var(--fds-fs-350);
  line-height: var(--fds-fs-710);
  color: var(--fds-white);
}
.aqm-banner-converted-to-fds img{
  height: 500px;
  object-fit: cover;
  object-position: center center;
}
.h1-title{
  font-size: var(--fds-fs-800);
  font-weight: 400;
  text-transform: capitalize;
}
.learn-more-line-btn:after{
  top: inherit;
}
.learn-more-line-btn{
  font-size: var(--fds-fs-325);
  line-height: var(--fds-fs-775);
}
@media (min-width:768px){
  .h1-title{
    font-size: 3rem;
  }
  .learn-more-line-btn{
    font-size: var(--fds-fs-600);
    line-height: var(--fds-fs-775);
  }
  
  .aqm-banner-converted-to-fds img{
    height: 500px;
  }
  .section-spacing{
    padding: 70px 0px;
  }
  .aeramax-page-title{
    font-size: var(--fds-fs-910);
    line-height: 3.75rem;
    font-weight: 900;
  }
  .aeramax-sub-title{
    font-size: 1.563rem;
    line-height: var(--fds-fs-775);
  }
  .fds-converted-sub-title{
    font-size: var(--fds-fs-500);
    line-height: var(--fds-fs-775);
  }
  .tab-content-p-tag{
    font-size: var(--fds-fs-600);
    line-height: var(--fds-fs-775);
  }
 .btn-aeramax{
  font-size: var(--fds-fs-600);
  line-height: var(--fds-fs-775);

}
.btn-fds-converted{
  font-size: var(--fds-fs-600);
  line-height: var(--fds-fs-775);
}

.aeramax-two-column-title{
  font-size: var(--fds-fs-800);
  line-height: var(--fds-fs-880);
}
.testi-image-box img{
  height: 100%;
  object-fit: cover;
}
.form-sub-title{
  font-size: var(--fds-fs-750);
  line-height: 2.625rem;
}
.case-title{
  font-size: var(--fds-fs-800);
  line-height: var(--fds-fs-880);
}
.fellowes_space_content.content_bottom_position{
  bottom: 15%;
  text-align: center;
  top: auto;
}
.fellowes_space_content {
  position: absolute;
  top: 12%; /*FIC*/
  right: 10%;
  max-width: 650px;
  background-color: rgba(34, 45, 71, 0.9);
  padding: 42px 20px;
}
.fellowes_space_content h3 {
  font-size: var(--fds-fs-800);
  line-height: var(--fds-fs-880);
}
.fellowes_space_content.content_left_position{
  right: auto;
  left: 10%;
}
.fellowes_space_content.content_left_position h3 {
  font-size: 2.875rem;
  line-height: 1.2;
}
.fellowes_space_content{
  top: 12%;
    right: 10%;
}

.fellowes_space_content.fellowes_space_content-landing h3{
  font-size: var(--fds-fs-900);
  line-height: 3rem;
}
.fellowes_space_content.fellowes_space_content-landing p{
  font-size: var(--fds-fs-600);
  line-height: var(--fds-fs-775);
}
.fellowes_space_content-landing{
  right: 10%;
  top: 25%;
}

}

@media (min-width:992px){
  .aeramax-tabs .nav-link span{
    margin-right: 10px;
    display: inline-block;
  }
  .aeramax-tabs .nav-link.active{
    border: 1px solid #2f466a;
    background: transparent;
  }
  .converted-fsd-dropdown-nav .nav-link.active{
    border: 1px solid var(--fds-black);
  }
  .aeramax-tabs .nav-link{
    border: 1px solid #f4f4f4;
  }
  .aermax_technologies_content{
    padding: 0 120px;
  }
}
@media (max-width:991.98px){
  .aeramax-tabs{
    display: none;
  }
  .aeramax-tabs.showpills{
    display: block;
  }
}
@media (min-width: 1400px) and (max-width: 1700px)
{
  .tabbing-section-aeramax .container-fluid, .testimonial-section .container-fluid{
    max-width: 1300px;
    margin: 0 auto;
  }
}
@media (min-width:1700px){
  .tabbing-section-aeramax .container-fluid, .testimonial-section .container-fluid{
    max-width: 1500px;
    margin: 0 auto;
  }
}
@media (max-width:575px){
  .fellowes-banner-image-zoom .fellowes_space_image img {
    height: 400px;
}
}