.mw-766 {
  max-width: 766px;
  margin-inline: auto;
}

.lightbluesection {
  background-color: #ebf0f7;
}

.banner-text__subtitle {
  font-size: var(--fds-fs-700);
}

.iaq-page-h2 {
  font-size: var(--fds-fs-450);
}

.iaq-topics-wrapper {
  display: grid;
  row-gap: 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
}

.iaq-topics-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.75rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.iaq-topic-description {
  font-size: var(--fds-fs-300);
  color: #fff;
  white-space: nowrap;
}

.iaq-topic-img {
  width: 100%;
  display: block;
  max-width: 40px;
}

.iaq-section-title {
  font-size: var(--fds-fs-750);
  margin-bottom: 1.25rem;
  color: var(--fds-blue);
}

.iaq-source-link {
  font-size: var(--fds-fs-300);
  color: var(--fds-blue);
  font-weight: 600;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 1.5rem;
  display: block;
}

.iaq-source-link:hover,
.iaq-source-link:focus,
.iaq-source-link:active {
  color: var(--fds-yellow);
}

.iaq-quote-text-wrapper {
  max-width: 740px;
  margin-inline: auto;
  position: relative;
}

.iaq-quote-text {
  font-size: 13px;
  font-weight: 500;
}

.iaq-quote-icon {
  display: block;
  width: 100%;
  max-width: 18px;
}

.iaq-quote-icon-left {
  position: absolute;
  top: 0;
  left: -1rem;
}

.iaq-quote-icon-right {
  position: absolute;
  bottom: 0;
  right: -1rem;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.doctor-reference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
  margin-block: 1.5rem;
  line-height: 1.4;
}

.doc-ref-text {
  font-size: 12px;
}

.doc-ref-img {
  display: block;
  width: 100%;
  max-width: 28px;
}

.doc-ref-footer {
  font-style: italic;
  font-size: 9px;
}

.topic-img-container {
  margin-top: 3rem;
}

.realtime-header {
  max-width: 300px;
}

.reason-section-2-into {
  font-size: var(--fds-fs-450);
  color: var(--fds-blue);
  max-width: 690px;
  margin-inline: auto;
  line-height: 1.3;
}

.reason-cards-wrapper {
  display: grid;
  gap: 1rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.reason-card {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  max-width: 400px;
}

.reason-card-title {
  font-size: var(--fds-fs-350);
  color: var(--fds-blue);
}

.reason-card-desc {
  color: var(--fds-blue);
  font-size: var(--fds-fs-300);
  font-weight: 500;
}

img.reason-card-icon {
  width: 100%;
  display: block;
  max-height: 60px;
  margin-block: 1rem;
}

.iaq-section-subtitle {
  font-size: 18px;
  font-weight: 300;
  color: var(--fds-blue);
  margin-bottom: 1rem;
  line-height: 1.4;
}

.blue-body-text {
  font-size: 13px;
  color: var(--fds-blue);
}

.benefits-section-2-title {
  color: var(--fds-blue);
  font-size: var(--fds-fs-325);
  font-weight: 600;
  max-width: 727px;
  margin-inline: auto;
  margin-bottom: 1rem;
  line-height: 1.4;
}

.benefits-section-2-subtitle {
  color: var(--fds-blue);
  font-size: var(--fds-fs-250);
  font-weight: 600;
}

.measurables-wrapper {
  display: grid;
  gap: 3rem;
  margin-top: 3rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.measurable-item {
  max-width: 300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.measurable-icon {
  display: block;
  width: 100%;
  margin-bottom: 1.5rem;
  max-height: 85px;
}

.measurable-title {
  font-size: var(--fds-fs-325);
  font-weight: 600;
  color: var(--fds-blue);
  line-height: 1.5;
}

.measurable-desc {
  color: var(--fds-blue);
  font-size: 13px;
  font-weight: 500;
}

.iaq-button {
  text-transform: uppercase;
  font-size: 10px;
}

.access-image-header {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: var(--fds-blue);
  margin-bottom: 0.5rem;
}

.access-percent-img {
  display: block;
  width: 100%;
  max-width: 90px;
  margin-inline: auto;
}

.access-percent-desc {
  color: var(--fds-blue);
  max-width: 250px;
  text-align: center;
  margin-inline: auto;
  margin-block: 1rem;
  font-weight: 600;
  font-size: 11px;
}

.access-percent-wrapper .iaq-source-link {
  margin-bottom: 0;
}

.iaq-quote-text-wrapper.iaq-second-quote {
  max-width: 1100px;
}

.modern-section2-wrapper {
  padding-inline: 2rem;
}

.modern-section2-title {
  font-size: 18px;
  font-weight: 500;
  color: var(--fds-blue);
  line-height: 1.1;
  max-width: 600px;
  margin-bottom: 1rem;
  text-align: center;
  margin-inline: auto;
}

.modern-section2-subtitle {
  max-width: 625px;
  text-align: center;
  margin-inline: auto;
}

.cert-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 0.5rem;
  padding-block: 1rem;
}

.cert-item {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem;
}

.cert-item-img {
  width: 100%;
  display: block;
  max-width: 75px;
  margin-bottom: 1rem;
}

.cert-item-title {
  font-size: 12px;
  font-weight: 500;
  color: var(--fds-blue);
  text-decoration: underline;
}

.realtime-img {
  display: block;
  width: 100%;
  max-width: 199px;
  margin-left: auto;
  margin-right: auto;
}

.realtime-section2-title {
  max-width: 586px;
}

.realtime-grid {
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 1rem;
  margin-block: 3rem;
}

.realtime-item {
  max-width: 400px;
  background-color: var(--fds-grey-200);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding-block: 2rem;
  padding-inline: 0.5rem;
  color: var(--fds-blue);
}

.realtime-item-img {
  display: block;
  width: 100%;
  margin-inline: auto;
}

.realtime-item-title {
  font-size: 18px;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.realtime-item-desc {
  font-size: 13px;
  font-weight: 500;
  max-width: 277px;
  margin-inline: auto;
}

.realtime-item-specs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-block: 2rem;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.realtime-icon {
  display: block;
  width: 100%;
  max-width: 65px;
  margin-inline: auto;
  margin-bottom: 1rem;
  aspect-ratio: 1;
}

.specification-item-title {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.4;
}

.realtime-img-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 1rem;
}

.realtime-img-grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 49%;
  flex: 1 0 49%;
  text-align: center;
  background-color: var(--fds-grey-200);
  margin-bottom: 2%;
  padding: 0.75rem;
  color: var(--fds-blue);
  font-size: 11px;
  font-weight: 600;
  line-height: 1.3;
}

.realtime-img-grid-item-photo {
  display: block;
  width: 100%;
  margin-bottom: 0.75rem;
}

.last-img-grid-item {
  max-width: 49%;
}

.safe-spaces-img {
  display: block;
  width: 100%;
}

.safe-spaces-subtitle {
  font-weight: 600;
}

.safe-spaces-btn {
  text-align: center;
}

.ss-grid {
  display: grid;
  gap: 1rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.ss-grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  color: var(--fds-blue);
  max-width: 350px;
}

.ss-grid-item-icon {
  display: block;
  width: 100%;
  max-width: 45px;
  margin-inline: auto;
}

.ss-grid-item-title {
  font-size: 17px;
  line-height: 1.2;
  font-weight: 300;
  margin-block: 2rem;
}

.ss-grid-item-desc {
  font-size: 13px;
  font-weight: 500;
}

@media (min-width: 576px) {
  .iaq-quote-icon-left {
    left: -1.5rem;
  }

  .iaq-quote-icon-right {
    right: -1.5rem;
  }
}

@media (max-width: 767px) {
  .benefits-section-2-subtitle {
    max-width: 240px;
    margin-inline: auto;
  }
}

@media (min-width: 768px) {
  .banner-text__subtitle {
    font-size: var(--fds-fs-905);
  }

  .iaq-page-h2 {
    font-size: var(--fds-fs-775);
  }

  .iaq-topic-description {
    font-size: var(--fds-fs-350);
  }

  .iaq-topics-wrapper {
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    width: 100%;
    margin-inline: auto;
    margin-bottom: 1rem;
  }

  .iaq-section-title {
    font-size: var(--fds-fs-850);
  }

  .iaq-quote-text {
    font-size: 33px;
    line-height: 1.2;
  }

  .iaq-quote-icon {
    max-width: 40px;
  }

  .iaq-quote-icon-left {
    left: -3rem;
  }

  .iaq-quote-icon-right {
    right: -3rem;
  }

  .doctor-reference {
    gap: 2rem;
    margin-block: 2.5rem;
  }

  .doc-ref-text {
    font-size: 23px;
  }

  .doc-ref-img {
    max-width: 56px;
  }

  .doc-ref-footer {
    font-size: 15px;
  }

  .topic-img-container {
    margin-top: 4rem;
  }

  .realtime-header {
    max-width: 620px;
  }

  .reason-section-2-into {
    font-size: var(--fds-fs-750);
  }

  img.reason-card-icon {
    max-height: 85px;
    margin-block: 1rem;
  }

  .reason-card-title {
    font-size: 23px;
  }

  .reason-card-desc {
    font-size: var(--fds-fs-350);
  }

  .iaq-section-subtitle {
    font-size: 28px;
    line-height: 1.2;
  }

  .blue-body-text {
    font-size: 17px;
  }

  .benefits-section-2-title {
    font-size: var(--fds-fs-700);
    font-weight: 500;
    margin-bottom: 2rem;
  }

  .benefits-section-2-subtitle {
    font-size: var(--fds-fs-450);
    font-weight: 500;
  }

  .measurable-item {
    max-width: 100%;
  }

  .measurable-title {
    font-size: var(--fds-fs-350);
  }

  .measurable-desc {
    font-size: var(--fds-fs-325);
  }

  .measurables-wrapper {
    grid-template-columns: 1fr 1fr;
    margin-top: 4rem;
  }

  .iaq-button {
    font-size: 14px;
  }

  .access-image-header {
    font-size: 20px;
  }

  .access-percent-img {
    max-width: 165px;
  }

  .access-percent-desc {
    margin-block: 1.5rem;
    font-weight: 500;
    font-size: 18px;
  }

  .modern-section2-wrapper {
    padding-inline: 0;
  }

  .modern-section2-title {
    font-size: 35px;
  }

  .cert-item {
    padding: 2rem;
  }

  .cert-item-img {
    max-width: 136px;
    margin-bottom: 2rem;
  }

  .cert-item-title {
    font-size: 15px;
  }

  .realtime-item {
    padding-block: 2.5rem;
  }

  .realtime-img {
    max-width: 250px;
  }

  .realtime-item-title {
    font-size: 23px;
    font-weight: 500;
  }

  .realtime-item-desc {
    font-size: 15px;
    max-width: 306px;
  }

  .realtime-icon {
    max-width: 80px;
  }

  .realtime-img-grid-item {
    font-size: 19px;
    font-weight: 500;
    line-height: 1.1;
  }
}

@media (min-width: 992px) {
  .iaq-source-link {
    margin-bottom: 0px;
  }
  .iaq-quote-icon {
    max-width: 50px;
  }

  .iaq-quote-icon-left {
    left: -5rem;
  }

  .iaq-quote-icon-right {
    right: -4rem;
  }

  .reason-cards-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .measurables-wrapper {
    margin-top: 5rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .cert-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .realtime-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .realtime-img {
    margin-right: unset;
  }

  .realtime-img-grid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    gap: 1%;
  }

  .realtime-img-grid-item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .ss-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .demo-item-desc {
    max-width: 175px;
    margin-inline: auto;
  }
}

@media (min-width: 1200px) {
  .ss-grid {
    margin-top: 3rem;
  }
}
