.navbar .right-nav li:last-child .nav-link::after {
  display: none !important;
}

.navbar .right-nav li:last-child .nav-link {
  padding: 0rem 0rem 0rem 0.5rem !important;
  line-height: 1;
  margin-bottom: 0.1rem;
}

.flag-nav-wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.ca__lang-wrapper {
  display: flex;
  gap: 0.3rem;
  font-size: var(--fds-fs-150);
  line-height: 1;
}

.ca__lang-text {
  position: relative;
  cursor: pointer;
  font-weight: 700;
  color: var(--fds-grey-700);
  -webkit-transition: color 0.75s ease-in-out;
  -o-transition: color 0.75s ease-in-out;
  transition: color 0.75s ease-in-out;
}

.ca__lang-text::after {
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  background-color: var(--fds-yellow);
  width: 25px;
  top: 0.8rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: opacity 0.75s ease-in-out;
  -o-transition: opacity 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out;
  margin-left: 0;
  border: none;
  opacity: 0;
}

.ca__lang-active {
  color: var(--fds-black);
}

.ca__lang-active::after {
  opacity: 1;
}
