.mw-1366 {
  max-width: 1366px;
  margin-inline: auto;
}

.animated-gif {
  object-fit: cover;
  object-position: bottom center;
  width: 100%;
  max-height: 580px;
}

.sub-title-rising {
  font-size: var(--fds-fs-710);
  line-height: var(--fds-fs-800);
}
.banner-video-icon {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}
.banner-video-icon a {
  display: block;
}
.banner-video-icon a img {
  height: auto;
}
.btn-gray {
  background: #aca8a8;
  color: #fcf9f9;
  font-size: var(--fds-fs-500);
  border-radius: 50px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-gray:first-child:hover,
.btn-gray:focus-visible,
.btn-gray:hover,
.btn-gray:focus,
:not(.btn-check) + .btn-gray:hover {
  background: #e3e3e3;
  color: #58595b;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.rising-sub-title {
  font-size: var(--fds-fs-710);
  line-height: var(--fds-fs-800);
}
.rising-quality-bg {
  background: url(../img/cat-rising-loft/quality-section-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.rising-list li {
  margin-bottom: 0.5rem;
}
.quality-img {
  position: relative;
  margin-left: auto;
  width: 90%;
}
@media (min-width: 768px) {
  .megacat-aqm-banner-content .container {
    bottom: 4rem;
  }
  .sub-title-rising {
    font-size: var(--fds-fs-880);
    line-height: var(--fds-fs-775);
  }
  .banner-video-icon {
    width: 150px;
    height: 150px;
  }
  .quality-img {
    width: auto;
  }
}
@media (min-width: 992px) {
  .quality-img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 500px;
  }
}
@media (min-width: 1200px) {
  .w-xl-80 {
    width: 80%;
  }
  .quality-img {
    width: 600px;
  }
  .configration-img {
    height: 500px;
    object-fit: cover;
  }
}

@media (min-width: 1400px) {
  .quality-img {
    width: auto;
  }
}
