.cat-last-section__text {
  max-width: 400px;
  margin-inline: auto;
  padding-block: 2.125rem;
}

.cat-last-section__title {
  font-size: var(--fds-fs-600);
  font-weight: 300;
  margin-bottom: 1.25rem;
}

.cat-last-section__discription {
  font-size: var(--fds-fs-350);
  font-weight: 300;
  line-height: 1.4;
  padding-inline: 1rem;
}

.megacaraqmbg img {
  height: 500px;
  object-fit: cover;
  object-position: bottom center;
}

@media (min-width: 768px) {
  .cat-last-section__title {
    font-size: var(--fds-fs-700);
  }
  .cat-last-section__discription {
    font-size: 1rem;
    padding-inline: 0;
  }
  .megacaraqmbg img {
    height: 700px;
  }
}
