.text-banner-component.text-banner-light {
  background-color: white;
}

.product-hero-component {
  min-height: 500px;
}

.product-hero-component img {
  height: 500px;
  object-fit: cover;
  object-position: center bottom;
}

@media (min-width: 768px) {
  .product-hero-component img {
    height: 700px;
  }
  .product-hero-component .header-banner-text {
    max-width: none;
  }
}

.design-slider-component {
  background-color: #262424;
}
@media (min-width: 768px) {
  .design-slider-component .carousel-inner {
    display: flex;
    overflow-x: hidden;
  }
  .design-slider-component .carousel-item {
    margin-right: 2rem;
    flex: 0 0 75%;
    display: block;
  }
}

.accordion-component .accordion-button:after {
  margin-left: 5px;
}
.accordion-component .accordion-button {
  color: black;
}
.accordion-component .accordion-button:not(.collapsed) {
  color: black !important;
}
.accordion-component .accordion-button:not(.collapsed):after {
  background-image: var(--mdb-accordion-btn-icon);
}

.accordion-component .accordion-header {
  background-color: #f6f5f3;
  color: #383838;
}
.accordion-component .accordion-button {
  background: none;
  border: unset;
}
.accordion-component .accordion-button:not(.collapsed) {
  box-shadow: unset;
}
.accordion-component .accordion-item {
  border: var(--mdb-accordion-border-width) solid white;
}

.accordion-component .accordion-body {
  background-color: #f6f5f3;
}

.accordion-component .accordion-item:first-of-type .accordion-button {
  border-top-left-radius: unset;
  border-top-right-radius: unset;
}
.accordion-component .accordion-item:first-of-type {
  border-top-left-radius: unset;
  border-top-right-radius: unset;
}
.accordion-component .accordion-item:last-of-type .accordion-button {
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
}
.accordion-component .accordion-item:last-of-type {
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
}

@media (min-width: 768px) {

  .accordion-component .accordion-item .accordion-button {
    font-size: var(--fds-fs-750);
    line-height: var(--fds-fs-825);
  }
}

.text-img-columns .text-details dl {
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 1px solid var(--fds-dark-tan);
}
.specs dl {
  margin-left: 0;
  padding-left: 1rem;
  border-left: 1px solid var(--fds-dark-tan);
}
.text-img-columns .text-details dt, .specs dt {
  font-size: var(--fds-fs-325);
  line-height: var(--fds-fs-450);
  font-weight: 500 !important;
  margin-bottom: 0.25rem !important;
}
.text-img-columns .text-details dd, .specs dd {
  font-size: var(--fds-fs-250);
  line-height: var(--fds-fs-450);
  font-weight: 400 !important;
}
.text-img-columns .text-subtitle {
  font-size: 1.313rem;
  line-height: 1.688rem;
  background: var(--fds-dark-tan);
  padding: 0.5rem 1rem;
  color: var(--fds-white);
}
.list-border-left {
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 1px solid var(--fds-dark-tan);
}
