.investing-section-subheader {
  font-size: 18px;
  line-height: 28px;
  margin-block: 1.5rem;
}

@media (min-width: 768px) {
  .investing-section-subheader {
    font-size: 28px;
    line-height: 44px;
    max-width: 800px;
    margin-inline: auto;
  }
}
