.cat-shredder-banner img {
  height: 500px;
  object-fit: cover;
  object-position: top center;
}
.preg-20{
  font-size: var(--fds-fs-450);
  line-height: var(--fds-fs-750);
  font-weight: 500;
}
.contact-title{
  font-size: var(--fds-fs-800);
  line-height: var(--fds-fs-880);
  font-weight: 700;
}
.preg-20.fw-600{
font-weight: 600;
}
.preg-15{
  font-size: 0.938rem;
  line-height: var(--fds-fs-700);
}
.customer-support-title span{
  padding: 0px 15px;
  background: var(--fds-tan);
  z-index: 10;
  position: relative;
}
.customer-support-title{
  position: relative;
}
.customer-support-title::after{
  content: '';
  background: #707070;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -0.5px;
}
.preg-11{
  font-size: var(--fds-fs-200);
  line-height: var(--fds-fs-250);
}
small.preg-11{
  font-weight: 400;
}
.contact-note{
  font-size: var(--fds-fs-150);
  line-height: 0.938rem;
}
.preg-18{
  font-size: var(--fds-fs-450);
  line-height: var(--fds-fs-710);
}
.legal-list{
  padding-left: 1rem;
}
.legal-list li{
  margin-bottom: 2rem;;
}
.legal-list li:last-child{
  margin-bottom: 0rem;
}
.preg-14{
  font-size: var(--fds-fs-325);
  line-height: var(--fds-fs-710);
  font-weight: 500;
}
@media (min-width:768px){
  .banner-text__header {
    font-size: var(--fds-fs-950);
    line-height: 3.75rem;
}
.preg-20{
  font-size: var(--fds-fs-600);
  line-height: var(--fds-fs-775);
}
.contact-title{
  font-size: var(--fds-fs-900);
  line-height: var(--fds-fs-907);
}
}