#main-navbar svg,#main-navbar .search-dropdown .search-icon { transition: all 0.15s ease-in-out }
#main-navbar.top-scrolled-up { background-color: rgba(255, 255, 255, 0);}
#main-navbar.top-scrolled-up svg,
#main-navbar.top-scrolled-up .search-dropdown .search-icon {  fill: var(--fds-white); color: var(--fds-white);}
#main-navbar.top-scrolled-up:hover { background-color: var(--fds-white);}
#main-navbar.top-scrolled-up:hover svg,
#main-navbar.top-scrolled-up:hover .search-dropdown .search-icon { fill: var(--fds-black); color: var(--fds-black);}
.top-scrolled-up .nav-link,.top-scrolled-up .menu-link,
.top-scrolled-up .nav-link,.top-scrolled-up .menu-link { color: var(--fds-white);}
.navbar:hover .nav-link,.navbar:hover .menu-link, 
.navbar:hover.top-scrolled-up .right-nav li:last-child .nav-link { color: #97989c;}
.navbar:hover.top-scrolled-up .right-nav li:last-child .nav-link:hover { color: var(--fds-black);}
.top-scrolled-up .right-nav li:last-child .nav-link { color: var(--fds-white);}
.navbar .nav-link:focus, .navbar .nav-link:hover,
.scrolled-up .nav-link:focus,
.scrolled-up .nav-link:hover,
.navbar .dropdown:hover .nav-link,
.scrolled-up .dropdown:hover .nav-link {color: var(--fds-black);}
.container-sm { max-width: 63rem; }
.h1 { font-size: clamp(2.5rem, 12vw, 8rem); }
.h1-head { font-size: clamp(1.5rem, 7.5vw, 2.875rem); }
.h2 { font-size: clamp(2rem, 6vw, 4rem); }
.h3 { font-size: clamp(2rem, 6vw, 3rem); }
.h4 { font-size: 1.75rem; }
.h5 { font-size: 1.5rem; }
.h6 { font-size: 1.25rem; }
.text-outline { color: #fff; -webkit-text-stroke: max(1px, 0.00625em) #cccccc; }
.display-2 { font-size: clamp(3.25rem, 14vw, 9.375rem); font-weight: 800; line-height: 1.1em; }
.page-decoration { display: flex; justify-content: space-between;margin: 0 auto; position: absolute; top: 0; left: 0;right: 0;bottom: 0; z-index: -1;}
.vertical-line { width: 1px; height: 100%; background-color: #F4F4F4;}
.last-section { padding: 7.5rem 0 10rem;}
@media screen and (max-width: 992px) { .last-section { padding: 3.125rem 0 2.5rem; } .mobile-text-capitalize { text-transform: capitalize !important; }}
.text-black { color: #2E343D !important; }
.text-dark {color: #16191E !important; }
.text-secondary { color: #777777 !important;}
.lead-lg { font-size: 1.063rem; }
.lead-sm { font-size: 0.813rem; }
.top-scrolled-up .nav-link, .top-scrolled-up .menu-link { color: var(--fds-white); }
@media screen and (max-width: 480px) { .lead-lg { font-size: 0.938rem; } }

.hero {
  height: 100vh;
  background: linear-gradient(51.52deg, #000000 -19.2%, rgba(0, 0, 0, 0) 79.51%), url('../img/db/giving\ hero.webp');
  background-size: cover;
}

.hero .h1 .text-nowrap {
  margin-left: auto;
}

.hero-nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  min-height: 2.35rem;
}

.hero-active-link {
  position: relative;
}

.hero-active-link::before {
  content: url("../img/db/Polygon\ 2.svg");
  position: absolute;
  bottom: -.85rem;
  left: 50%;
  transform: translateX(-50%);
}

.btn-group.dropup {
  display: none;
  max-width: 100vw;
  margin: 0 auto;
  box-shadow: none !important;
  min-width: none !important;
}

.giving-dropdown-menu,
.btn-group.dropup button {
  max-width: 17rem;
  border-radius: 1.25rem;
  width: 100%;
}
.giving-dropdown-menu li {
  border: none !important;
}
.btn-group.dropup button {
  letter-spacing: 0.3em;
  background: #5C95CD;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.16);
  border: none;
  min-height: 2.75rem;
}


.dropdown-item--active {
  background: rgba(92, 149, 205, 0.1);
  color: #5C95CD;
}

.difference-decoration {
  letter-spacing: 0.1em;
  font-weight: 800;
  position: absolute;
  left: 6.5%;
  transform: translateY(-65%);
  z-index: -1;
}

.difference-card {
  box-shadow: 0px 7px 24px rgba(0, 0, 0, 0.06);
}

.difference-left-image-wrapper {
  width: 15.875rem;
  position: relative;
  top: .8rem;
  left: 6.8rem;
}

.difference-right-image-wrapper {
  width: 15.875rem;
  position: relative;
  top: 5.5rem;
  left: 10rem;
}

@media screen and (max-width: 1280px) {
  .difference-left-image-wrapper,
  .difference-right-image-wrapper {
    position: static;
    width: auto;
    max-width: 15.875rem;
  }
}

@media screen and (max-width: 1199px) {
  .difference-left-image-wrapper,
  .difference-right-image-wrapper {
    max-width: 26rem;
  }
}

@media screen and (max-width: 991px) {
  .hero .h1 .text-nowrap {
    margin-left: 0;
  }
  .difference-decoration {
    left: 0;
  }
}


@media screen and (max-width: 480px) {
  .hero {
    background-size: cover;
    background-position: 40%;
  }
  .btn-group.dropup {
    display: flex;
  }
  .difference-left-image-wrapper,
  .difference-right-image-wrapper {
    width: 15.875rem;
  }
}
