#main-navbar svg,#main-navbar .search-dropdown .search-icon { transition: all 0.15s ease-in-out }
#main-navbar.top-scrolled-up { background-color: rgba(255, 255, 255, 0);}
#main-navbar.top-scrolled-up svg,
#main-navbar.top-scrolled-up .search-dropdown .search-icon {  fill: var(--fds-white); color: var(--fds-white);}
#main-navbar.top-scrolled-up:hover { background-color: var(--fds-white);}
#main-navbar.top-scrolled-up:hover svg,
#main-navbar.top-scrolled-up:hover .search-dropdown .search-icon { fill: var(--fds-black); color: var(--fds-black);}
.top-scrolled-up .nav-link,.top-scrolled-up .menu-link,
.top-scrolled-up .nav-link,.top-scrolled-up .menu-link { color: var(--fds-white);}
.navbar:hover .nav-link,.navbar:hover .menu-link, 
.navbar:hover.top-scrolled-up .right-nav li:last-child .nav-link { color: #97989c;}
.navbar:hover.top-scrolled-up .right-nav li:last-child .nav-link:hover { color: var(--fds-black);}
.top-scrolled-up .right-nav li:last-child .nav-link { color: var(--fds-white);}
.navbar .nav-link:focus, .navbar .nav-link:hover,
.scrolled-up .nav-link:focus,
.scrolled-up .nav-link:hover,
.navbar .dropdown:hover .nav-link,
.scrolled-up .dropdown:hover .nav-link {color: var(--fds-black);}
.container-sm { max-width: 63rem; }
.h1 { font-size: clamp(2.5rem, 12vw, 8rem); }
.h2 { font-size: clamp(2rem, 6vw, 4rem); }
.h3 { font-size: clamp(2rem, 6vw, 3rem); }
.h4 { font-size: 1.75rem; }
.h5 { font-size: 1.5rem; }
.h6 { font-size: 1.25rem; }
.text-outline { color: #fff; -webkit-text-stroke: max(1px, 0.00625em) #cccccc; }
.display-2 { font-size: clamp(3.25rem, 14vw, 9.375rem); font-weight: 800; line-height: 1.1em; letter-spacing: 0.2em; margin: 0;}
.page-decoration { display: flex; justify-content: space-between;margin: 0 auto; position: absolute; top: 0; left: 0;right: 0;bottom: 0; z-index: -1;}
.vertical-line { width: 1px; height: 100%; background-color: #F4F4F4;}
.last-section { padding: 7.5rem 0 10rem;}
@media screen and (max-width: 992px) { .last-section { padding: 3.125rem 0 2.5rem; } .mobile-text-capitalize { text-transform: capitalize !important; }}
.text-black { color: #2E343D !important; }
.text-dark {color: #16191E !important; }
.text-secondary { color: #777777 !important;}
.lead-lg { font-size: 1.063rem; }
.lead-sm { font-size: 0.813rem; }
.top-scrolled-up .nav-link, .top-scrolled-up .menu-link { color: var(--fds-white); }
@media screen and (max-width: 480px) { .lead-lg { font-size: 0.938rem; } }
.nowrap { white-space: nowrap; }

.hero {
	height: 100vh;
	background: linear-gradient(51.52deg, #000000ed -0%, rgba(0, 0, 0, 0.6) 120%), url('../img/db/overview-hero.webp') no-repeat center;
	background-size: cover;
}

@media screen and (max-width: 768px) {
	/******* hero start *******/
	.overview__hero {
	  background: linear-gradient(11.79deg, #000000 0%, rgba(0, 0, 0, 0.4) 80%), url('../img/db/overview-hero.webp') no-repeat center;
	  background-size: cover;
	}
}

/******* tabs start *******/


#scrollspy-collapsible {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 5.313rem;
}

#scrollspy-collapsible .nav-tabs {
	position: sticky;
	top: 5.313rem;
	z-index: 9999;
}

#scrollspy-collapsible .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	background-color: #fff0 !important;
}

#overview-tabs {
	border-left: 1px solid #F4F4F4;
	border-right: 1px solid #F4F4F4;
}
.nav-tabs .nav-link {
	text-align: left;
	color: #b2b2b2;
	letter-spacing: 2px;
	border: none;
	border-left: 3px solid transparent;
}
  
.nav-tabs .nav-link:hover {
	background-color: transparent;
}
  
.nav-tabs .nav-link.active {
	border-left-color: #000000;
	color: #b2b2b2;
}
.overview-tab-content {
	width: 100%;
}

.nav-link::after {
	height: 0 !important;
}

.tab-pane {
	padding: 5rem 0 18.125rem;
}

@media (max-width: 768px) {
	.tab-pane {
		padding: 3.125rem 0;
	}
}
  
@media (max-width: 767px) {
	#v-tabs-tab {
		display: none;
	}

	.tab-content > .active,
	.tab-content > .tab-pane {
		display: block;
		opacity: 1;
	}
}
  
  /******* tabs end *******/


  /*********  FAMILY  ********/

.overview__family-content-wrapper {
	max-width: 50.1rem;
	margin: 0 auto;
}
.overview__family-content-wrapper .lead-lg {
	max-width: 38.5rem;
}
.overview__figure--left {
	position: relative;
	left: -4.5rem;
	max-width: 37.5rem;
	width: 100%;
	max-height: 20rem;
	object-fit: cover;
}
.overview__figure--center {
	position: relative;
	left: 5.5rem;
	max-width: 16.875rem;
	max-height: 16.875rem;
	width: 100%;
	object-fit: cover;
}
.overview__figure--right {
	position: relative;
	right: -5.5rem;
	top: -20rem;
	max-height: 15.625rem;
	width: 27.625rem;
	object-fit: cover;
}

@media (max-width: 1439px) {
	.overview__figure--left,
	.overview__figure--center,
	.overview__figure--right {
	  	position: static;
		max-height: none;
		height: 17.25rem;
		max-width: 33%;
		object-fit: cover;
	}
	.overview__family-figures-wrapper {
		gap: 1rem;
	}
}

@media (max-width: 1279px) {
	#scrollspy-collapsible {
		display: none;
	}
}
@media (max-width: 480px) {
	.overview__family-figures-wrapper img {
		height: 6.875rem;
		width: calc(33% - .5rem);
	}
}

.overview__family-list {
	max-width: 70rem;
	margin: 0 auto;
	column-gap: 1.875rem;
	row-gap: 5rem;
	padding-left: 0 !important;
}
  
.overview__family-item {
	max-width: 19.375rem;
	padding-left: 2.5rem;
	position: relative;
}
  
.overview__family-item i {
	position: absolute;
	top: -4.375rem;
	left: 0;
	width: 4.875rem;
	height: 9.375rem;
	z-index: -1;
}

.overview__family-item-heading {
	font-size: 2.125rem;
	line-height: 1.2em;
	letter-spacing: 0.01em;
}
  
.overview__family-item .icon-1 {
	background: url('../img/db/1.svg') no-repeat center;
}
  
.overview__family-item .icon-2 {
	background: url('../img/db/2.svg') no-repeat center;
}
  
.overview__family-item .icon-3 {
	background: url('../img/db/3.svg') no-repeat center;
}

@media screen and (max-width: 767px) {
	.overview__family-item-heading {
		font-size: 1.5rem;
	  }
}

/******* INOVATION  ********/

.overview__innovation-content-wrapper,
.overview__quality-container,
.overview__care-container {
	max-width: 60rem;
	width: 100%;
	margin: 0 auto;
}

.overview__innovation-header {
	margin-bottom: 14rem;
}

.overview__innovation-heading--xxl {
	max-width: 27rem;
	word-wrap: break-word !important;
}

.overview__innovation-figure {
	position: absolute;
	right: -1.5rem;
	bottom: -4rem;
	width: 100%;
	height: 100%;
	max-width: 42.5rem;
	max-height: 26.25rem;
	object-fit: cover;
}

.overview__innovation-top-figure-wrapper {
	position: relative;
	column-gap: 0.875rem;
	margin-bottom: 6.5rem;
  }
  
.overview__innovation-top-figure--left {
	position: relative;
	bottom: -5.5rem;
	left: -2rem;
	object-fit: cover;
	width: 27.875rem;
	height: 22.5rem;
}
  
.overview__innovation-top-figure--center {
	position: relative;
	top: 0.375rem;
	object-fit: cover;
	width: 27.85rem;
	height: 15.125rem;
}
  
.overview__innovation-top-figure--right {
	position: relative;
	top: -7rem;
	right: -2rem;
	object-fit: cover;
	width: 27.875rem;
	height: 22.5rem;
}
  
.overview__innovation-bottom-figure-wrapper {
	position: relative;
	column-gap: 0.875rem;
	max-height: 24rem;
}
  
.overview__innovation-bottom-figure--left {
	position: relative;
	top: -14rem;
	left: -2rem;
	object-fit: cover;
	width: 27.875rem;
	height: 31.25rem;
}
  
.overview__innovation-bottom-figure--center {
	object-fit: cover;
	width: 27.875rem;
	height: 24.063rem;
}
  
.overview__innovation-bottom-figure--right {
	position: relative;
	top: -26rem;
	right: -2rem;
	object-fit: cover;
	width: 27.875rem;
	height: 38.75rem;
}

.overview__innovation-figure-heading {
	max-width: 18.938rem;
	margin: 0 auto;
	margin-bottom: 6.5rem;
}

@media screen and (max-width: 1439px) {
	.overview__innovation-bottom-figure-wrapper {
		max-height: 26vw;
	}

	.overview__innovation-top-figure-wrapper {
		margin-bottom: calc(7vw + 0.375rem);
	}

	.overview__innovation-figure-heading {
		margin-bottom: 7vw;
	}
	
	.overview__innovation-top-figure-wrapper,
	.overview__innovation-bottom-figure-wrapper {
		justify-content: space-between !important;
	}
	
	.overview__innovation-top-figure-wrapper img,
	.overview__innovation-bottom-figure-wrapper img {
		width: 31%;
		height: auto;
	}
	
	.overview__innovation-top-figure--left,
	.overview__innovation-top-figure--right {
		left: 0;
		top: 7vw;
		min-height: 28vw;
	}
	
	.overview__innovation-bottom-figure--left,
	.overview__innovation-bottom-figure--right {
		top: -14vw;
		left: 0;
		min-height: 34vw;
	}
	
	.overview__innovation-bottom-figure--right {
		top: -14vw;
		left: 0;
		min-height: 42vw;
	}
}

@media (max-width: 1279px) {
	.overview__innovation-heading--xxl {
	  font-size: 12vw;
	  max-width: 34vw;
	}
  
	.overview__innovation-header {
	  margin-bottom: 10rem;
	}
  
	.overview__innovation-figure {
	  max-width: 55vw;
	  left: 24vw;
	  top: 8vw;
	  bottom: auto;
	  width: 100%;
	  height: auto;
	}
  
	.overview__innovation-figure-heading {
	  font-size: 4vw;
	  max-width: 30vw;
	}
}

@media screen and (max-width: 768px) {
	.overview__innovation-heading--xxl {
	  font-size: 15vw;
	  max-width: 38vw;
	}
  
	.overview__innovation-header {
	  margin-bottom: 10rem;
	}
  
	.overview__innovation-figure {
	  max-width: 61vw;
	  left: 31vw;
	  top: 10vw;
	  bottom: auto;
	}
  
	.overview__innovation-figure-heading {
	  font-size: 4vw;
	  max-width: 30vw;
	}
  
	.overview__innovation-bottom-figure-wrapper {
	  max-height: 26vw;
	}
}

@media (max-width: 480px) {
	.overview__innovation-header {
	  margin-bottom: 4.56rem;
	}
	.overview__innovation-heading--xxl {
	  font-size: 13.2vw;
	  max-width: 34vw;
	}
	.overview__innovation-figure {
	  left: 27vw;
	  top: 8vw;
	}
	.overview__innovation-heading--xl {
	  font-size: 2rem;
	  width: 100%;
	  margin-bottom: 1.5rem;
	}
	.overview__innovation-paragraph {
	  font-size: 0.938rem;
	  margin-bottom: 1.5rem;
	}
	.overview__innovation-figure-heading {
	  font-size: 3.15vw;
	  max-width: 23vw;
	}
}

/******* QUALITY  ******/
.overview__quality-list {
	display: flex;
	flex-direction: column;
	row-gap: 1.5rem;
	font-size: 0.938rem;
	color: #2e343d;
	max-width: 37rem;
	padding-left: 0;
}

.overview__quality-item {
	margin-left: 3.25rem;
	position: relative;
	list-style: none;
}
.overview__quality-item::before {
	content: '';
	position: absolute;
	left: -2.25rem;
	top: 50%;
	transform: translateY(-50%);
	width: 1.25rem;
	height: 1.25rem;
	border-radius: 50%;
	background-color: #d9d9d9;
}

.overview__quality-figures-wrapper {
	position: relative;
	display: flex;
	column-gap: 2.375rem;
	max-height: 18.75rem;
}
  
.overview__quality-figure--right {
	position: absolute;
	right: 0;
	top: -28.4rem;
	width: 20rem;
	height: 23.438rem;
	object-fit: cover;
}
  
.overview__quality-figure--left {
	width: 28%;
	max-width: 18.438rem;
	object-fit: cover;
}
  
.overview__quality-figure--center {
	width: 68%;
	max-width: 39.188rem;
	object-fit: cover;
	margin-left: auto;
}

@media (max-width: 1439px) { 
	.overview__quality-figure--right {
		display: none;
	  }
	
	  .overview__quality-heading--xxl {
		font-size: 15vw;
	  }
	
	  .overview__quality-figures-wrapper {
		column-gap: 0.813rem;
		max-height: 25vw;
	  }
	
	  .overview__quality-list {
		margin-bottom: 2rem;
	  }
	
	  .overview__quality-item {
		margin-left: 2.25rem;
	  }
}

/****** CARE ******/

.overview__care-top-figures-wrapper,
.overview__care-center-figures-wrapper,
.overview__care-bottom-figures-wrapper {
  display: flex;
  width: 100%;
  column-gap: 2.5rem;
  max-height: 18.75rem;
}

.overview__care-top-figures-wrapper,
.overview__care-center-figures-wrapper {
  margin-bottom: 2.5rem;
}

.overview__care-description-wrapper {
  min-width: 18.125rem;
  width: 100%;
  padding: 3.438rem 0;
}

.overview__care-description-heading {
  max-width: 17.5rem;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.2em;
  letter-spacing: 0.01em;
  color: #16191E;
  margin-bottom: 1.375rem;
  text-align: left;
}

.overview__care-description-paragraph {
  font-size: 0.813rem;
  color: #2E343D;
  text-align: left;
}

.overview__care-figure--xl {
  width: 100%;
  max-width: 18.438rem;
  object-fit: cover;
}

.overview__care-figure--xxl {
  width: 100%;
  max-width: 33.4rem;
  object-fit: cover;
  position: relative;
}

.overview__care-center-figures-wrapper {
  position: relative;
  left: -14.7rem;
}

.overview__care-bottom-figures-wrapper .overview__care-figure--xxl {
  max-width: 39.25rem;
  width: 100%;
}

@media screen and (max-width: 1439px) {
	.overview__care-figure--xl,
	.overview__care-figure--xxl {
		max-width: 17.438rem;
	}

	.overview__care-description-wrapper {
		min-width: 17.125rem;
	}

	.overview__care-center-figures-wrapper {
		position: static;
	}

	.overview__care-bottom-figures-wrapper .overview__care-figure--xxl {
		max-width: 36.75rem;
	}
}
@media screen and (max-width: 1439px) {
	.overview__care-figure--xl,
	.overview__care-figure--xxl {
		max-width: 17.438rem;
	}

	.overview__care-description-wrapper {
		min-width: 17.125rem;
	}

	.overview__care-center-figures-wrapper {
		position: static;
	}

	.overview__care-bottom-figures-wrapper .overview__care-figure--xxl {
		max-width: 36.75rem;
	}
}

@media screen and (max-width: 992px) {
	.overview__care-top-figures-wrapper,
	.overview__care-center-figures-wrapper,
	.overview__care-bottom-figures-wrapper {
	  flex-wrap: wrap;
	  max-height: none;
	  column-gap: 4%;
	}
  
	.overview__care-description-wrapper {
	  padding: 0;
	  order: 0;
	  margin-bottom: 2rem;
	}
  
	.overview__care-figure--xl,
	.overview__care-figure--xxl {
	  max-width: none;
	  width: 100%;
	  max-height: 18.75rem;
	}
  
	.overview__care-top-figures-wrapper .overview__care-figure--xl,
	.overview__care-center-figures-wrapper .overview__care-figure--xl {
	  max-width: 36%;
	  order: 1;
	}
  
	.overview__care-center-figures-wrapper .overview__care-figure--xxl,
	.overview__care-top-figures-wrapper .overview__care-figure--xxl {
	  max-width: 60%;
	  order: 2;
	}
  
	.overview__care-bottom-figures-wrapper .overview__care-figure--xxl {
	  max-width: 100%;
	  order: 2;
	}
  
	.overview__care-paragraph {
	  margin-bottom: 2.5rem;
	  font-size: 0.938rem;
	}
  
	.overview__care-description-heading {
	  max-width: none;
	}
}
@media screen and (max-width: 768px) {
	.overview__care-heading--xxl {
		font-size: 15vw;
		position: relative;
	}
	
	.overview__care-heading--xl {
		margin-bottom: 1.5rem;
	}
	
	.overview__care-figure--xl,
	.overview__care-figure--xxl {
		max-height: 28vw;
	}
}

@media screen and (max-width: 480px) {	
	.overview__care-heading--xxl::before {
		content: 'care';
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, -40%);
		padding: 0.25rem 0.375rem;
		font-weight: 700;
		font-size: 0.625rem;
		line-height: 1em;
		letter-spacing: 0.3em;
		text-transform: uppercase;
		color: #fff;
		background: #16191E;
		border-radius: 0.5rem;
	}
	
	.overview__care-heading--xl {
		font-size: 2rem;
		max-width: 21.563rem;
		text-align: center;
	}
	
	.overview__care-description-heading {
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}
	
	.overview__care-description-paragraph {
		font-size: 0.938rem;
	}
	
	.overview__care-top-figures-wrapper,
	.overview__care-center-figures-wrapper {
		margin-bottom: 4rem;
	}
}