#main-navbar svg,#main-navbar .search-dropdown .search-icon { transition: all 0.15s ease-in-out }
#main-navbar.top-scrolled-up { background-color: rgba(255, 255, 255, 0);}
#main-navbar.top-scrolled-up svg,
#main-navbar.top-scrolled-up .search-dropdown .search-icon {  fill: var(--fds-white); color: var(--fds-white);}
#main-navbar.top-scrolled-up:hover { background-color: var(--fds-white);}
#main-navbar.top-scrolled-up:hover svg,
#main-navbar.top-scrolled-up:hover .search-dropdown .search-icon { fill: var(--fds-black); color: var(--fds-black);}
.top-scrolled-up .nav-link,.top-scrolled-up .menu-link,
.top-scrolled-up .nav-link,.top-scrolled-up .menu-link { color: var(--fds-white);}
.navbar:hover .nav-link,.navbar:hover .menu-link, 
.navbar:hover.top-scrolled-up .right-nav li:last-child .nav-link { color: #97989c;}
.navbar:hover.top-scrolled-up .right-nav li:last-child .nav-link:hover { color: var(--fds-black);}
.top-scrolled-up .right-nav li:last-child .nav-link { color: var(--fds-white);}
.navbar .nav-link:focus, .navbar .nav-link:hover,
.scrolled-up .nav-link:focus,
.scrolled-up .nav-link:hover,
.navbar .dropdown:hover .nav-link,
.scrolled-up .dropdown:hover .nav-link {color: var(--fds-black);}
.container-sm { max-width: 63rem; }
.h1 { font-size: clamp(2.5rem, 12vw, 8rem); }
.h2 { font-size: clamp(2rem, 6vw, 4rem); }
.h3 { font-size: clamp(2rem, 6vw, 3rem); z-index: 2; position: relative; }
.h4 { font-size: 1.75rem; }
.h5 { font-size: 1.5rem; }
.h6 { font-size: 1.25rem; }
.text-outline { color: #fff; -webkit-text-stroke: max(.6px, 0.00625em) #cccccc; z-index: -1;}
.display-2 { font-size: clamp(3.25rem, 14vw, 9.375rem); font-weight: 800; line-height: 1.1em; line-height: 1em; letter-spacing: 0.2em;}
.page-decoration { display: flex; justify-content: space-between;margin: 0 auto; position: absolute; top: 0; left: 0;right: 0;bottom: 0; z-index: -1;}
.vertical-line { width: 1px; height: 100%; background-color: #F4F4F4;}
.last-section { padding: 7.5rem 0 10rem;}
@media screen and (max-width: 992px) { .last-section { padding: 3.125rem 0 2.5rem; } .mobile-text-capitalize { text-transform: capitalize !important; } .lead-lg {font-size: 0.938rem;}}
.text-black { color: #2E343D !important; }
.text-dark {color: #16191E !important; }
.text-secondary { color: #777777 !important;}
.lead-lg { font-size: 1.063rem; }
.lead-sm { font-size: 0.813rem; }
.lead { font-size: 0.938rem; line-height: 1.5em; margin: 0 ;}
.top-scrolled-up .nav-link, .top-scrolled-up .menu-link { color: var(--fds-white); }
@media screen and (max-width: 480px) { .lead-lg { font-size: 0.938rem; } }

/******* hero start *******/
.story__hero {
    height: 100vh;
    background: url('../img/db/story-hero.jpg') no-repeat center;
    background-size: cover;
  }
  
  .story-hero__inner {
    gap: 5rem;
  }
  
  @media (min-width: 1440px) {
    .story-hero__inner {
      gap: 10rem;
    }
  }
  
  .story-hero__title {
    font-size: 8rem;
    font-weight: 600;
    line-height: 1.1;
  }
  
  .story-hero__title2 {
    padding-left: 5rem;
  }
  
  @media (max-width: 991px) {
    .story-hero__title2 {
      padding-left: 0;
    }
  }
  
  /* by figma font size is 17px */
  .story-hero__subtitle {
    width: 22.5rem;
  }
  
  @media (max-width: 991px) {
    .story-hero__subtitle {
      width: 100%;
    }
  }
  /******* hero end *******/
  
  /******* story start *******/
  
  /******* story content start *******/
  .story {
    height: calc(100vh + 30rem);
    display: flex;
    flex-direction: column;
    z-index: 1001;
    position: relative;
    top: 0;
    background-color: var(--mdb-white);
  }
  
  .story__container {
    flex: 1;
    height: 100%;
    max-height: calc(100% - 30rem);
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    flex-direction: column;
    top: 0;
  }
  
  .story__skip {
    padding: 0 0;
    position: absolute;
    top: 2.25rem;
    right: 3rem;
    background: none;
    color: #b2b2b2;;
    border: 1px dashed transparent;
    transition: border 0.2s ease-in-out;
  }
  
  .story__skip:hover {
    color: #b2b2b2;;
    border-bottom-color: #b2b2b2;;
  }
  
  .story__content {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    flex: 1;
    width: auto;
    margin: 0;
    align-items: center;
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .story__content::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .story__content {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .story__content-box {
    height: 100%;
    width: auto;
    max-width: 90rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    min-width: 200%;
  }
  
  .story__box-inner {
    display: flex;
    height: 100%;
    align-items: center;
    /*border: 5px solid green;*/
  }
  
  .story__content-part {
    width: 100vw;
    max-width: 90rem;
    min-height: 43.75rem;
    display: flex;
    justify-content: center;
  }
  
  .story__content-block {
    width: 100%;
    max-width: 65rem;
    padding-inline-end: 2.5rem;
  }
  /******* story content end *******/
  
  /******* story nav start *******/
  .story__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 1.125rem;
    max-width: 720px;
    margin: 20px auto 60px;
    position: relative;
  }
  
  .story__nav:after {
    width: 96%;
    height: 1px;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background: #e4e4e4;
    transform: translate(-50%, -50%);
    z-index: 0;
  }
  
  .story__nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 0.25rem;
    position: relative;
    z-index: 10;
  }
  
  .story__nav-title {
    display: block;
    padding: 0.2rem 0.75rem;
    font-size: 0.725rem;
    white-space: nowrap;
    font-weight: 200;
    color: #b2b2b2;;
    line-height: 1;
    border-radius: 30px;
    background: transparent;
    transition: 0.2s ease-in-out;
    position: absolute;
    top: 1.3rem;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .story__nav-dot {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: #b2b2b2;;
    transition: 0.2s ease-in-out;
  }
  
  .story__nav-link.active .story__nav-title {
    font-size: 1rem;
    font-weight: 400;
    background: #111111;
    color: var(--fds-white);
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.4);
  }
  
  .story__nav-link.active .story__nav-dot {
    width: 1rem;
    height: 1rem;
    background-color: #fbba00;
  }
  
  .story__nav-link-1 {
    margin-right: 9.375rem;
  }
  
  .story__nav-link-2 {
    margin-right: 3.75rem;
  }
  
  .story__nav-link-3 {
    margin-right: 9.875rem;
  }
  
  .story__nav-link-4 {
    margin-right: 5rem;
  }
  
  .story__nav-link-5 {
    margin-right: 9rem;
  }
  /******* story nav end *******/
  
  /******* story part common start *******/
  .story__part-title {
    font-size: clamp(4rem, 12vw, 10rem); ;
    color: #FBBA00;
    line-height: 1;
    margin: 0;
  }
  
  .story__part-title--white {
    color: var(--mdb-white);
    text-shadow: 1px 0px 0px #d5d5d5, 
      0px 1px 0px #d5d5d5, 
      0px -1px 0px #d5d5d5, 
      -1px 0px 0px #d5d5d5,
      1px 1px 0px #d5d5d5,
      1px -1px 0px #d5d5d5,
      -1px 1px 0px #d5d5d5,
      -1px -1px 0px #d5d5d5;
  }

  .story__part-image {
    margin: 0;
  }

  .story__part-image img {
    inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  
  .story__part-name {
    line-height: 1em;
    z-index: -1;
  }

  /******* story part common end *******/
  
  /******* story part 1-1 1917 start *******/
  
  .story__part-header-1-1 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 25.813rem;
  }
  
  .story__part-body-1-1 {
    bottom: 0;
    right: 0;
    width: 60%;
    height: 100%;
  }
  
  .story__part-body-inner-1-1 {
    bottom: 0;
    left: 0;
    display: flex;
    gap: 3.75rem;
  }
  
  .story__part-image-1-1-3 {
    right: 0;
    top: 5rem;
  }
  
  .story__part-name-1-1 {
    top: 14%;
    left: 52%;
    transform: translateX(-50%);
    line-height: 1em;
  }
  /******* story part 1-1 1917 end *******/
  
  /******* story part 1-2 1917 start *******/
  
  .story__content-block-1-2 {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 2.625rem;
  }
  
  .story__part-header-1-2 {
    transform: translate(-2.5rem, 0);
  }
  
  .story__part-body-1-2 {
    display: flex;
    flex-flow: row wrap;
    align-items: start;
    justify-content: space-between;
    gap: 3.75rem;
  }
  
  .story__part-text-1-2 {
    width: calc(50% - (3.75rem / 2));
  }
  
  .story__part-image-1-2-1 {
    flex: 1 1 0px;
    height: 17.75rem;
  }
  
  .story__part-image-1-2-2 {
    flex: 0 0 15.6875rem;
    height: 17.75rem;
  }
  
  /******* story part 1-2 1917 end *******/
  
  /******* story part 2-1 1917 start *******/
  .story__part-header-2-1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5rem;
    max-width: 29.063rem;
  }
  
  .story__part-subtitle-2-1 {
    max-width: 50%;
  }
  
  .story__part-body-2-1 {
    max-width: 50%;
    bottom: 0;
    right: 0;
  }
  
  .story__part-name-2-1 {
    bottom: 10rem;
    left: 0;
  }
  /******* story part 2-1 1917 end *******/
  
  /******* story part 2-2 1931-1936 start *******/
  .story__part-header-2-2 {
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
    width: max-content;
  }
  
  .story__part-text-2-2 {
    max-width: 27rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .story__part-body-2-2 {
    max-width: 50%;
    bottom: 0;
    right: 0;
    display: flex;
    gap: 3.75rem;
  }
  /******* story part 2-2 1931-1936 end *******/
  
  /******* story part 3-1 1941 start *******/
  .story__part-header-3-1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 3rem;
  }
  
  .story__part-body-3-1 {
    width: 50%;
    bottom: 0;
    right: 0;
  }
  
  .story__part-image-3-1-1 {
    width: 100%;
    bottom: 0;
    right: 0;
  }
  
  .story__part-name-3-1 {
    top: 0;
    transform: translate(5rem, 0);
    line-height: 1em;
    max-width: 4ch;
  }
  /******* story part 3-1 1941 end *******/
  
  /******* story part 3-2 1941 start *******/
  .story__content-part-3-2 {
    display: flex;
    padding-left: 15rem;
    align-items: stretch;
  }
  
  .story__part-header-3-2 {
    max-width: 45%;
    height: 100%;
    display: flex;
    flex-flow: column-reverse;
    justify-content: space-between;
    padding-bottom: 3rem;
  }
  
  .story__part-body-3-2 {
    width: 50%;
    height: 100%;
    bottom: 0;
    right: 0;
  }
  
  .story__part-text-3-2 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .story__part-image-3-2-1 {
    width: 16.5rem;
    max-width: 60%;
    top: 10%;
    left: 2%;
  }
  .story__part-image-3-2-2 {
    width: 16.5rem;
    max-width: 60%;
    left: 0;
    bottom: 0;
  }
  .story__part-image-3-2-3 {
    width: 22.3125rem;
    max-width: 60%;
    right: 2.5rem;
    bottom: 20%;
  }
  /******* story part 3-2 1941 end *******/
  
  /******* story part 4-1 1967 start *******/
  .story__part-header-4-1 {
    right: 0;
    transform: translate(5rem, 0);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    max-width: min-content;
    line-height: 1em;
    z-index: -1;
  }
  
  .story__part-body-4-1 {
    width: 100%;
    height: 100%;
    inset: 0;
  }
  
  .story__part-image-4-1-1 {
    width: 50%;
    left: 0;
    bottom: 0;
  }
  
  .story__part-image-4-1-2 {
    right: 0;
    top: 5rem;
  }
  
  .story__part-name-4-1 {
    top: 0;
    left: 49%;
    line-height: 1em;
    max-width: 4ch;
  }
  /******* story part 4-1 1967 end *******/
  
  /******* story part 4-2 1967 start *******/
  .story__part-header-4-2 {
    position: absolute;
    left: 54%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    max-width: min-content;
    line-height: 1em;
  }
  
  .story__part-text-4-2 {
    max-width: 32rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .story__part-body-4-2 {
    width: 100%;
    height: 100%;
    inset: 0;
  }
  
  .story__part-image-wrp-4-2 {
    display: flex;
    align-items: stretch;
    gap: 3.75rem;
    left: 0;
    bottom: 0;
  }
  
  .story__part-image-4-2-3 {
    left: 110%;
    top: -25.5rem;
  }
  /******* story part 4-2 1967 end *******/
  
  /******* story part 5-1 1980 start *******/
  .story__part-header-5-1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 3rem;
    max-width: 25rem;
  }
  
  .story__part-body-5-1 {
    width: 50%;
    display: flex;
    align-items: end;
    gap: 3.75rem;
    bottom: 0;
    right: 0;
  }
  
  .story__part-name-5-1 {
    top: 10%;
    transform: translate(10rem, 0);
    line-height: 1em;
    max-width: 4ch;
  }
  /******* story part 5-1 1980 end *******/
  
  /******* story part 5-2 1980 start *******/
  .story__content-part-5-2 {
    display: flex;
    padding-left: 15rem;
    align-items: stretch;
  }
  
  .story__part-header-5-2 {
    max-width: 60%;
    height: 100%;
    display: flex;
    flex-flow: column-reverse;
    justify-content: space-between;
    padding-bottom: 3rem;
  }
  
  .story__part-text-5-2 {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .story__part-body-5-2 {
    height: 100%;
    width: 50%;
    bottom: 0;
    right: 0;
  }
  
  .story__part-image-5-2-1 {
    width: 22.5rem;
    max-width: 60%;
    top: 20%;
    left: 2%;
  }
  .story__part-image-5-2-2 {
    width: 22.5rem;
    max-width: 60%;
    left: 0;
    bottom: 0;
  }
  .story__part-image-5-2-3 {
    width: 11.6875rem;
    max-width: 40%;
    right: 2.5rem;
    bottom: 20%;
  }
  /******* story part 5-2 1980 end *******/
  
  /******* story part 6-1 1980 start *******/
  .story__content-part-6-1 {
    display: flex;
    padding-left: 15rem;
    align-items: stretch;
  }
  
  .story__part-header-6-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7rem;
    padding-top: 2rem;
    max-width: 32.688rem;
  }
  
  .story__part-subtitle-6-1 {
    max-width: 20ch;
  }
  
  .story__part-body-6-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.75rem;
    bottom: 0;
    right: 0;
  }
  
  .story__part-name-6-1 {
    bottom: 5rem;
    line-height: 1em;
    min-width: 7ch;
    z-index: -1;
  }
  /******* story part 6-1 1980 end *******/
  
  /******* story part 6-2 1980 start *******/
  .story__part-header-6-2 {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding-bottom: 3rem;
  }
  
  .story__part-body-6-2 {
    width: 50%;
    bottom: 0;
    right: 0;
  }
  
  .story__part-text-6-2 {
    max-width: 45%;
  }
  /******* story part 6-2 1980 end *******/

  @media screen and (max-width: 1439px) {
    figure img {
        width: 100%;
        height: 100% !important;
        object-fit: cover;
    }
    
    figure {
        margin: 0 !important;
    }

    .story {
        z-index: 0;
        position: relative;
        height: auto;
        overflow-x: hidden;
    }
    .story__content,
    .story__box-inner {
        width: 100vw;
        flex-direction: column;
    }

    .story__content-box  {
        min-width: auto;
        max-width: 100vw;
    }

    .tory__content  {
        padding: 3.125rem 1.5rem;
    }

    .story__nav,
    .story__skip {
        display: none;
        overflow-x: hidden;
    }

    .story__content-part {
        max-width: 63rem;
        margin: 0 auto;
        padding-inline: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
        row-gap: 2rem;
        overflow-x: hidden;
        min-height: auto;
    }

    .story__content-block {
        padding-inline-end: 0;
    }

    .story__part-body-1-1,
    .story__part-body-inner-1-1,
    .story__part-image-1-1-3,
    .story__part-body-2-1,
    .story__part-body-2-2,
    .story__part-body-3-1,
    .story__part-body-3-2,
    .story__part-body-3-2 figure,
    .story__part-header-4-2,
    .story__part-body-4-2,
    .story__part-image-4-2-3,
    .story__part-header-4-1,
    .story__part-body-4-1,
    .story__part-image-4-1-1,
    .story__part-image-wrp-4-2,
    .story__part-image-wrp-4-3,
    .story__part-body-5-1,
    .story__part-body-5-2,
    .story__part-image-5-2-1,
    .story__part-image-5-2-2,
    .story__part-image-5-2-3,
    .story__part-body-6-1,
    .story__part-body-6-2  {
        position: static !important;
    }

    .story__part-body-1-1,
    .story__part-body-inner-1-1 {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        width: 100%;
    }

    .story__part-body-inner-1-1 {
        order: 2;
    }

    .story__part-body-inner-1-1 {
        order: 1;
    }

    .story__part-image-1-1-3,
    .story__part-body-inner-1-1,
    .story__part-body-inner-1-1 figure {
        width: calc(50% - 0.75rem);
    }

    .story__box-inner {
        row-gap: 2.5rem;
    }

    .story__part-header-1-2 {
        transform: translate(0, 0);
    }

    .story__part-header-2-1,
    .story__part-header-2-2,
    .story__part-header-3-1,
    .story__part-header-5-2,
    .story__part-header-6-1 {
        max-width: 100%;
        width: 100%;
        padding-bottom: 0;
    }
    .story__part-header-2-1 .story__part-title {
        margin-bottom: 3.375rem;
    }
    .story__part-header-2-1 .h3  {
        max-width: 32rem;
    }
    .story__part-name-2-1 {
        top: 5.5rem;
        bottom: auto;
        left: auto;
        right: 0;
    }
    .story__part-body-2-1,
    .story__part-body-2-2 {
        width: 100%;
        max-width: 100%;
        column-gap: 1.5rem;
    }

    .story__part-text-2-2,
    .story__part-text-3-2,
    .story__part-text-4-2,
    .story__part-text-5-2 {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 100%;
    }


    .story__part-text-3-2 .h3,
    .story__part-text-4-2 .h3,
    .story__part-text-5-2 .h3 {
        width: 100%;
    }

    .story__part-text-3-2 .lead,
    .story__part-text-4-2 .lead,
    .story__part-text-5-2 .lead {
        width: calc(50% - .75rem);
    }

    .story__part-header-3-2,
    .story__part-header-6-2 {
        flex-wrap: wrap;
        width: 100%;
        max-width: 100%;
        padding-bottom: 0;
    }

    .story__part-name-3-1 {
        left: auto;
        right: 3.5rem;
        top: .5rem;
        transform: none;
    }

    .story__part-body-3-2 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: flex-end;
    }

    .story__part-body-3-2 figure {
        width: calc(50% - .75rem);
    }

    .story__part-body-3-2 figure:first-child {
        width: 50%;
        padding-left: .75rem;
    }

    .story__part-header-3-2 .story__part-title {
        position: absolute;
        bottom: -28vw
    }

    .story__part-header-4-1 {
        width: 100%;
    }

    .story__part-header-4-1 {
        transform: none;
    }

    .story__part-name-4-1,
    .story__part-name-5-1 {
        top: 4rem;
        left: auto;
        right: 3rem;
        transform: none;
    }

    .story__part-image-4-1-2 {
        display: none;
    }

    .story__part-image-4-1-1 {
        width: 100%;
        order: 1;
    }

    .story__part-header-4-2 {
        max-width: 100%;
        margin-top: 1.25rem;
        text-align: center;
        order: 1;
    }

    .story__content-block {
        display: flex;
        flex-direction: column;
    }
    
    .story__part-image-wrp-4-2,
    .story__part-body-4-2,
    .story__part-body-6-1 {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    .story__part-image-4-2-1,
    .story__part-body-6-2 {
        width: 100%;
    }

    .story__part-image-4-2-2,
    .story__part-image-4-2-3,
    .story__part-image-6-1-1,
    .story__part-image-6-1-2 {
        width: calc(50% - .75rem);
    }
    
    .story__part-body-5-1 {
        width: 100%;
        justify-content: center;
        display: flex;
    }

    .story__part-text-5-2 {
        max-width: 100%;
        margin-bottom: 2.5rem;
    }

    .story__part-body-5-2 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    .story__part-body-5-2 figure {
        min-width: calc(50% - .75rem);
        width: calc(50% - .75rem);
    }

    .story__part-body-5-2 figure:first-child {
        width: 100%;
        min-width: 100%;
    }

    .story__part-header-6-1 {
        gap: 1.688rem;
    }

    .story__part-body-6-1 {
        margin-top: 1.75rem;
    }

    .story__part-header-6-2 {
        gap: 1.25rem;
    }

    .story__part-text-6-2 {
        width: 100%;
        max-width: 100%;
    }

    .story__part-name-6-1 {
        bottom: 14rem;
    }
    
    @media screen and (max-width: 767px) {
        .story__part-body-1-1 {
            flex-direction: column;
        }
        .story__part-image-1-1-3,
        .story__part-body-inner-1-1 {
            width: 100%;
        }
        .story__part-body-1-2 {
            flex-wrap: wrap;
            row-gap: 2rem;
            column-gap: 1.5rem;
        }
        .story__part-text-1-2 {
            width: 100%;
        }
        .story__part-image-1-2-1,
        .story__part-image-1-2-2 {
            flex: calc(50% - 0.75rem);
        }
        .story__part-image-1-2-2,
        .story__part-image-1-2-1 {
            height: 43vw;
        }

        .story__part-header-2-2 {
            row-gap: 1.25rem;
        }

        .story__part-text-2-2 {
            flex-direction: column;
        }

        .story__part-body-3-1,
        .story__part-header-3-2 .lead,
        .story__part-text-4-2 .lead,
        .story__part-text-5-2 .lead {
            width: 100%;
        }

        .story__part-header-3-2 .story__part-title {
            position: absolute;
            bottom: -35vw
        }
    }

  }