.ceo-text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: var(--fds-fs-250);
  line-height: var(--fds-fs-450);
  max-width: 400px;
}
.ceo-text span {
  font-size: var(--fds-fs-600);
}
.mobile-ceo-image {
  height: 350px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top left;
  object-position: top left;
}
.page-title-design,
.our-design-title {
  font-size: var(--fds-fs-800);
  line-height: var(--fds-fs-860);
}
.designptag {
  font-size: var(--fds-fs-325);
  line-height: var(--fds-fs-750);
}
.page-title {
  font-size: var(--fds-fs-800);
  line-height: var(--fds-fs-860);
}
.human-title {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
}
.human-mobile-img {
  height: 650px;
  -o-object-fit: cover;
  object-fit: cover;
}
.bottom-title {
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
}
.slider-title {
  bottom: 3rem;
  left: 1rem;
}
.excellence-slider .carousel-control-prev,
.excellence-slider .carousel-control-next {
  width: 50px;
  height: 50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #000000;
  border-radius: 10px;
}
.excellence-slider .carousel-control-prev span,
.excellence-slider .carousel-control-next span {
  width: auto;
  height: auto;
}
.main-product-image {
  height: 450px;
  -o-object-fit: contain;
  object-fit: contain;
}

@media (min-width: 567px) {
  .ceo-text {
    left: 2rem;
  }
}

@media (min-width: 768px) {
  .main-product-image {
    height: 600px;
  }
  .ceo-text {
    font-size: var(--fds-fs-450);
    line-height: var(--fds-fs-860);
    width: 400px;
  }
  .ceo-text span {
    font-size: var(--fds-fs-750);
  }
  .page-title-design {
    font-size: var(--fds-fs-800);
    line-height: var(--fds-fs-860);
  }
  .designptag {
    font-size: var(--fds-fs-325);
    line-height: var(--fds-fs-750);
  }
  .design-process-content-wrapper {
    position: absolute;
    inset: 0;
    width: 100%;
  }
  .design-process-content {
    width: 350px;
  }
  .page-title {
    font-size: var(--fds-fs-900);
    line-height: var(--fds-fs-907);
  }
  .excellence-title {
    width: 50%;
    position: absolute;
    right: 0;
    top: 25%;
  }
  .excellence-slider {
    padding: 0px 55px;
  }
}
@media (min-width: 992px) {
  .ceo-text {
    width: 425px;
    left: 3rem;
  }
  .design-process-content {
    width: 400px;
  }
  .page-title-design {
    font-size: var(--fds-fs-800);
    line-height: var(--fds-fs-860);
  }
  .designptag {
    font-size: var(--fds-fs-325);
    line-height: var(--fds-fs-750);
  }
}
@media (min-width: 1200px) {
  .design-process-content {
    width: 500px;
  }
  .page-title-design {
    font-size: var(--fds-fs-900);
    line-height: var(--fds-fs-907);
  }
  .designptag {
    font-size: var(--fds-fs-700);
    line-height: var(--fds-fs-900);
  }
}
