.downloads-title {
  font-size: var(--fds-fs-775);
  font-weight: 300;
  text-align: center;
}

.chip {
  width: fit-content;
}

.chip-form-outline input {
  overflow-x: scroll;
}

@media (min-width: 768px) {
  .downloads-title {
    font-size: var(--fds-fs-925);
  }
}

.section-spacing {
  padding: 30px 0px;
}

.sub-title {
  font-size: var(--fds-fs-700);
  line-height: var(--fds-fs-72s5);
}

.quick-small-title {
  font-size: var(--fds-fs-300);
  line-height: 0.938rem;
}

.quick-icon-row {
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding-bottom: 1.3rem;
}

@media (max-width: 500px) {
  .quick-icon-row {
    max-width: 98%;
    margin-inline: auto;
  }
}

.mobile-chevron {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #b4b4b4;
  z-index: 1000;
  width: fit-content;
}

.mobile-chevron.fa-chevron-left {
  left: -1rem;
}

.mobile-chevron.fa-chevron-right {
  right: -1rem;
}

.quick-icon-row .col-3 {
  transition: all 0.4s;
}

@media (max-width: 420px) {
  .quick-icon-row .col-3 {
    width: 33%;
  }
}
@media (max-width: 350px) {
  .quick-icon-row .col-3 {
    width: 50%;
  }
}

.quick-icon-row img {
  height: 50px;
}

.fs-14 {
  font-size: var(--fds-fs-325);
}

.clear-btn {
  font-size: 0.5rem;
}

.form-outline .form-control {
  padding: 0.75rem 1.75rem;
  color: var(--fds-grey-800);
  font-size: var(--fds-fs-400);
}

.form-outline .form-control.form-control-lg ~ .form-label {
  padding-top: 1rem;
}

.form-outline .form-control.form-control-lg.active ~ .form-label,
.form-outline .form-control.form-control-lg:focus ~ .form-label {
  transform: translateY(-1.5rem) translateY(0.1rem) scale(0.8);
}

.form-outline .form-control:focus ~ .form-label {
  color: var(--fds-black);
}

.form-outline .form-control ~ .form-notch div {
  border-radius: 0 !important;
}

.form-outline .form-control.select-input:focus ~ .form-notch .form-notch-trailing,
.select-input.focused ~ .form-notch .form-notch-trailing,
.form-outline .form-control:focus ~ .form-notch .form-notch-trailing {
  border-color: var(--fds-black);
  box-shadow: 1px 0 0 0 var(--fds-black), 0 -1px 0 0 var(--fds-black), 0 1px 0 0 var(--fds-black);
}

.form-outline .form-control.select-input:focus ~ .form-notch .form-notch-leading,
.select-input.focused ~ .form-notch .form-notch-leading,
.form-outline .form-control:focus ~ .form-notch .form-notch-leading {
  border-color: var(--fds-black);
  box-shadow: -1px 0 0 0 var(--fds-black), 0 1px 0 0 var(--fds-black), 0 -1px 0 0 var(--fds-black);
}

.form-outline .form-control:focus ~ .form-notch .form-notch-middle {
  border-color: var(--fds-black);
  box-shadow: 0 1px 0 0 var(--fds-black);
  border-top: 1px solid transparent;
}

.download-filter-div .form-check-input[type='checkbox'] {
  border: 1px solid #97989c;
  border-radius: 0;
  width: 16px;
  height: 16px;
  margin-block: 0;
}

.form-check-input[type='checkbox']:checked,
.form-check-input[type='checkbox']:checked:focus {
  background-color: var(--fds-black);
  border-color: var(--fds-black);
}

.form-check-input[type='checkbox']:checked:after {
  margin-left: 0rem;
  width: 12px;
  height: 12px;
  top: 1px;
  left: 1px;
  background-color: var(--fds-grey-700);
  transform: unset;
  border: none;
  margin-top: 0;
}

.form-check-input[type='checkbox']:checked,
.form-check-input[type='checkbox']:checked:focus {
  background: transparent;
  border-color: var(--fds-grey-700);
}

.download-filter-div .form-check {
  display: flex;
  align-items: center;
  line-height: 0;
  min-height: initial;
}

.border-bottom-light {
  border-bottom: 1px solid var(--fds-grey-400);
}

.download-filter-div .form-group {
  border-bottom: 1px solid var(--fds-grey-400);
  padding: 1rem 0;
}

.download-box {
  border: 1px solid var(--fds-grey-400);
  position: relative;
  min-height: 200px;
}

.card.download-box {
  background-color: var(--fds-tan);
  /* overflow: hidden; */
}

.single-item-download-selector {
  position: absolute;
  top: 20px;
  left: 5px;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid;
  padding: 0.5rem;
  display: none;
}

.single-item-download-selector ul {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
}

.single-item-download-selector li {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  padding: 2px 5px;
}

.single-item-download-selector li:hover,
.single-item-download-selector li:focus-visible,
.single-item-download-selector li:active {
  background-color: var(--fds-tan);
}

.download-box:hover {
  border: 1px solid var(--fds-black);
}

.download-box .hover-display {
  display: none;
}

.download-box:hover .hover-not-display {
  display: none;
}

.download-box:hover .hover-display {
  display: block;
}

.download-box .card-body {
  position: relative;
  background-color: var(--fds-white);
  padding: 1rem;
  border-radius: 0 0 0.5rem 0.5rem;
}
.download-box-list-view,
.download-box-list-view:hover {
  border: none;
  min-height: inherit;
}
.download-box-list-view .addtocart-main-input {
  position: relative;
  top: 0.4rem;
  left: 0.2rem;
}
.download-box.download-box-row,
.download-box.download-box-row:hover {
  border: inherit;
  min-height: inherit;
}
.text-gray {
  color: var(--fds-grey-600);
}

.download-bottom-box {
  padding-top: 0.5rem;
}

.filter-btn-mobile {
  font-size: var(--fds-fs-150);
}

.mobile-filters {
  display: none;
}

.mobile-filters.show {
  display: block;
  position: absolute;
  z-index: 10;
  background: #ffffff;
  width: 290px;
  left: 15px;
  padding: 5px;
  box-shadow: 0px 1px 5px #e9e9e9;
  height: 350px;
  overflow-y: scroll;
}

.download-list-table th {
  color: var(--fds-grey-700);
}

.download-list-table h3 {
  color: var(--fds-black);
}

.download-list-table .table-gray {
  color: var(--fds-grey-600);
}

.download-list-table tr td:first-child img {
  width: var(--fds-fs-700);
}

.list-view-unselected {
  border-radius: 50%;
  background: var(--fds-white);
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
}

.list-view-unselected.active {
  background: var(--fds-tan);
}

.list-view-icon {
  gap: 10px;
}

.download-icon {
  flex-direction: column;
}
.multi-carousel-item .quick-small-title {
  white-space: break-spaces;
}
#download-icon-slider.multi-carousel .multi-carousel-inner .multi-carousel-item {
  vertical-align: top;
}
#download-icon-slider .multi-carousel-item::after,
.slider-icons::after {
  content: '';
  width: 29px;
  height: 2px;
  background: var(--fds-yellow);
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  opacity: 0;
  transition: all 0.4s;
}
#download-icon-slider .multi-carousel-item:hover::after,
#download-icon-slider .multi-carousel-item.active::after,
.slider-icons:hover::after {
  opacity: 1;
}
.download-banner-text .banner-text__header {
  text-transform: capitalize;
}
.downloads-new-title {
  color: #3b3b3b;
}
.accordion-borderless.download-accordion .accordion-item .accordion-button:not(.collapsed),
.accordion-borderless.download-accordion .accordion-item .accordion-button {
  background: transparent;
  color: var(--fds-black);
  padding: 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--fds-grey-400);
  border-radius: 0;
}
.accordion-borderless.download-accordion .accordion-item {
  margin-bottom: 2rem;
}

.download-accordion .accordion-button:after {
  content: '-';
  background: transparent;
  font-size: 2rem;
  line-height: 22px;
  text-align: center;
  transform: none;
}
.download-accordion .accordion-button.collapsed:after {
  content: '+';
  background: transparent;
  font-size: 2rem;
  line-height: 22px;
  text-align: center;
  transform: none;
}
.pdp-products-list .card-img-top {
  border-radius: 0px;
  max-height: 125px;
  object-fit: contain;
}
.fs-10 {
  font-size: 10px;
}
.addtocart-main-input {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}
.addtocart-main-input .form-check-input[type='checkbox'] {
  border: 1px solid #97989c;
  border-radius: 0;
  width: 16px;
  height: 16px;
  margin-block: 0;
  padding: 0;
}
.itemselected .addtocart-main-input .form-check-input.selected[type='checkbox']::after {
  margin-left: 0rem;
  width: 12px;
  height: 12px;
  top: 1px;
  left: 1px;
  background-color: var(--fds-grey-700);
  transform: unset;
  border: none;
  margin-top: 0;
  content: '';
  position: absolute;
}

@media (min-width: 768px) {
  .download-box-list-view .addtocart-main-input {
    left: 0.5rem;
  }
  .download-banner-text {
    left: 0;
    right: 0;
  }
  .download-icon-title .downloads-new-title {
    max-width: 85%;
    margin: 0 auto;
  }
  .download-banner-text .banner-text__header {
    font-size: var(--fds-fs-950);
    line-height: 4.063rem;
  }
  .downloads-new-title {
    font-size: var(--fds-fs-900);
    line-height: 4.063rem;
    text-align: left;
  }
  .download-icon {
    flex-direction: row;
    gap: 10px;
  }
}
@media (min-width: 992px) {
}

.plush-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 13px;
  height: 13px;
}

.plush-icon img {
  width: 100%;
}

.no-result-gray {
  color: #a0a0a0;
  font-size: var(--fds-fs-710);
}

.search-icon-page {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 35px;
  height: 35px;
}

.search-icon-page {
  width: 22px;
}

.download-bottom-box .colors img {
  width: 21px;
}
.product-file ul{
  display: none;
}
.pdp-products-list h3,
.download-list-table h3 {
  font-size: 14px;
  line-height: 1.4;
}

.pdp-products-list .subtext,
.download-list-table .subtext {
  font-size: var(--fds-fs-150);
}

.pdp-products-list .download-image img,
.download-list-table .download-image img {
  width: 13px;
}
#download-icon-slider .carousel-control-next,
#download-icon-slider .carousel-control-prev {
  width: 5%;
}
#download-icon-slider .multi-carousel-inner {
  width: 90%;
  margin-inline: auto;
}
#download-icon-slider .multi-carousel-inner img {
  height: 45px;
}

#download-icon-slider {
  padding: 2rem 0 1rem;
}

.slider-icons {
  cursor: pointer;
}

.slider-icons-list {
  cursor: pointer;
}

.download-icon-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  max-width: 95%;
  margin-inline: auto;
}

@media (min-width: 576px) {
  .download-icon-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) {
  .no-result-gray {
    font-size: var(--fds-fs-800);
  }
  .section-spacing {
    padding: 60px 0px;
  }

  .sub-title {
    font-size: var(--fds-fs-725);
    line-height: var(--fds-fs-775);
  }

  .download-bottom-box .colors img {
    width: 24px;
  }
  #download-icon-slider {
    padding: 3rem 0 1.5rem;
  }
  .download-icon-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 992px) {
  .quick-icon-row {
    flex-wrap: wrap;
    overflow-x: hidden;
  }
  .download-icon-grid {
    grid-template-columns: repeat(9, 1fr);
  }
}
@media (max-width: 992px) and (min-width: 768px) {
  #download-icon-slider.multi-carousel .multi-carousel-inner .multi-carousel-item {
    margin: 0 !important;
    width: 25% !important;
  }
}
@media (max-width: 767px) and (min-width: 520px) {
  #download-icon-slider.multi-carousel .multi-carousel-inner .multi-carousel-item {
    margin: 0 !important;
    width: 25% !important;
  }
}
@media (max-width: 519.99px) and (min-width: 460px) {
  #download-icon-slider.multi-carousel .multi-carousel-inner .multi-carousel-item {
    margin: 0 !important;
    width: 33% !important;
  }
}
@media (max-width: 459.99px) {
  #download-icon-slider.multi-carousel .multi-carousel-inner .multi-carousel-item {
    margin: 0 !important;
    width: 33% !important;
  }
}

:root {
  --cd-color-1: hsl(210, 31%, 24%);
  --cd-color-1-h: 210;
  --cd-color-1-s: 31%;
  --cd-color-1-l: 24%;
  --cd-color-2: #fdb913;
  --cd-color-2-h: 204;
  --cd-color-2-s: 73%;
  --cd-color-2-l: 52%;
  --cd-color-3: hsl(0, 0%, 100%);
  --cd-color-3-h: 0;
  --cd-color-3-s: 0%;
  --cd-color-3-l: 100%;
  --cd-color-4: hsl(192, 15%, 94%);
  --cd-color-4-h: 192;
  --cd-color-4-s: 15%;
  --cd-color-4-l: 94%;
  --cd-color-5: hsl(7, 80%, 56%);
  --cd-color-5-h: 7;
  --cd-color-5-s: 80%;
  --cd-color-5-l: 56%;
  --font-primary: 'Raleway', sans-serif;
  --space-unit: 1em;
  --space-xxxxs: calc(0.125 * var(--space-unit));
  --space-xxxs: calc(0.25 * var(--space-unit));
  --space-xxs: calc(0.375 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));
  --space-xxl: calc(5.25 * var(--space-unit));
  --space-xxxl: calc(8.5 * var(--space-unit));
  --space-xxxxl: calc(13.75 * var(--space-unit));
  --component-padding: var(--space-md);
  --icon-xxs: 12px;
  --icon-xs: 16px;
  --icon-sm: 24px;
  --icon-md: 32px;
  --icon-lg: 48px;
  --icon-xl: 64px;
  --icon-xxl: 128px;
}
.text-replace {
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
}
.icon {
  display: inline-block;
  color: inherit;
  fill: currentColor;
  height: 1em;
  width: 1em;
  line-height: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.icon--xxs {
  font-size: 12px;
  font-size: var(--icon-xxs);
}
.icon--xs {
  font-size: 16px;
  font-size: var(--icon-xs);
}
.icon--sm {
  font-size: 24px;
  font-size: var(--icon-sm);
}
.icon--md {
  font-size: 32px;
  font-size: var(--icon-md);
}
.icon--lg {
  font-size: 48px;
  font-size: var(--icon-lg);
}
.icon--xl {
  font-size: 64px;
  font-size: var(--icon-xl);
}
.icon--xxl {
  font-size: 128px;
  font-size: var(--icon-xxl);
}
.icon--is-spinning {
  -webkit-animation: icon-spin 1s infinite linear;
  animation: icon-spin 1s infinite linear;
}
@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.icon use {
  color: inherit;
  fill: currentColor;
}

.cd-cart::before {
  content: '';
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;
}
.cd-cart--open::before {
  opacity: 1;
  visibility: visible;
}
.cd-cart__trigger,
.cd-cart__content {
  position: fixed;
  bottom: 20px;
  right: 5%;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-cart--empty .cd-cart__trigger,
.cd-cart--empty .cd-cart__content {
  -webkit-transform: translateY(150px);
  -ms-transform: translateY(150px);
  transform: translateY(150px);
}
@media (min-width: 80rem) {
  .cd-cart__trigger,
  .cd-cart__content {
    bottom: 40px;
  }
}
.cd-cart__trigger {
  z-index: 3;
  height: 72px;
  width: 72px;
  overflow: visible;
}
.cd-cart__trigger::after,
.cd-cart__trigger::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  height: 100%;
  width: 100%;
  background: url(/img/cd-icons-cart-close.svg) no-repeat 0 0;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
  transition: opacity 0.2s, transform 0.2s, -webkit-transform 0.2s;
}
.cd-cart__trigger::after {
  background-position: -72px 0;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
}
.cd-cart--open .cd-cart__trigger::before {
  opacity: 0;
}
.cd-cart--open .cd-cart__trigger::after {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.cd-cart__trigger:hover + .cd-cart__content .cd-cart__layout {
  box-shadow: 0 6px 40px rgba(0, 0, 0, 0.3);
}
.cd-cart--open .cd-cart__trigger:hover + .cd-cart__content .cd-cart__layout {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17);
}
.cd-cart__count {
  position: absolute;
  top: -10px;
  right: -10px;
  height: 28px;
  width: 28px;
  background: hsl(7, 80%, 56%);
  background: var(--cd-color-5);
  color: hsl(0, 0%, 100%);
  color: var(--cd-color-3);
  font-size: 0.83333em;
  font-size: var(--text-sm);
  font-weight: bold;
  border-radius: 50%;
  text-indent: 0;
  transition: -webkit-transform 0.2s 0.5s;
  transition: transform 0.2s 0.5s;
  transition: transform 0.2s 0.5s, -webkit-transform 0.2s 0.5s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}
.cd-cart__count li {
  position: absolute;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-54%);
  -ms-transform: translateX(-50%) translateY(-54%);
  transform: translateX(-50%) translateY(-54%);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
}
.cd-cart__count li:last-of-type {
  visibility: hidden;
}
.cd-cart__count--update li:last-of-type {
  -webkit-animation-name: cd-qty-enter;
  animation-name: cd-qty-enter;
}
.cd-cart__count--update li:first-of-type {
  -webkit-animation-name: cd-qty-leave;
  animation-name: cd-qty-leave;
}
.cd-cart--open .cd-cart__count {
  transition: -webkit-transform 0.2s 0s;
  transition: transform 0.2s 0s;
  transition: transform 0.2s 0s, -webkit-transform 0.2s 0s;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.cd-cart--empty .cd-cart__count {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.cd-cart__content {
  z-index: 2;
  width: 90%;
  max-width: 440px;
  height: 400px;
  max-height: 90%;
  pointer-events: none;
}
.cd-cart__layout {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  overflow: hidden;
  height: 72px;
  width: 72px;
  border-radius: 0.25em;
  border-radius: var(--radius);
  transition: height 0.4s 0.1s, width 0.4s 0.1s, box-shadow 0.3s;
  transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
  background: hsl(0, 0%, 100%);
  background: var(--cd-color-3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17);
  pointer-events: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
.cd-cart--open .cd-cart__layout {
  height: 100%;
  width: 100%;
  transition-delay: 0s;
}
.cd-cart__header,
.cd-cart__body {
  opacity: 0;
  padding-left: 0.825em;
  padding-left: calc(var(--space-sm) * 1.1);
  padding-right: 0.825em;
  padding-right: calc(var(--space-sm) * 1.1);
}
.cd-cart--open .cd-cart__header,
.cd-cart--open .cd-cart__body {
  opacity: 1;
}
.cd-cart__header {
  position: relative;
  z-index: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.25em 0.25em 0 0;
  border-radius: var(--radius) var(--radius) 0 0;
  height: 40px;
  line-height: 40px;
  background-color: hsl(0, 0%, 100%);
  background-color: var(--cd-color-3);
  transition: opacity 0.2s 0s;
  border-bottom: 1px solid hsl(0, 0%, 90%);
  border-bottom: 1px solid
    hsl(var(--cd-color-3-h), var(--cd-color-3-s), calc(var(--cd-color-3-l) * 0.9));
}
.cd-cart__header h2 {
  text-transform: uppercase;
  display: inline-block;
  font-size: 0.76388em;
  font-size: calc(var(--text-xs) * 1.1);
  font-weight: 700;
  letter-spacing: 0.1em;
  margin-bottom: 0px;
}
.cd-cart--open .cd-cart__header {
  transition: opacity 0.2s 0.2s;
}
.cd-cart__undo {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
  color: hsl(210, 31%, 28.8%);
  color: hsl(var(--cd-color-1-h), var(--cd-color-1-s), calc(var(--cd-color-1-l) * 1.2));
  font-size: var(--fds-fs-250);
}
.cd-cart__undo a {
  text-decoration: underline;
  color: hsl(210, 31%, 24%);
  color: var(--cd-color-1);
}
.cd-cart__undo a:hover {
  color: hsl(204, 73%, 52%);
  color: var(--cd-color-2);
}
.cd-cart__undo--visible {
  opacity: 1;
  visibility: visible;
}
.cd-cart__body {
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-top: 0.75em;
  padding-top: var(--space-sm);
  padding-bottom: 0.75em;
  padding-bottom: var(--space-sm);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  transition: opacity 0.2s;
}
.cd-cart__body ul {
  position: relative;
  padding-bottom: 60px;
  padding-left: 0;
}
@media (min-width: 64rem) {
  .cd-cart__body ul {
    padding-bottom: 90px;
  }
}
.cd-cart--open .cd-cart__body {
  transition: opacity 0s;
}
.cd-cart--open .cd-cart__body li.cd-cart__product {
  transition: opacity 0.3s 0.2s, -webkit-transform 0.3s 0.2s;
  transition: transform 0.3s 0.2s, opacity 0.3s 0.2s;
  transition: transform 0.3s 0.2s, opacity 0.3s 0.2s, -webkit-transform 0.3s 0.2s;
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  align-items: center;
  margin-bottom: 50px;
}
.cd-cart--open .cd-cart__body li.cd-cart__product:nth-of-type(2) {
  transition-duration: 0.4s;
}
.cd-cart--open .cd-cart__body li.cd-cart__product:nth-of-type(3) {
  transition-duration: 0.5s;
}
.cd-cart--open .cd-cart__body li.cd-cart__product:nth-of-type(4),
.cd-cart--open .cd-cart__body li.cd-cart__product:nth-of-type(5) {
  transition-duration: 0.55s;
}
.cd-cart__product {
  position: relative;
  opacity: 0;
  -webkit-transform: translateX(80px);
  -ms-transform: translateX(80px);
  transform: translateX(80px);
  transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s;
  transition: opacity 0s 0.2s, transform 0s 0.2s;
  transition: opacity 0s 0.2s, transform 0s 0.2s, -webkit-transform 0s 0.2s;
  display: -ms-flexbox;
  display: flex;
}
.cd-cart__product:not(:last-of-type) {
  margin-bottom: 12px;
}
.cd-cart__product a {
  text-decoration: none;
}
.cd-cart__product--deleted {
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0;
  -webkit-animation: cd-item-slide-out 0.3s forwards;
  animation: cd-item-slide-out 0.3s forwards;
}
.cd-cart__product--deleted.cd-cart__product--undo {
  -webkit-animation: cd-item-slide-in 0.3s forwards;
  animation: cd-item-slide-in 0.3s forwards;
}
.cd-cart__product--deleted + .cd-cart__product {
  -webkit-animation: cd-item-move-up-mobile 0.3s;
  animation: cd-item-move-up-mobile 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@media (min-width: 64rem) {
  .cd-cart__product--deleted + .cd-cart__product {
    -webkit-animation: cd-item-move-up 0.3s;
    animation: cd-item-move-up 0.3s;
  }
}
.cd-cart__product--undo + .cd-cart__product {
  -webkit-animation: cd-item-move-down-mobile 0.3s;
  animation: cd-item-move-down-mobile 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@media (min-width: 64rem) {
  .cd-cart__product--undo + .cd-cart__product {
    -webkit-animation: cd-item-move-down 0.3s;
    animation: cd-item-move-down 0.3s;
  }
}
.cd-cart__image {
  display: inline-block;
  width: 50px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.cd-cart__image img {
  display: block;
}
@media (min-width: 64rem) {
  .cd-cart__image {
    width: 90px;
  }
}
.cd-cart__details {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-top: 0.825em;
  padding-top: 0;
  padding-left: 0.6em;
  padding-left: calc(var(--space-xs) * 1.2);
}
.cd-cart__details h3 {
  font-weight: bold;
  width: 89%;
  font-size: 0.95833em;
  font-size: calc(var(--text-sm) * 1.15);
  margin-bottom: 0;
}
.cd-cart__details h3 a {
  color: hsl(210, 31%, 24%);
  color: var(--fds-black);
}
.cd-cart__details h3 a:hover {
  color: hsl(204, 73%, 52%);
  color: var(--cd-color-2);
}
.cd-cart__price {
  width:auto;
  text-align: left;
  font-size: 0.91666em;
  font-size: calc(var(--text-sm) * 1.1);
  font-weight: bold;
  color: var(--fds-black);
}
.cd-cart__filetype{
  width:auto;
  text-align: left;
  font-size: 0.91666em;
  font-size: calc(var(--text-sm) * 1.1);
  font-weight: bold;
  color: var(--fds-black);
  margin-left: auto;
  position: relative;
  margin-right: 50px;
}
.cd-cart__filetype{cursor: pointer;}
.cd-cart__filetype ul{
  padding-bottom: 0;
  list-style: none;
  display: none;
  position: absolute;
  background: #ffffff;
  padding: 5px;
  font-size: var(--fds-fs-200);
  box-shadow: 0px 0px 6px #cccccc;
  min-width: 77px;
  right: 0px;
  z-index: 10;
}
.cd-cart__filetype ul a{
  color: var(--fds-black);
}
.cd-cart__actions {
  display: -ms-flexbox;
  display: flex;
  font-size: 0.76388em;
  font-size: calc(var(--text-xs) * 1.1);
  align-items: center;
  position: absolute;
  right: 0;
}
.cd-cart__delete-item,
.cd-cart__quantity {
  color: hsl(210, 31%, 28.8%);
  color: hsl(var(--cd-color-1-h), var(--cd-color-1-s), calc(var(--cd-color-1-l) * 1.2));
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-cart__delete-item {
  margin-right: 0.75em;
  margin-right: var(--space-sm);
  font-size: var(--fds-fs-250);
}
.cd-cart__delete-item:hover {
  color: hsl(7, 80%, 56%);
  color: var(--cd-color-5);
}
.cd-cart__quantity {
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
.cd-cart__quantity label {
  margin-right: 0.375em;
  font-size: var(--fds-fs-250);
  margin-right: var(--space-xxs);
}
.cd-cart__select {
  position: relative;
  display: none;
}
.cd-cart__select select {
  position: relative;
  padding: 0 1.25em 0 0;
  padding: 0 var(--space-md) 0 0;
  cursor: pointer;
  color: currentColor;
}
.cd-cart__select select:focus {
  outline: none;
  color: hsl(210, 31%, 24%);
  color: var(--cd-color-1);
}
.cd-cart__select select::-ms-expand {
  display: none;
}
.cd-cart__select .icon {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 12px;
  height: 12px;
  color: currentColor;
  pointer-events: none;
}
@media (min-width: 64rem) {
  .cd-cart__select select {
    padding-right: 0.75em;
    padding-right: var(--space-sm);
  }
}
.cd-cart__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0 0 0.25em 0.25em;
  border-radius: 0 0 var(--radius) var(--radius);
  box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.15);
  background: hsl(0, 0%, 100%);
  background: var(--cd-color-3);
}
.cd-cart__checkout {
  display: block;
  height: 72px;
  line-height: 72px;
  margin-right: 72px;
  background: hsl(204, 73%, 52%);
  background: var(--cd-color-2);
  color: hsla(0, 0%, 100%, 0);
  color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 1.2em;
  font-size: var(--text-md);
  font-weight: 600;
  transition: all 0.2s 0s;
}
.cd-cart__checkout:hover {
  background: var(--fds-black);
}
@media (min-width: 768px) {
  .cd-cart__checkout {
    font-size: var(--fds-fs-450);
  }
}
.cd-cart__checkout i {
  margin-right: 10px;
  font-style: normal;
  font-size: var(--fds-fs-710);
}
.cd-cart__checkout em {
  position: relative;
  display: inline-block;
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
  transition: -webkit-transform 0s 0.2s;
  transition: transform 0s 0.2s;
  transition: transform 0s 0.2s, -webkit-transform 0s 0.2s;
  font-style: normal;
}
.cd-cart__checkout .icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -10px;
  opacity: 0;
  transition: opacity 0.2s;
  color: currentColor;
  transform: rotate(90deg);
  transform-origin: top;
}
.cd-cart--open .cd-cart__checkout {
  color: hsl(0, 0%, 100%);
  color: var(--cd-color-3);
  transition: color 0.2s 0.3s;
}
.cd-cart--open .cd-cart__checkout em {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  transition: padding 0.2s 0s, -webkit-transform 0.2s 0.3s;
  transition: transform 0.2s 0.3s, padding 0.2s 0s;
  transition: transform 0.2s 0.3s, padding 0.2s 0s, -webkit-transform 0.2s 0.3s;
}
.cd-cart--open .cd-cart__checkout:hover em {
  padding-right: 30px;
}
.cd-cart--open .cd-cart__checkout:hover .icon {
  opacity: 1;
}
@-webkit-keyframes cd-qty-enter {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
}
@keyframes cd-qty-enter {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
}
@-webkit-keyframes cd-qty-leave {
  0% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-100%);
    transform: translateX(-50%) translateY(-100%);
  }
}
@keyframes cd-qty-leave {
  0% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-100%);
    transform: translateX(-50%) translateY(-100%);
  }
}
@-webkit-keyframes cd-item-move-up-mobile {
  0% {
    padding-top: 62px;
  }
  100% {
    padding-top: 0px;
  }
}
@keyframes cd-item-move-up-mobile {
  0% {
    padding-top: 62px;
  }
  100% {
    padding-top: 0px;
  }
}
@-webkit-keyframes cd-item-move-up {
  0% {
    padding-top: 102px;
  }
  100% {
    padding-top: 0px;
  }
}
@keyframes cd-item-move-up {
  0% {
    padding-top: 102px;
  }
  100% {
    padding-top: 0px;
  }
}
@-webkit-keyframes cd-item-move-down-mobile {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 62px;
  }
}
@keyframes cd-item-move-down-mobile {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 62px;
  }
}
@-webkit-keyframes cd-item-move-down {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 102px;
  }
}
@keyframes cd-item-move-down {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 102px;
  }
}
@-webkit-keyframes cd-item-slide-out {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
    opacity: 0;
  }
}
@keyframes cd-item-slide-out {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
    opacity: 0;
  }
}
@-webkit-keyframes cd-item-slide-in {
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  0% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
    opacity: 0;
  }
}
@keyframes cd-item-slide-in {
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  0% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
    opacity: 0;
  }
}

.cd-main h1 {
  color: hsl(210, 31%, 24%);
  color: var(--cd-color-1);
}
.cd-add-to-cart,
.cd-article-link {
  display: inline-block;
  padding: 0.75em 1.25em;
  padding: var(--space-sm) var(--space-md);
  border-radius: 50em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-size: 0.83333em;
  font-size: var(--text-sm);
  transition: all 0.2s;
}
.cd-add-to-cart {
  background: var(--fds-white);
  background: var(--fds-white);
  color: hsl(0, 0%, 100%);
  color: var(--cd-color-3);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cd-article-link {
  color: hsl(210, 31%, 24%);
  color: var(--cd-color-1);
  background-color: hsl(192, 15%, 84.6%);
  background-color: hsl(var(--cd-color-4-h), var(--cd-color-4-s), calc(var(--cd-color-4-l) * 0.9));
}
.cd-article-link:hover {
  background-color: hsl(192, 15%, 89.3%);
  background-color: hsl(var(--cd-color-4-h), var(--cd-color-4-s), calc(var(--cd-color-4-l) * 0.95));
}

.icon-view-listing {
  display: grid;
  gap: 1rem;
}

button.download-image {
  border: none;
  background-color: transparent;
}

.btn-spinner-border {
  --mdb-spinner-width: 0.6rem;
  --mdb-spinner-height: 0.6rem;
  margin-right: 0.5rem;
}

[data-btn-loading='true'] .content-loaded-btn {
  display: none;
}

[data-btn-loading='true'] .content-loading-btn {
  display: flex;
}

[data-btn-loading='false'] .content-loaded-btn {
  display: flex;
}

[data-btn-loading='false'] .content-loading-btn {
  display: none;
}

.pdp-loaded-section,
.pdp-loading-section {
  transition-property: max-height, opacity;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transform-origin: top center;
}

[data-loading='true'] .pdp-loaded-section {
  max-height: 0px;
  opacity: 0;
}

[data-loading='true'] .pdp-loading-section {
  max-height: 50000px;
  opacity: 1;
}

[data-loading='false'] .pdp-loaded-section {
  max-height: 50000px;
  opacity: 1;
}

[data-loading='false'] .pdp-loading-section {
  max-height: 0px;
  opacity: 0;
  display: none;
}

@media (min-width: 350px) {
  .icon-view-listing {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .icon-view-listing {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .icon-view-listing {
    grid-template-columns: repeat(4, 1fr);
  }
}
