.downloads-title {
  font-size: var(--fds-fs-860);
  font-weight: 300;
}

@media (min-width: 768px) {
  .downloads-title {
    font-size: var(--fds-fs-925);
  }
}

.section-spacing {
  padding: 30px 0px;
}

.sub-title {
  font-size: var(--fds-fs-700);
  line-height: var(--fds-fs-72s5);
}

.quick-small-title {
  font-size: var(--fds-fs-300);
  line-height: 0.938rem;
}

.quick-icon-row {
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding-bottom: 1.3rem;
}

@media (max-width: 500px) {
  .quick-icon-row {
    max-width: 98%;
    margin-inline: auto;
  }
}

.mobile-chevron {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #b4b4b4;
  z-index: 1000;
  width: fit-content;
}

.mobile-chevron.fa-chevron-left {
  left: -1rem;
}

.mobile-chevron.fa-chevron-right {
  right: -1rem;
}

.quick-icon-row .col-3 {
  transition: all 0.4s;
}

@media (max-width: 420px) {
  .quick-icon-row .col-3 {
    width: 33%;
  }
}
@media (max-width: 350px) {
  .quick-icon-row .col-3 {
    width: 50%;
  }
}

.quick-icon-row img {
  height: 50px;
}

.fs-14 {
  font-size: var(--fds-fs-325);
}

.clear-btn {
  font-size: 0.5rem;
}

.form-outline .form-control {
  padding: 0.75rem 1.75rem;
  color: var(--fds-grey-800);
  font-size: var(--fds-fs-400);
}

.form-outline .form-control.form-control-lg ~ .form-label {
  padding-top: 1rem;
}

.form-outline .form-control.form-control-lg.active ~ .form-label,
.form-outline .form-control.form-control-lg:focus ~ .form-label {
  transform: translateY(-1.5rem) translateY(0.1rem) scale(0.8);
}

.form-outline .form-control:focus ~ .form-label {
  color: var(--fds-black);
}

.form-outline .form-control ~ .form-notch div {
  border-radius: 0 !important;
}

.form-outline .form-control.select-input:focus ~ .form-notch .form-notch-trailing,
.select-input.focused ~ .form-notch .form-notch-trailing,
.form-outline .form-control:focus ~ .form-notch .form-notch-trailing {
  border-color: var(--fds-black);
  box-shadow: 1px 0 0 0 var(--fds-black), 0 -1px 0 0 var(--fds-black), 0 1px 0 0 var(--fds-black);
}

.form-outline .form-control.select-input:focus ~ .form-notch .form-notch-leading,
.select-input.focused ~ .form-notch .form-notch-leading,
.form-outline .form-control:focus ~ .form-notch .form-notch-leading {
  border-color: var(--fds-black);
  box-shadow: -1px 0 0 0 var(--fds-black), 0 1px 0 0 var(--fds-black), 0 -1px 0 0 var(--fds-black);
}

.form-outline .form-control:focus ~ .form-notch .form-notch-middle {
  border-color: var(--fds-black);
  box-shadow: 0 1px 0 0 var(--fds-black);
  border-top: 1px solid transparent;
}

.download-filter-div .form-check-input[type='checkbox'] {
  border: 1px solid #97989c;
  border-radius: 0;
  width: 16px;
  height: 16px;
  margin-block: 0;
}

.form-check-input[type='checkbox']:checked,
.form-check-input[type='checkbox']:checked:focus {
  background-color: var(--fds-black);
  border-color: var(--fds-black);
}

.form-check-input[type='checkbox']:checked:after {
  margin-left: 0rem;
  width: 12px;
  height: 12px;
  top: 1px;
  left: 1px;
  background-color: var(--fds-grey-700);
  transform: unset;
  border: none;
  margin-top: 0;
}

.form-check-input[type='checkbox']:checked,
.form-check-input[type='checkbox']:checked:focus {
  background: transparent;
  border-color: var(--fds-grey-700);
}

.download-filter-div .form-check {
  display: flex;
  align-items: center;
  line-height: 0;
  min-height: initial;
}

.border-bottom-light {
  border-bottom: 1px solid var(--fds-grey-400);
}

.download-filter-div .form-group {
  border-bottom: 1px solid var(--fds-grey-400);
  padding: 1rem 0;
}

.download-box {
  border: 1px solid var(--fds-grey-400);
  box-shadow: none;
  border-radius: 0;
  position: relative;
  min-height: 200px;
}

.download-box:hover {
  border: 1px solid var(--fds-black);
}

.download-box .hover-display {
  display: none;
}

.download-box:hover .hover-not-display {
  display: none;
}

.download-box:hover .hover-display {
  display: block;
}

.download-box .card-body {
  position: relative;
}

.text-gray {
  color: var(--fds-grey-600);
}

.download-bottom-box {
  position: absolute;
  bottom: 1.5rem;
  padding: 0rem 1.5rem;
  left: 0;
}

.filter-btn-mobile {
  font-size: var(--fds-fs-150);
}

.mobile-filters {
  display: none;
}

.mobile-filters.show {
  display: block;
  position: absolute;
  z-index: 10;
  background: #ffffff;
  width: 290px;
  left: 15px;
  padding: 5px;
  box-shadow: 0px 1px 5px #e9e9e9;
  height: 350px;
  overflow-y: scroll;
}

.download-list-table th {
  color: var(--fds-grey-700);
}

.download-list-table h3 {
  color: var(--fds-black);
}

.download-list-table .table-gray {
  color: var(--fds-grey-600);
}

.download-list-table tr td:first-child img {
  width: var(--fds-fs-700);
}

.list-view-unselected {
  border-radius: 50%;
  background: var(--fds-white);
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
}

.list-view-unselected.active {
  background: var(--fds-tan);
}

.list-view-icon {
  gap: 10px;
}

.download-icon {
  flex-direction: column;
}
.multi-carousel-item .quick-small-title{
  white-space: break-spaces;
}
#download-icon-slider.multi-carousel .multi-carousel-inner .multi-carousel-item{
  vertical-align: top;
}
#download-icon-slider .multi-carousel-item::after{
  content: '';
  width: 29px;
  height: 2px;
  background: var(--fds-yellow);
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  opacity: 0;
  transition: all 0.4s;
}
#download-icon-slider .multi-carousel-item:hover::after, #download-icon-slider .multi-carousel-item.active::after{
  opacity: 1;
}

@media (min-width: 768px) {
  .download-icon {
    flex-direction: row;
    gap: 10px;
  }
}

.plush-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 13px;
  height: 13px;
}

.plush-icon img {
  width: 100%;
}

.no-result-gray {
  color: #a0a0a0;
  font-size: var(--fds-fs-710);
}

.search-icon-page {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 35px;
  height: 35px;
}

.search-icon-page {
  width: 22px;
}

.download-bottom-box .colors img {
  width: 21px;
}

.pdp-products-list h3,
.download-list-table h3 {
  font-size: 14px;
  line-height: 1.4;
}

.pdp-products-list .subtext,
.download-list-table .subtext {
  font-size: var(--fds-fs-150);
}

.pdp-products-list .download-image img,
.download-list-table .download-image img {
  width: 13px;
}
#download-icon-slider .carousel-control-next, #download-icon-slider .carousel-control-prev{
  width: 5%;
}
#download-icon-slider .multi-carousel-inner{
  width: 90%;
  margin-inline: auto;
}
#download-icon-slider .multi-carousel-inner img{
  height: 45px;
}
@media (min-width: 768px) {
  .no-result-gray {
    font-size: var(--fds-fs-800);
  }
  .section-spacing {
    padding: 60px 0px;
  }

  .sub-title {
    font-size: var(--fds-fs-725);
    line-height: var(--fds-fs-775);
  }

  .download-bottom-box .colors img {
    width: 24px;
  }
}
@media (min-width:992px){
  .quick-icon-row {
    flex-wrap: wrap;
    overflow-x: hidden;
  }
 
}
@media (max-width: 992px) and (min-width: 768px) {
  #download-icon-slider.multi-carousel .multi-carousel-inner .multi-carousel-item{
    margin: 0 !important;
    width: 25% !important;
  }
}
@media (max-width: 767px) and (min-width: 520px) {
  #download-icon-slider.multi-carousel .multi-carousel-inner .multi-carousel-item{
    margin: 0 !important;
    width: 25% !important;
  }
}
@media (max-width: 519.99px) and (min-width: 460px){
  #download-icon-slider.multi-carousel .multi-carousel-inner .multi-carousel-item{
    margin: 0 !important;
    width: 33% !important;
  }
}
@media (max-width: 459.99px){
  #download-icon-slider.multi-carousel .multi-carousel-inner .multi-carousel-item{
    margin: 0 !important;
    width: 50% !important;
  }
}
