.edi-content-wrapper {
  height: calc(100vh - 70px);
  overflow: hidden;
}

.edi-content-bg-img {
  display: block;
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.edi-logo {
  position: absolute;
  top: 2rem;
  right: 2rem;
  max-height: 50px;
}

.edi-page-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(246, 245, 243, 0.9);
  width: 90%;
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.edi-page-subtitle {
  font-size: var(--fds-fs-710);
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.edi-page-text {
  font-size: var(--fds-fs-350);
  text-align: center;
}

.edi-page-content img {
  max-height: 45px;
}

.video-play-wrapper {
  position: absolute;
  inset: 0;
  z-index: 100;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

#edi-video {
  z-index: 10;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.video-pause-cta {
  position: absolute;
  z-index: -1;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.video-pause-cta.show {
  opacity: 1;
  z-index: 100;
}

.video-play-wrapper.hide {
  z-index: -1;
  opacity: 0;
}

#edi-video.hide {
  opacity: 0;
  z-index: -1;
}

.video-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 576px) {
  .edi-page-content img {
    max-height: 35px;
  }
  .edi-page-subtitle {
    font-size: var(--fds-fs-500);
  }
  .edi-page-text {
    font-size: var(--fds-fs-325);
  }
}

@media (min-width: 768px) {
  .edi-page-subtitle {
    font-size: var(--fds-fs-880);
    margin-block: 1rem;
    text-align: center;
  }

  .edi-logo {
    top: 3rem;
    right: 3rem;
    max-height: 75px;
  }

  .edi-page-text {
    font-size: var(--fds-fs-600);
  }

  .edi-link {
    font-size: 20px;
  }

  .edi-link:after {
    top: 38px;
  }
}

@media (min-width: 992px) {
  .edi-page-subtitle {
    margin-top: 2rem !important;
  }
}
