.array-wall-title span img {
  position: relative;
  top: -13px;
  width: 80%;
  display: block;
}
.object-top-position img {
  object-position: top center;
}
.cat-wall-list-main {
  padding: 1rem;
  background: #ffffff;
}
.cat-wall-list {
  font-size: 0.938rem;
  line-height: var(--fds-fs-710);
}
.cat-wall-list li {
  margin-bottom: 0.5rem;
}
.right-align-img {
  text-align: right;
}
.right-align-img .section-2-img {
  right: -12px;
  position: relative;
}
.designed-title {
  font-size: 1.313rem;
  line-height: 1.563rem;
}
.wall-stand-box {
  width: 260px;
}

@media (max-width: 768px) {
  .wall-stand-box {
    margin-inline: auto;
  }
}

.wall-stand-title {
  font-size: 0.813rem;
  line-height: 0.938rem;
  font-weight: 600;
}
.wall-white-box {
  background: #ffffff;
  padding: 0.5rem;
}
.wall-white-box-title {
  color: #778495;
  font-size: var(--fds-fs-250);
  line-height: var(--fds-fs-325);
  font-weight: 600;
  text-align: center;
  letter-spacing: -0.2px;
  position: relative;
}
.wall-white-box-title span {
  background: #ffffff;
  padding: 0px 10px;
  position: relative;
  z-index: 10;
}
.wall-white-box-title::after {
  content: '';
  width: 100%;
  height: 1px;
  background: #778495;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -0.5px;
}
.square-fit-box {
  border: 1px solid #778495;
  position: relative;
  padding: 1rem 0.5rem;
}
.squarebox-first-title {
  font-size: var(--fds-fs-325);
  line-height: var(--fds-fs-350);
  color: #778495;
  font-weight: 600;
  position: absolute;
  width: 69%;
  left: 50%;
  top: -8px;
  transform: translateX(-50%);
  background: #ffffff;
}
.squarebox-second-title {
  color: #5b9bd4;
  font-size: var(--fds-fs-775);
  line-height: var(--fds-fs-850);
  letter-spacing: 0.02px;
}
.squarebox-third-title {
  color: #5b9bd4;
  font-size: var(--fds-fs-200);
  line-height: var(--fds-fs-300);
  letter-spacing: 0.01px;
}
.envirosmart-content {
  font-size: 0.938rem;
  line-height: var(--fds-fs-710);
  padding: 1rem;
}
.rows-structure .left-md-underline:after {
  bottom: -8px;
}

.array-wall-title {
  text-transform: capitalize;
}
@media (min-width: 768px) {
  .left-md-underline:after {
    left: 0;
    transform: none;
  }
  .envirosmart-content {
    padding: 1rem;
  }
  .wall-stand-box {
    width: 285px;
  }
  .cat-wall-list {
    width: 100%;
  }
  .cat-wall-list-main {
    padding: 2rem;
  }

  .array-wall-title span img {
    width: auto;
    display: inline-block;
  }
  .array-wall-title {
    font-size: 3.813rem;
    line-height: 5.625rem;
  }
}
.clear-btn {
  font-size: 0.5rem;
}
.accordion-borderless.download-accordion .accordion-item .accordion-button:not(.collapsed),
.accordion-borderless.download-accordion .accordion-item .accordion-button {
  background: transparent;
  color: var(--fds-black);
  padding: 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--fds-grey-400);
  border-radius: 0;
}
.accordion-borderless.download-accordion .accordion-item {
  margin-bottom: 2rem;
}

.download-accordion .accordion-button:after {
  content: '-';
  background: transparent;
  font-size: 2rem;
  line-height: 22px;
  text-align: center;
  transform: none;
}
.download-accordion .accordion-button.collapsed:after {
  content: '+';
  background: transparent;
  font-size: 2rem;
  line-height: 22px;
  text-align: center;
  transform: none;
}
.filter-title {
  font-size: var(--fds-fs-325);
  line-height: var(--fds-fs-350);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--fds-grey-400);
  padding-bottom: 0.5rem;
}
.right-product-title {
  font-size: var(--fds-fs-725);
  line-height: var(--fds-fs-850);
}
.right-product-ptag {
  font-size: var(--fds-fs-325);
  line-height: var(--fds-fs-600);
  font-weight: 500;
}
.right-product-list {
  font-size: var(--fds-fs-200);
  line-height: var(--fds-fs-325);
  font-weight: 500;
  padding-left: 15px;
  margin: 2rem 0rem;
}
.right-product-list li {
  margin-bottom: 0.5rem;
}
.pro-image-title {
  font-size: 0.938rem;
  line-height: var(--fds-fs-710);
  font-weight: 500;
  position: absolute;
  bottom: 0.5rem;
  width: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  .pro-image-title {
    left: 0.5rem;
    text-align: left;
  }
}

.array-btn-gray {
  background: #9d9d9d;
  color: #ffffff;
  font-size: var(--fds-fs-500);
  border-radius: 50px;
  box-shadow: none;
  text-transform: capitalize;
}

.array-btn-gray:first-child:hover,
.array-btn-gray:focus-visible,
.array-btn-gray:hover,
.array-btn-gray:focus,
:not(.btn-check) + .array-btn-gray:hover {
  background: #9d9d9d;
  color: #ffffff;
  box-shadow: none;
}
.array-btn-blue {
  background: #748597;
  color: #ffffff;
  font-size: var(--fds-fs-500);
  border-radius: 50px;
  box-shadow: none;
  text-transform: capitalize;
}

.array-btn-blue:first-child:hover,
.array-btn-blue:focus-visible,
.array-btn-blue:hover,
.array-btn-blue:focus,
:not(.btn-check) + .array-btn-blue:hover {
  background: #748597;
  color: #ffffff;
  box-shadow: none;
}
.padding-left-1 {
  padding-left: 1rem;
}
.designed-right-content-list {
  font-size: 0.938rem;
  line-height: var(--fds-fs-710);
}
.designed-right-content-list li {
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .envirosmart-content {
    padding: 2rem;
  }
  .cat-wall-list {
    width: 65%;
  }
  .cat-wall-list-recess {
    width: 49%;
  }
  .right-align-img .section-2-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 350px;
  }
  .right-align-img .section-2-img-recess {
    width: 460px;
  }
  .big-imag-text-absolute .section-2-img {
    width: 420px;
  }
  .big-imag-text-absolute .cat-wall-list-main {
    padding: 4rem;
  }
}
@media (min-width: 1200px) {
  .right-align-img .section-2-img {
    width: 420px;
  }
  .big-imag-text-absolute .section-2-img {
    width: 500px;
  }
  .big-imag-text-absolute .cat-wall-list-main {
    padding: 4rem;
  }
  .right-align-img .section-2-img-recess {
    width: auto;
  }
  .envirosmart-content {
    padding: 5rem;
  }
}
