.array-wall-title span img {
  position: relative;
  top: -13px;
  width: 80%;
  display: block;
}
.object-top-position img {
  object-position: top center;
}
.cat-wall-list-main {
  padding: 1rem;
  background: #ffffff;
}
.cat-wall-list {
  font-size: 0.938rem;
  line-height: var(--fds-fs-710);
}
.cat-wall-list li {
  margin-bottom: 0.5rem;
}
.right-align-img {
  text-align: right;
}
.right-align-img .section-2-img {
  right: -12px;
  position: relative;
}
.designed-title {
  font-size: 1.313rem;
  line-height: 1.563rem;
}
.wall-stand-box {
  width: 260px;
}

@media (max-width: 768px) {
  .wall-stand-box {
    margin-inline: auto;
  }
}

.wall-stand-title {
  font-size: 0.813rem;
  line-height: 0.938rem;
  font-weight: 600;
}
.wall-white-box {
  background: #ffffff;
  padding: 0.5rem;
}
.wall-white-box-title {
  color: #778495;
  font-size: var(--fds-fs-250);
  line-height: var(--fds-fs-325);
  font-weight: 600;
  text-align: center;
  letter-spacing: -0.2px;
  position: relative;
}
.wall-white-box-title span {
  background: #ffffff;
  padding: 0px 10px;
  position: relative;
  z-index: 10;
}
.wall-white-box-title::after {
  content: '';
  width: 100%;
  height: 1px;
  background: #778495;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -0.5px;
}
.square-fit-box {
  border: 1px solid #778495;
  position: relative;
  padding: 1rem 0.5rem;
}
.squarebox-first-title {
  font-size: var(--fds-fs-325);
  line-height: var(--fds-fs-350);
  color: #778495;
  font-weight: 600;
  position: absolute;
  width: 69%;
  left: 50%;
  top: -8px;
  transform: translateX(-50%);
  background: #ffffff;
}
.squarebox-second-title {
  color: #5b9bd4;
  font-size: var(--fds-fs-775);
  line-height: var(--fds-fs-850);
  letter-spacing: 0.02px;
}
.squarebox-third-title {
  color: #5b9bd4;
  font-size: var(--fds-fs-200);
  line-height: var(--fds-fs-300);
  letter-spacing: 0.01px;
}
.envirosmart-content {
  font-size: 0.938rem;
  line-height: var(--fds-fs-710);
  padding: 1rem;
}
.rows-structure .left-md-underline:after {
  bottom: -8px;
}

.array-wall-title {
  text-transform: capitalize;
}
.margin-left-auto {
  margin-left: auto;
}
.landing-array-technology-banner::before {
  background: transparent radial-gradient(closest-side at 72% 62%, #b1b5bf 0%, #778495 100%) 0% 0%
    no-repeat padding-box;
  opacity: 1;
}
@media (min-width: 768px) {
  .left-md-underline:after {
    left: 0;
    transform: none;
  }
  .envirosmart-content {
    padding: 1rem;
  }
  .wall-stand-box {
    width: 285px;
  }
  .cat-wall-list {
    width: 100%;
  }
  .cat-wall-list-main {
    padding: 2rem;
  }

  .array-wall-title span img {
    width: auto;
    display: inline-block;
  }
  .array-wall-title {
    font-size: 3.813rem;
    line-height: 5.625rem;
  }
}
.clear-btn {
  font-size: 0.5rem;
}
.accordion-borderless.download-accordion .accordion-item .accordion-button:not(.collapsed),
.accordion-borderless.download-accordion .accordion-item .accordion-button {
  background: transparent;
  color: var(--fds-black);
  padding: 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--fds-grey-400);
  border-radius: 0;
}
.accordion-borderless.download-accordion .accordion-item {
  margin-bottom: 2rem;
}

.download-accordion .accordion-button:after {
  content: '-';
  background: transparent;
  font-size: 2rem;
  line-height: 22px;
  text-align: center;
  transform: none;
}
.download-accordion .accordion-button.collapsed:after {
  content: '+';
  background: transparent;
  font-size: 2rem;
  line-height: 22px;
  text-align: center;
  transform: none;
}
.filter-title {
  font-size: var(--fds-fs-325);
  line-height: var(--fds-fs-350);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--fds-grey-400);
  padding-bottom: 0.5rem;
}
.right-product-title {
  font-size: var(--fds-fs-725);
  line-height: var(--fds-fs-850);
}
.right-product-ptag {
  font-size: var(--fds-fs-325);
  line-height: var(--fds-fs-600);
  font-weight: 500;
}
.right-product-list {
  font-size: var(--fds-fs-200);
  line-height: var(--fds-fs-325);
  font-weight: 500;
  padding-left: 15px;
  margin: 2rem 0rem;
}
.right-product-list li {
  margin-bottom: 0.5rem;
}
.pro-image-title {
  font-size: 0.938rem;
  line-height: var(--fds-fs-710);
  font-weight: 500;
  position: absolute;
  bottom: 0.5rem;
  width: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  .pro-image-title {
    left: 0.5rem;
    text-align: left;
  }
}

.array-btn-gray {
  background: #9d9d9d;
  color: #ffffff;
  font-size: var(--fds-fs-500);
  border-radius: 50px;
  box-shadow: none;
  text-transform: capitalize;
}

.array-btn-gray:first-child:hover,
.array-btn-gray:focus-visible,
.array-btn-gray:hover,
.array-btn-gray:focus,
:not(.btn-check) + .array-btn-gray:hover {
  background: #9d9d9d;
  color: #ffffff;
  box-shadow: none;
}
.array-btn-blue {
  background: #748597;
  color: #ffffff;
  font-size: var(--fds-fs-500);
  border-radius: 50px;
  box-shadow: none;
  text-transform: capitalize;
}

.array-btn-blue:first-child:hover,
.array-btn-blue:focus-visible,
.array-btn-blue:hover,
.array-btn-blue:focus,
:not(.btn-check) + .array-btn-blue:hover {
  background: #748597;
  color: #ffffff;
  box-shadow: none;
}
.padding-left-1 {
  padding-left: 1rem;
}
.designed-right-content-list {
  font-size: 0.938rem;
  line-height: var(--fds-fs-710);
}
.designed-right-content-list li {
  margin-bottom: 1rem;
}
.array-technology-list {
  font-size: 0.938rem;
  line-height: 1.313rem;
  padding-left: 1rem;
}
.array-technology-list li {
  margin-bottom: 1rem;
}
.center-laptop-image {
  position: absolute;
  bottom: -39px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  z-index: 10;
}

.circle-design-main {
  width: 290px;
  height: 170px;
  border-radius: 50rem 50rem 0 0;
  background-color: #ffffff;
  border: 5px solid #d3e0e9;
  margin: 0 auto;
  position: relative;
}
.circle-design-main::after {
  content: '';
  width: 100%;
  height: 10px;
  background: #ffffff;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.loop-image {
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  border: 1px solid transparent;
  z-index: 100;
  position: absolute;
  text-align: center;
}
.loop-image-active::after {
  content: '';
  background: #ffffff;
  border: 1px solid #000000;
  width: 90%;
  height: 90%;
  position: absolute;
  border-radius: 50%;
  left: 5%;
  top: 5%;
  z-index: -1;
}
.loo-image-1 {
  bottom: -20px;
  left: 0;
  transform: translateX(-50%);
}
.loo-image-1 img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.loo-image-2 {
  bottom: 55px;
  left: -11px;
}
.loo-image-2 img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.loo-image-3 {
  bottom: 109px;
  left: 25px;
}
.loo-image-3 img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.loo-image-4 {
  top: -30px;
  left: 50%;
  margin-left: -25px;
}
.loo-image-4 img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.loo-image-5 {
  bottom: 109px;
  right: 25px;
}
.loo-image-5 img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.loo-image-6 {
  bottom: 50px;
  right: -11px;
}
.loo-image-6 img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.loo-image-7 {
  bottom: -20px;
  right: 0;
  transform: translateX(50%);
}
.loo-image-7 img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.data-to-show {
  display: none;
}
.active.data-to-show {
  display: block;
}
@media (min-width: 576px) {
  .center-laptop-image {
    width: 75%;
    bottom: -39px;
  }
  .circle-design-main {
    width: 420px;
    height: 260px;
    border-radius: 50rem 50rem 0 0;
    background-color: #ffffff;
    border: 5px solid #d3e0e9;
    margin: 0 auto;
    position: relative;
  }
  .circle-design-main::after {
    content: '';
    width: 100%;
    height: 10px;
    background: #ffffff;
    position: absolute;
    bottom: -10px;
    left: 0;
  }
  .loop-image {
    width: 70px;
    height: 70px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid transparent;
    z-index: 100;
    position: absolute;
    text-align: center;
  }
  .loop-image-active::after {
    content: '';
    background: #ffffff;
    border: 1px solid #000000;
    width: 90%;
    height: 90%;
    position: absolute;
    border-radius: 50%;
    left: 5%;
    top: 5%;
    z-index: -1;
  }
  .loo-image-1 {
    bottom: -20px;
    left: 0;
    transform: translateX(-50%);
  }
  .loo-image-1 img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .loo-image-2 {
    bottom: 95px;
    left: -23px;
  }
  .loo-image-2 img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .loo-image-3 {
    bottom: 170px;
    left: 38px;
  }
  .loo-image-3 img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .loo-image-4 {
    top: -35px;
    left: 50%;
    margin-left: -35px;
  }
  .loo-image-4 img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .loo-image-5 {
    bottom: 170px;
    right: 38px;
  }
  .loo-image-5 img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .loo-image-6 {
    bottom: 78px;
    right: -23px;
  }
  .loo-image-6 img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .loo-image-7 {
    bottom: -20px;
    right: 0;
    transform: translateX(50%);
  }
  .loo-image-7 img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media (min-width: 768px) {
  .center-laptop-image {
    width: 75%;
    bottom: -80px;
  }
  .circle-design-main {
    width: 590px;
    height: 380px;
    border-radius: 50rem 50rem 0 0;
    background-color: #ffffff;
    border: 10px solid #d3e0e9;
    margin: 0 auto;
    position: relative;
  }
  .circle-design-main::after {
    content: '';
    width: 100%;
    height: 10px;
    background: #ffffff;
    position: absolute;
    bottom: -10px;
    left: 0;
  }
  .loop-image {
    width: 130px;
    height: 130px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid transparent;
    z-index: 100;
    position: absolute;
    text-align: center;
  }
  .loop-image-active::after {
    content: '';
    background: #ffffff;
    border: 1px solid #000000;
    width: 90%;
    height: 90%;
    position: absolute;
    border-radius: 50%;
    left: 5%;
    top: 5%;
    z-index: -1;
  }
  .loo-image-1 {
    bottom: -20px;
    left: 0;
    transform: translateX(-50%);
  }
  .loo-image-1 img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .loo-image-2 {
    bottom: 140px;
    left: -48px;
  }
  .loo-image-2 img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .loo-image-3 {
    bottom: 235px;
    left: 38px;
  }
  .loo-image-3 img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .loo-image-4 {
    top: -70px;
    left: 50%;
    margin-left: -85px;
  }
  .loo-image-4 img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .loo-image-5 {
    bottom: 235px;
    right: 38px;
  }
  .loo-image-5 img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .loo-image-6 {
    bottom: 120px;
    right: -48px;
  }
  .loo-image-6 img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .loo-image-7 {
    bottom: -20px;
    right: 0;
    transform: translateX(50%);
  }
  .loo-image-7 img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.background-transprent {
  background: transparent;
}

@media (min-width: 992px) {
  .envirosmart-content {
    padding: 2rem;
  }
  .cat-wall-list {
    width: 65%;
  }
  .cat-wall-list-recess {
    width: 49%;
  }
  .right-align-img .section-2-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 350px;
  }
  .right-align-img .section-2-img-recess {
    width: 460px;
  }
  .big-imag-text-absolute .section-2-img {
    width: 420px;
  }
  .big-imag-text-absolute .cat-wall-list-main {
    padding: 4rem;
  }
  .array-technology-list {
    width: 70%;
  }
  .center-laptop-image {
    width: 100%;
  }
  .circle-design-main {
    width: 800px;
    height: 530px;
    border-radius: 50rem 50rem 0 0;
    background-color: #ffffff;
    border: 10px solid #d3e0e9;
    margin: 0 auto;
    position: relative;
  }
  .circle-design-main::after {
    content: '';
    width: 100%;
    height: 10px;
    background: #ffffff;
    position: absolute;
    bottom: -10px;
    left: 0;
  }
  .loop-image {
    width: 170px;
    height: 170px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid transparent;
    z-index: 100;
    position: absolute;
    text-align: center;
  }
  .loop-image-active::after {
    content: '';
    background: #ffffff;
    border: 1px solid #000000;
    width: 90%;
    height: 90%;
    position: absolute;
    border-radius: 50%;
    left: 5%;
    top: 5%;
    z-index: -1;
  }
  .loo-image-1 {
    bottom: -20px;
    left: 0;
    transform: translateX(-50%);
  }
  .loo-image-1 img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .loo-image-2 {
    bottom: 200px;
    left: -48px;
  }
  .loo-image-2 img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .loo-image-3 {
    bottom: 330px;
    left: 45px;
  }
  .loo-image-3 img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .loo-image-4 {
    top: -85px;
    left: 50%;
    margin-left: -85px;
  }
  .loo-image-4 img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .loo-image-5 {
    bottom: 330px;
    right: 45px;
  }
  .loo-image-5 img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .loo-image-6 {
    bottom: 170px;
    right: -48px;
  }
  .loo-image-6 img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .loo-image-7 {
    bottom: -20px;
    right: 0;
    transform: translateX(50%);
  }
  .loo-image-7 img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .landing-array-technology-banner {
    height: 700px;
  }
  .landing-array-technology-banner img {
    height: 600px;
  }
  .landing-array-technology-banner .megacat-aqm-banner-content {
    position: absolute !important;
    left: 0;
    bottom: -20px;
    width: 100%;
  }
  .arra-ceiling-list {
    position: absolute;
    right: -2rem;
    bottom: 2rem;
  }
}

@media (min-width: 1200px) {
  .custom-padding-top {
    padding-top: 8rem;
  }
  .right-align-img .section-2-img {
    width: 420px;
  }
  .big-imag-text-absolute .section-2-img {
    width: 500px;
  }
  .big-imag-text-absolute .cat-wall-list-main {
    padding: 4rem;
  }
  .right-align-img .section-2-img-recess {
    width: auto;
  }
  .array-ceiling-bog-image-right.right-align-img img {
    width: auto;
  }
  .array-ceiling-bog-image-right.right-align-img .cat-wall-list {
    width: 48%;
  }
  .envirosmart-content {
    padding: 5rem;
  }

  .circle-design-main {
    width: 1000px;
    height: 600px;
    border-radius: 50rem 50rem 0 0;
    background-color: #ffffff;
    border: 10px solid #d3e0e9;
    margin: 0 auto;
    position: relative;
  }
  .circle-design-main::after {
    content: '';
    width: 100%;
    height: 10px;
    background: #ffffff;
    position: absolute;
    bottom: -10px;
    left: 0;
  }
  .loop-image {
    width: 170px;
    height: 170px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid transparent;
    z-index: 100;
    position: absolute;
    text-align: center;
  }
  .loop-image-active::after {
    content: '';
    background: #ffffff;
    border: 1px solid #000000;
    width: 90%;
    height: 90%;
    position: absolute;
    border-radius: 50%;
    left: 5%;
    top: 5%;
    z-index: -1;
  }
  .loo-image-1 {
    bottom: -20px;
    left: 0;
    transform: translateX(-50%);
  }
  .loo-image-1 img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .loo-image-2 {
    bottom: 250px;
    left: -30px;
  }
  .loo-image-2 img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .loo-image-3 {
    bottom: 410px;
    left: 144px;
  }
  .loo-image-3 img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .loo-image-4 {
    top: -85px;
    left: 50%;
    margin-left: -85px;
  }
  .loo-image-4 img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .loo-image-5 {
    bottom: 410px;
    right: 144px;
  }
  .loo-image-5 img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .loo-image-6 {
    bottom: 250px;
    right: -30px;
  }
  .loo-image-6 img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .loo-image-7 {
    bottom: -20px;
    right: 0;
    transform: translateX(50%);
  }
  .loo-image-7 img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (max-width: 767px) {
  .landing-array-technology-banner {
    height: 500px;
  }
  .landing-array-technology-banner img {
    height: 400px;
  }
  .landing-array-technology-banner .megacat-aqm-banner-content {
    position: absolute !important;
    left: 0;
    bottom: -20px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .array-circle-img {
    max-width: 223px;
    margin-inline: auto;
  }
  .loop-array-mobile-img img {
    max-height: 118px;
    margin-top: 1rem;
  }
}

.cat-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-content: end;
}

.cat-section__text {
  margin-block-start: 3rem;
}

.cat-section__text h2 {
  text-transform: uppercase;
}
.cat-section__text a {
  font-size: var(--fds-fs-450);
}
.cat-section__image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cat-section__image img {
  max-width: 280px;
}

@media (min-width: 992px) {
  .cat-section {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .cat-section__text {
    margin-block-start: initial;
    min-height: 600px;
    display: grid;
    align-content: center;
  }
  .cat-section__image img {
    max-width: 354px;
  }
}

.cat-filters-banner img {
  height: 500px;
  object-fit: cover;
}
