.section-spacing {
  padding: 30px 0px;
}

#main-footer {
  border-top: none;
}

section h1 {
  font-size: 31px;
  font-weight: 500;
}

.form-group {
  margin-bottom: 0.938rem;
}

.form-outline .form-control {
  padding: 0.75rem 1.75rem;
  color: var(--fds-grey-800);
  font-size: var(--fds-fs-400);
}

.form-outline .form-control.form-control-lg ~ .form-label {
  padding-top: 1rem;
  font-size: var(--fds-fs-400);
}

.form-check-input[type='checkbox'] {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0;
}

.form-check-label {
  color: var(--fds-black);
  font-size: var(--fds-fs-325);
}

.cheout-options-link,
.cheout-options-link:hover,
.cheout-options-link:focus {
  font-size: var(--fds-fs-325);
  color: var(--fds-black);
  line-height: var(--fds-fs-350);
  text-decoration: underline;
  font-weight: 500;
}

.checkoutsubmit {
  color: #fff !important;
  background-color: #000 !important;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 24px;
  width: 220px;
}

.form-footer-wrapper {
  margin-bottom: 1.5rem;
}

.login-page-img {
  height: 225px;
}

.footer-nav-firstbar {
  display: none;
}

.login-options {
  display: grid;
  gap: 0.5rem;
}

.login-form-section {
  align-self: center;
}

@media (max-width: 991px) {
  .login-page-logo {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer-nav-firstbar {
    display: inline-block;
  }
}

@media (min-width: 992px) and (max-width: 1277px) {
  .footer-nav-firstbar {
    display: none;
  }
}

@media (min-width: 1278px) {
  .footer-nav-firstbar {
    display: inline-block;
  }
}

@media (min-width: 992px) {
  .login-page-img,
  .login-page-wrapper {
    height: 100vh;
  }

  .login-page-logo {
    width: 180px;
  }
}
