/* Homepage Navigation Styles start */
@media (max-width: 1199px) {
  #primary-content {
    padding-top: 70px;
  }
}

.navbar {
  background: var(--fds-white);
}

#main-navbar {
  border-bottom: none;
}

@media (min-width: 1200px) {
  #main-navbar {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .navbar .navbar-brand svg {
    fill: var(--fds-white);
    transition: all 0.5s ease-in-out;
  }
  #main-navbar.scrolled-up {
    background: var(--fds-white);
  }
  #main-navbar:hover .navbar-brand svg,
  #main-navbar.scrolled-up .navbar-brand svg {
    fill: var(--fds-black);
  }
  #main-navbar.top-scrolled-up {
    background-color: rgba(0, 0, 0, 0.3);
  }
  #main-navbar:hover,
  #main-navbar.top-scrolled-up:hover {
    background: var(--fds-white);
  }
  .opensearch {
    background: var(--fds-white);
  }
  #main-navbar.top-scrolled-up .navbar-brand svg {
    fill: var(--fds-white);
  }
  #main-navbar.top-scrolled-up:hover .navbar-brand svg {
    fill: var(--fds-black);
  }
  .opensearch .navbar-brand svg {
    fill: var(--fds-black);
  }
  .nav-link,
  .menu-link {
    color: var(--fds-white);
  }
  .navbar:hover .nav-link,
  .navbar:hover .menu-link {
    color: #97989c;
  }
  .scrolled-up .nav-link,
  .scrolled-up .menu-link {
    color: #97989c;
  }
  .top-scrolled-up .nav-link,
  .top-scrolled-up .menu-link {
    color: var(--fds-white);
  }
  .opensearch .menu-link,
  .opensearch .nav-link {
    color: #97989c;
  }
  .navbar .nav-link:focus,
  .navbar .nav-link:hover,
  .scrolled-up .nav-link:focus,
  .scrolled-up .nav-link:hover,
  .navbar .dropdown:hover .nav-link,
  .scrolled-up .dropdown:hover .nav-link {
    color: var(--fds-black);
  }
  .navbar .stroke-svg svg {
    stroke: var(--fds-white);
    transition: all 0.5s ease-in-out;
  }
  .navbar:hover .stroke-svg svg,
  .scrolled-up .stroke-svg svg {
    stroke: var(--fds-black);
  }
  .top-scrolled-up .stroke-svg svg {
    stroke: var(--fds-white);
  }
  .opensearch .stroke-svg svg {
    stroke: var(--fds-black);
  }
  .navbar .right-nav svg {
    fill: var(--fds-white);
    transition: all 0.5s ease-in-out;
  }
  #main-navbar:hover .right-nav svg,
  #main-navbar.scrolled-up .right-nav svg {
    fill: var(--fds-black);
  }
  #main-navbar.top-scrolled-up .right-nav svg {
    fill: var(--fds-white) !important;
  }
  .opensearch .right-nav svg {
    fill: var(--fds-black);
  }
  .right-nav li:last-child .nav-link {
    color: var(--fds-white);
  }
  .navbar:hover .right-nav li:last-child .nav-link {
    color: #97989c;
  }
  .scrolled-up .right-nav li:last-child .nav-link {
    color: #97989c;
  }
  .top-scrolled-up .right-nav li:last-child .nav-link {
    color: var(--fds-white);
  }
  .opensearch .right-nav li:last-child .nav-link {
    color: #97989c;
  }
  .right-nav li:last-child .nav-link:hover {
    color: var(--fds-black) !important;
  }
}
@media (max-width: 1199.98px) {
  .navbar .stroke-svg svg {
    stroke: var(--fds-black);
  }
}
/* Homepage Navigation Styles end */

/* Homepage Content Styles start */

#homepagebannerslider .carousel-item::before {
  content: '';

  position: absolute;
  inset: 0;

  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);

  opacity: 0.5;
}

#homepagebannerslider .carousel-indicators {
  position: relative;
  width: 100%;
  justify-content: space-between;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  gap: 0;
  background-color: #97989c;
}
#homepagebannerslider .carousel-indicators [data-mdb-target] {
  width: 20%;
  margin: 0;
  margin-top: 0;
  display: block;
  height: 100%;
  opacity: 0.4;
  border: none;
}
#homepagebannerslider .carousel-indicators .active {
  opacity: 0.9;
}
#homepagebannerslider .carousel-caption {
  text-align: left;
  left: 1em;
  right: 0;
  bottom: 1em;
}
.banner-cta {
  font-size: var(--fds-fs-450);
  font-weight: 400;
  margin-top: 1.5rem;
  position: relative;
}
.banner-cta::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  height: 1px;
  width: 2rem;
  background-color: var(--fds-yellow);
}
#homepagebannerslider .thumb-before::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: #272725;
  opacity: 0.49;
  top: 0;
  left: 0;
  z-index: 10;
}
.thumb-before img {
  height: 60px;
  object-fit: cover;
}
.thumb-caption {
  position: absolute;
  bottom: 0.2rem;
  text-indent: 0;
  padding: 0rem 0.2rem;
  left: 0;
  font-size: var(--fds-fs-100);
  text-align: left;
  color: var(--fds-white);
  line-height: var(--fds-fs-100);
  z-index: 20;
  text-shadow: 3px 3px 5px #00000050;
}
.banner-title span {
  font-size: var(--fds-fs-600);
  line-height: 2.563rem;
}
.banner-title {
  font-size: 2.188rem;
  line-height: 2.563rem;
  text-shadow: 3px 3px 5px #00000050;
  max-width: 425px;
}
#homepagebannerslider .carousel-item img {
  height: 100%;
  object-fit: cover;
  min-height: 500px;
}
.carousel-control-next,
.carousel-control-prev {
  width: 10%;
  opacity: 0.75;
}

.homepage-logo-carousel .carousel-control-next,
.homepage-logo-carousel .carousel-control-prev {
  width: 8%;
  margin-inline: -10%;
}
@media (min-width: 768px) {
  .banner-title span {
    font-size: 2.188rem;
    line-height: 3.75rem;
  }
  .banner-title {
    font-size: 3.438rem;
    line-height: 3.75rem;
  }
  #homepagebannerslider .carousel-indicators {
    gap: 0px;
    margin-top: 0;
  }
  .thumb-caption {
    font-size: var(--fds-fs-200);
    padding: 0rem 1rem;
    bottom: 1rem;
  }
  .thumb-before img {
    height: 150px;
    object-fit: cover;
  }
  #homepagebannerslider .carousel-item img {
    height: auto;
    min-height: 700px;
    object-fit: cover;
  }
  #homepagebannerslider .carousel-caption {
    bottom: 2em;
  }
}

.innovations-text {
  font-size: var(--fds-fs-600);
  line-height: 1.5;
  font-weight: 400;
}

.callout-text {
  font-weight: 500;
  color: var(--fds-green);
  font-size: var(--fds-fs-775);
}

.video-txt-overlay .callout-text {
  color: var(--fds-white);
  font-size: var(--fds-fs-950);
}

.video-txt-overlay {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.agency-section {
  background-color: var(--fds-green);
  padding-top: 2.25rem;
  padding-inline: 2.25rem;
}

.homepage-agency-title {
  font-size: var(--fds-fs-850);
  font-weight: 300;
  text-transform: capitalize;
  margin-bottom: 2.688rem;
}

.homepage-patent-slide-inner {
  display: grid;
}

.homepage-patent-slide-item h5 {
  font-size: var(--fds-fs-400);
  padding-bottom: 2.5rem;
  height: 34px;
}

.homepage-patent-slide-item i:before {
  position: absolute;
  top: 6px;
  font-size: 10px;
}

.homepage-patent-slide-item-text {
  margin-left: 15px;
}

#homepage-process-grid {
  max-width: 425px;
  margin-inline: auto;
}

#homepage-process-grid .multi-carousel-inner {
  gap: 3rem;
  vertical-align: top;
}

#homepage-process-grid .multi-carousel-item {
  flex: 1;
  max-width: 100%;
}

h5.grid-title {
  font-size: var(--fds-fs-750);
  font-weight: 400;
}

#homepage-process-grid.multi-carousel .multi-carousel-inner .multi-carousel-item img {
  max-height: 425px;
}

#homepage-process-grid .carousel-control-prev {
  margin-left: -2rem !important;
}

#homepage-process-grid .carousel-control-next {
  margin-right: -2rem !important;
}

.ideate-section,
.homepage-recent-stories {
  padding-block: 3rem;
  overflow: hidden;
}

.ideate-title {
  font-weight: 400;
  padding-bottom: 1.5rem;
}

.ideate-subtitle {
  font-size: var(--fds-fs-500);
  margin-bottom: 2.5rem;
}

.ideate-image {
  position: absolute;
  scale: 2.5;
  bottom: 0;
  transform-origin: bottom center;
}

/* Multi-Carousel CSS START */
.multi-carousel .multi-carousel-inner .multi-carousel-item img {
  max-height: initial;
  width: 100%;
}
.homepage-logo-carousel .multi-carousel-item h5 {
  font-size: var(--fds-fs-600);
  font-weight: 600;
  line-height: 2.75rem;
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 0px 1rem;
  bottom: 2rem;
}
.multi-carousel-item.active h5 {
  bottom: 3rem;
}
.black-gradient::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: transparent linear-gradient(180deg, #00000000 0%, #00000093 100%) 0% 0% no-repeat
    padding-box;
  height: 100px;
}
.active .black-gradient::before {
  height: 129px;
}
.black-gradient:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid var(--fds-white);
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -15px;
  display: none;
}
.black-gradient:hover:after,
.active .black-gradient:after {
  display: block;
}
.homepage-logo-carousel .carousel-control {
  color: var(--fds-grey-600);
  z-index: 20;
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
  opacity: 1;
}
.multi-carousel {
  position: relative;
}
.multi-carousel .multi-carousel-inner .multi-carousel-item {
  vertical-align: top;
  padding: 0 10px;
  cursor: pointer;
}
.logos-gray img {
  filter: grayscale(1);
}
.logos-gray img:hover {
  filter: grayscale(0);
}
.logo-slide {
  display: none;
}
.show.logo-slide {
  display: block;
}
.tile-devider {
  height: 2px;
  background-color: var(--fds-yellow);
  width: 35px;
  margin: 0 auto;
}
.logos-gray div {
  width: 49%;
}

#homepage-patent-slider .carousel-item {
  transition: transform 2s ease-in-out;
}

#homepage-patent-slider .carousel-fade .active.carousel-item-start,
#homepage-patent-slider .carousel-fade .active.carousel-item-end {
  transition: opacity 0s 2s;
}

.homepage-recent-stories .carousel-control-next,
.homepage-recent-stories .carousel-control-prev {
  color: var(--fds-black);
}

.tab-box {
  padding: 2rem 2rem 1rem 2rem;
  background-color: var(--fds-tan);
}
.safeairstoriestabbox .nav-pills .nav-link {
  background: none;
  display: block;
  text-align: center;
  border-radius: 0;
  font-size: var(--fds-fs-400);
  line-height: var(--fds-fs-725);
  color: var(--fds-black);
  text-transform: none;
  margin: 0;
  padding: 0.5rem 1.5rem;
  margin-block: 1rem;
}
.safeairstoriestabbox .nav-pills .nav-link::after {
  display: none;
}
.safeairstoriestabbox .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: #fff;
  border-radius: 50px;
}

.safeairstoriestabbox .nav-pills .nav-link:hover {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50px;
}

.tab-logo-box {
  background: var(--fds-white);
  height: 100%;
  padding: 2rem 2rem;
}
.tab-logo-box img {
  filter: grayscale(1);
}
.tab-logo-box img:hover {
  filter: grayscale(0);
}
.tab-dropdown {
  margin: 0;
  padding: 10px 24px 10px 24px;
  background: #fff;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  border-radius: 50px;
}

.safeairstoriestabbox i.fa-chevron-down {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  right: 20px;
  pointer-events: none;
}

.tab-logo-box .logos-gray div {
  width: 33%;
}

.safeairstoriestabbox .tab-img img {
  min-height: 225px;
  object-fit: cover;
}

.tab-content-title {
  font-weight: 600;
  text-align: center;
}

.tab-content-items ul {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: column;
  max-width: 1000px;
  margin-inline: auto;
  margin-top: 2rem;
  padding-inline-start: 0;
  list-style-type: none;
  font-size: 10px;
  column-gap: 2rem;
}

.tab-content-items ul li {
  max-width: 150px;
  margin-bottom: 1rem;
}

@media (min-width: 992px) {
  .homepage-logo-carousel .carousel-control-next,
  .homepage-logo-carousel .carousel-control-prev {
    margin-inline: 0%;
  }
  .carousel-control-next,
  .carousel-control-prev {
    width: 5%;
  }
  .logos-gray div {
    width: 19%;
  }
  .multi-carousel-item:hover .logo-slide {
    display: block;
  }
  .logoslider .multi-carousel .multi-carousel-inner {
    overflow-y: inherit;
  }
}
@media (max-width: 767px) {
  .logoslider .multi-carousel:before {
    background: transparent;
  }
}
/* Multi-Carousel CSS END */

.lets-work-section {
  line-height: 0;
}

.lets-work-section h2 {
  font-weight: 400;
}

.lets-work-section-title {
  margin-bottom: 2rem;
}

.lets-work-section-subtitle {
  font-size: var(--fds-fs-500);
  margin-bottom: 3.5rem;
  line-height: 1.3;
}

.lets-work-section .link-underlined {
  font-size: var(--fds-fs-500);
}

#homepage-recent-stories {
  max-width: 425px;
  margin-inline: auto;
}

#homepage-recent-stories .multi-carousel-inner {
  gap: 2rem;
}

#homepage-recent-stories .multi-carousel-item {
  flex: 1;
  max-width: 100%;
  vertical-align: top;
}
#homepage-recent-stories .carousel-control {
  margin-inline: -10% !important;
}

@media (min-width: 992px) {
  .innovations-text {
    font-size: var(--fds-fs-825);
  }
  #homepage-patent-slider {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
  }
  .homepage-patent-slide-item h5 {
    padding-bottom: 6.25rem;
  }
  .homepage-patent-slide-inner {
    grid-template-columns: 1fr 600px;
  }
  #homepage-process-grid {
    max-width: 100%;
    margin-inline: initial;
  }
  #homepage-process-grid .multi-carousel-item {
    max-width: 33%;
  }
  .ideate-section,
  .homepage-recent-stories {
    padding-block: 6.25rem;
  }
  .ideate-title {
    padding-bottom: 2.5rem;
  }
  .ideate-subtitle {
    margin-bottom: 1.5rem;
  }
  .ideate-image {
    scale: 1;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .lets-work-section-title {
    margin-bottom: 3rem;
  }
  .lets-work-section-subtitle {
    font-size: var(--fds-fs-700);
  }
  #homepage-recent-stories {
    max-width: 100%;
    margin-inline: initial;
  }
  #homepage-recent-stories .multi-carousel-item {
    max-width: 25%;
  }
  .safeairstoriestabbox i.fa-chevron-down {
    display: none;
  }
}

@media (min-width: 768px) {
  .agency-section {
    padding-top: 6.25rem;
  }
  .homepage-agency-title {
    font-size: var(--fds-fs-910);
    font-weight: 300;
    margin-bottom: 4.688rem;
  }
  .tab-box {
    padding: 3rem 2rem;
  }
  .tab-logo-box .logos-gray div {
    width: 20%;
  }
  .safeairstoriestabbox h2 {
    font-size: var(--fds-fs-850);
  }
  .tab-content-items ul {
    list-style-type: initial;
    font-size: 16px;
    column-gap: 5rem;
    padding-inline-start: 40px;
  }
}

@media (min-width: 1200px) {
  .tab-img {
    padding: 0;
  }
  .tab-img img {
    height: 100%;
    object-fit: contain;
  }
  .tab-box {
    padding: 3rem 2rem;
  }
}

@media (max-width: 1199.98px) {
  .tab-box .nav-pills {
    display: none;
  }
  .tab-box .nav-pills.showpills {
    display: block;
  }
  .safeairstoriestabbox .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background: transparent;
    display: none;
  }
}

/* Homepage Content Styles end */
