.idea-slider .carousel-control-next{
  background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
  background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
  background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
  background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}
.idea-slider .carousel-control-prev{
  background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
  background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
  background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
  background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.idea-slider .carousel-indicators [data-mdb-target]{
 width: 10px;
 height: 10px;
 border-radius: 50%;
 background: transparent;
 border: 1px solid #ffffff;
}
.idea-slider .carousel-indicators .active{
  width: 12px;
  height: 12px;
  background: #ffffff;
}
.idea-sub-title{
  font-size: var(--fds-fs-775);
  line-height: var(--fds-fs-825);    
  color: #666666;
  font-weight: 400;
}
.preg14{
  font-size: var(--fds-fs-325);
  line-height: var(--fds-fs-600);
  color: #666666;
}
.idea-hot-buttons{
  font-size: var(--fds-fs-450);
  line-height: var(--fds-fs-600);
  color: rgba(102, 102, 102, 0.85);
  font-weight: 600;
  padding: 10px;
  border: 1px solid rgba(77, 85, 91, 0.15);
  background-color: rgba(77, 85, 91, 0.05);
  box-shadow: 0 0 2px rgba(77, 85, 91, 0.2);
}
.idea-center-home, .idea-center-school, .idea-center-business{
  background: #e5eaee;
}
.idea-banner-section .idea-sub-title{
  font-size: var(--fds-fs-600);
  line-height: var(--fds-fs-700);
}
.idea-center-download-section{
  padding: 3rem 0rem 3rem 0rem;
}
.button-idea{
  font-weight: 500;
  color: rgba(102, 102, 102, 0.85);
  border: 1px solid #cccccc;
  text-align: center;
}
.button-idea a{
  color: rgba(102, 102, 102, 0.85);
  text-transform: uppercase;
  display: block;
  padding: 6px 12px;
  font-weight: 500;
  font-size: var(--fds-fs-325);
}
.button-idea a:hover{
  background-color: #e6e6e6;
  border-color: #adadad;
}
.button-active a, .button-active a:hover{
  background-color: #f3bc22;
    color: #ffffff;
}
.button-search{
  background-color: rgba(77, 85, 91, 1);
  color: #ffffff;
  text-align: center;
  padding: 7px 12px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: var(--fds-fs-325);
}
.quick-search-input{
  display: none;
}
.quick-search-box-clear{
  font-size: 1.5rem;
  color: var(--fds-black);
  position: absolute;
  top: 0;
  right: 10px;
}
.dropdown-filter .btn-default{
  color: rgba(102, 102, 102, 0.85);
  background-color: #fff;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 0;
  box-shadow: none;
  font-weight: 500;
  font-size: var(--fds-fs-325);
  padding: 6px 12px;
}
.dropdown-filter .btn-default:hover{
  box-shadow: none;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.dropdown-menu-filter{
  display: none;
  border: 1px solid rgba(0,0,0,.15);
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
  list-style: none;
  padding-left: 0px;
  border-radius: 0px;
  position: absolute;
  z-index: 100;
  width: 100%;
  background: #ffffff;
}
.dropdown-menu-filter li a{
  color: #262626;
  font-size: var(--fds-fs-325);
  padding: 3px 20px;
  display: block;
}
.dropdown-menu-filter li a:hover{
  background-color: #f5f5f5;
}
.dropdown-menu-filter li.section a{
  font-weight: 700;
}
.dropdown-menu-filter .sub-section a{
  padding-left: 30px;
}
.dropdown-menu-filter .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.disabled a{
  color: #777;
  cursor: not-allowed !important;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.sort-by-menu a{
  font-weight: 400 !important;
}
#ideas-list{
  list-style: none;
  padding-left: 0px;
  display: grid;
  gap: 1rem;
}
.idea-box{
  text-align: center;
  border: solid 1px #e6e6e6;
  padding: 1rem;
}
div.idea-title{
  text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 55px;
    overflow: hidden;
    font-weight: 700;
    color: #666666;
    font-size: var(--fds-fs-325);
}
.idea-description{
  height: 55px;
  margin: 10px 8px;
  overflow: hidden;
  text-align: center;
  font-size: var(--fds-fs-250);
  line-height: var(--fds-fs-450);
}
.idea-buttons .btn{
  display: inline-block;
  margin-bottom: 5px;
}
.idea-buttons .btn-lear-more{
  background-color: #f3bc22;
  color: #ffffff;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #eea236;
}
.idea-buttons .btn-lear-more:first-child:hover,
.idea-buttons .btn-lear-more:focus-visible,
.idea-buttons .btn-lear-more:hover,
.idea-buttons .btn-lear-more:focus,
:not(.btn-check) + .idea-buttons .btn-lear-more:hover {
  background: #f3bc22;
  color: #ffffff;
  box-shadow: none;
}
.idea-buttons .btn-download-idea{
  background-color: rgba(77, 85, 91, 1);
  color: #ffffff;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #2e6da4;
}
.idea-buttons .btn-download-idea:first-child:hover,
.idea-buttons .btn-download-idea:focus-visible,
.idea-buttons .btn-download-idea:hover,
.idea-buttons .btn-download-idea:focus,
:not(.btn-check) + .idea-buttons .btn-download-idea:hover {
  background: rgba(77, 85, 91, 1);
  color: #ffffff;
  box-shadow: none;
}
.idea-box .form-check{
  font-size: var(--fds-fs-250);
  line-height: var(--fds-fs-450);
  display: table;
  margin: 0 auto;
  padding-top: 20px;
}
.idea-box .form-check-input[type=checkbox]{
  margin-top: 0px;
  border-width: 1px;
}
#ideas-list li{
  display: none;
}
.btn-lear-more{
  background-color: #f3bc22;
  color: #ffffff;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #eea236;
}
.btn-lear-more:first-child:hover,
.btn-lear-more:focus-visible,
.btn-lear-more:hover,
.btn-lear-more:focus,
:not(.btn-check) + .btn-lear-more:hover {
  background: #f3bc22;
  color: #ffffff;
  box-shadow: none;
}
.idea-post-main{
  border: 1px solid #e6e6e6;
  padding: 20px;
  background-color: rgba(230, 230, 230, 0.1);
}
.breadcrumb .breadcrumb-item, .breadcrumb .breadcrumb-item a{
  color: #666666;
  font-size: var(--fds-fs-325);
}
.idea-post-title{
  font-size: var(--fds-fs-450);
  line-height: var(--fds-fs-600);
  font-weight: 600;
  color: #4d555b;
}
.idea-post-content{
  margin: 10px auto;
  overflow: hidden;
  padding: 20px;
  border: solid 1px #e6e6e6;
  background-color: #fff;
  font-size: var(--fds-fs-325);
  line-height: var(--fds-fs-450);
}
.social-stub-container{
  background-color: rgba(230, 230, 230, 0.1);
  border: 1px solid #e6e6e6;
  padding: 20px;
  margin: 20px 0;
}
.social-list{
  list-style: none;
  padding-left: 0px;
  font-size: 25px;
  color: #3b5998;
}
.social-comments {
  background-color: rgba(230, 230, 230, 0.1);
  border: 1px solid #e6e6e6;
  padding: 10px 20px;
  margin: 20px 0;
}
#social-comments-header{
  font-size: var(--fds-fs-450);
  line-height: var(--fds-fs-600);
  font-weight: 400;
  text-transform: uppercase;
}
#social-comments-header span{
  font-weight: 500;
}
@media (min-width:480px){
  #ideas-list{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width:768px){
  .idea-banner-section .idea-sub-title{
      font-size: var(--fds-fs-850);
      line-height: var(--fds-fs-880);
  }
  .idea-post-title{
    font-size: var(--fds-fs-775);
    line-height: var(--fds-fs-825);
    font-weight: 400;
    color: #666666;
  }
}
@media (min-width:992px){
  .idea-center-home{
    background: url('../img/idea-center/banner-desktop-idea-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 380px;
    background-position: center;
  }
  .idea-center-school{
    background: url('../img/idea-center/banner-school.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 380px;
    background-position: center;
  }
  .idea-center-business{
    background: url('../img/idea-center/banner-business.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 380px;
    background-position: center;
  }
  .idea-center-download-section{
    padding: 7rem 0rem 5rem 0rem;
  }
  #ideas-list{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width:1200px){
  #ideas-list{
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width:767px){
  .dropdown-filter .btn-default, .dropdown-filter .btn-default:hover{
    background-color: rgba(77, 85, 91, 1);
    color: #ffffff;
  }
}