.pretitle {
  font-size: var(--fds-fs-600);
  line-height: 1;
}

.main-title {
  font-size: var(--fds-fs-850);
}

.prod-cat-carousel.multi-carousel {
  overflow-x: hidden;
}

.prod-cat-carousel .carousel-control {
  color: var(--fds-grey-700);
  width: 5%;
  opacity: 0.7 !important;
  z-index: 20;
}

.prod-cat-carousel.multi-carousel .multi-carousel-inner {
  position: relative;
  width: 110%;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0;
}

.prod-cat-carousel.multi-carousel .multi-carousel-inner .multi-carousel-item img {
  max-height: 320px;
}

.prod-cat-carousel-title {
  font-size: var(--fds-fs-500);
  color: #000;
  font-weight: 300;
  margin-top: 1rem;
}

.section__title {
  font-size: var(--fds-fs-800);
  font-weight: 300;
  line-height: 1;
  margin-bottom: 1.5rem;
}

.section__description {
  font-size: var(--fds-fs-325);
  font-weight: 300;
  margin-bottom: 1rem;
}

.section__link {
  font-size: var(--fds-fs-500);
  font-weight: 300;
  margin-bottom: 2.75rem;
}

.section__image {
  max-width: 930px;
  margin-inline: auto;
}

.section__image-mobile {
  max-width: 240px;
}

@media (min-width: 768px) {
  .pretitle {
    font-size: var(--fds-fs-850);
  }

  .main-title {
    font-size: var(--fds-fs-950);
  }
  .section__title {
    font-size: var(--fds-fs-850);
  }

  .section__description {
    font-size: var(--fds-fs-500);
    font-weight: 500;
  }

  .section__link {
    margin-bottom: 3.75rem;
  }
}
