.pretitle {
  font-size: var(--fds-fs-600);
  line-height: 1;
}

.main-title {
  font-size: var(--fds-fs-850);
}

.product-category-section {
  overflow-x: hidden;
}

.prod-cat-carousel.multi-carousel {
  overflow-x: hidden;
}

.prod-cat-carousel .carousel-control {
  color: var(--fds-grey-600);
  width: 5%;
  opacity: 1 !important;
  z-index: 20;
}

.prod-cat-carousel button.carousel-control.carousel-control-prev {
  left: 3rem;
}

.prod-cat-carousel button.carousel-control.carousel-control-next {
  right: 3rem;
}

.ws-prod-cat-section button.carousel-control.carousel-control-prev {
  left: 6rem;
}

.ws-prod-cat-section button.carousel-control.carousel-control-next {
  right: 6rem;
}

.bm-prod-cat-section button.carousel-control.carousel-control-prev {
  left: 1rem;
}

.bm-prod-cat-section button.carousel-control.carousel-control-next {
  right: 1rem;
}

.prod-cat-carousel.multi-carousel .multi-carousel-inner,
.cat-prod-carousel.multi-carousel .multi-carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0;
  gap: 1rem;
  display: flex;
}

.prod-cat-carousel .multi-carousel-item,
.cat-prod-carousel .multi-carousel-item {
  flex: 1;
  background: var(--fds-tan);
  min-width: 100%;
  padding: 0 !important;
}

@media (min-width: 992px) {
  .prod-cat-carousel.multi-carousel .multi-carousel-inner,
  .cat-prod-carousel.multi-carousel .multi-carousel-inner {
    width: calc(100% + 1rem);
  }
  .prod-cat-carousel .multi-carousel-item,
  .cat-prod-carousel .multi-carousel-item {
    min-width: calc(25% - 1rem);
  }
  .prod-cat-carousel.multi-carousel-three .multi-carousel-item,
  .cat-prod-carousel.multi-carousel-three .multi-carousel-item {
    min-width: calc(33% - 1rem);
  }
}

.prod-cat-carousel.multi-carousel .multi-carousel-item a,
.cat-prod-carousel .multi-carousel .multi-carousel-item a {
  text-align: center;
  padding: 1rem;
  display: block;
}
.prod-cat-carousel button.carousel-control.carousel-control-prev,
.cat-prod-carousel button.carousel-control.carousel-control-prev {
  left: 10px;
}

.prod-cat-carousel button.carousel-control.carousel-control-next,
.cat-prod-carousel button.carousel-control.carousel-control-next {
  right: 10px;
}
.prod-cat-carousel button.carousel-control,
.cat-prod-carousel button.carousel-control {
  height: 50px;
  width: 50px;
  background: var(--fds-white);
  border-radius: 6px;
  bottom: 1rem;
  top: unset;
  margin-top: -25px;
  opacity: 1 !important;
}

@media (min-width: 992px) {
  .prod-cat-carousel button.carousel-control,
  .cat-prod-carousel button.carousel-control {
    top: 50%;
    bottom: unset;
  }
}

.prod-cat-carousel button.carousel-control span,
.cat-prod-carousel button.carousel-control span {
  width: auto;
  height: auto;
}

.prod-cat-carousel.multi-carousel .multi-carousel-inner .multi-carousel-item img {
  max-height: 320px;
}

.prod-cat-carousel-title {
  font-size: var(--fds-fs-450);
  color: var(--fds-black);
  font-weight: 500;
  margin-top: 1rem;
}
.prod-cat-carousel-title strong {
  font-weight: 500;
}

.cat-prod-carousel {
  isolation: isolate;
}

.cat-prod-carousel .multi-carousel-inner {
  /* width: calc(100% - 80px);  */
  margin-inline: auto;
}

.cat-prod-carousel-title {
  position: absolute;
  top: 3rem;
  width: 100%;
  z-index: 200;
}

.cat-prod-carousel .multi-carousel .multi-carousel-inner .multi-carousel-item img {
  min-height: 320px;
  object-fit: contain;
  object-position: bottom;
}

.cat-prod-carousel .carousel-control-next,
.cat-prod-carousel .carousel-control-prev {
  width: 40px;
  height: 125px;
  color: var(--fds-grey-600);
  opacity: 1;
  top: 50%;
  transform: translateY(-50%);
  line-height: 1;
  background-color: #fff;
}

.cat-prod-carousel .carousel-control-next:hover,
.cat-prod-carousel .carousel-control-prev:hover {
  color: var(--fds-grey-600);
  opacity: 1;
}

.cat-prod-carousel .multi-carousel-item {
  white-space: normal;
}

.prod-cat-carousel-desc {
  font-size: var(--fds-fs-325);
}

.cat-prod-carousel .multi-carousel {
  display: flex;
  align-items: flex-end;
  margin: 0px 1rem;
}
#carouselMultiItemExample .carousel-item a {
  display: block;
  padding: 1rem;
  text-align: center;
  background: var(--fds-tan);
}
#carouselMultiItemExample .carousel-control-prev,
#carouselMultiItemExample .carousel-control-next {
  width: 50px;
  height: 50px;
  top: 50%;
  margin-top: -25px;
  background: var(--fds-white);
  border-radius: 6px;
  opacity: 1 !important;
}
#carouselMultiItemExample .carousel-control-prev {
  left: 20px;
}
#carouselMultiItemExample .carousel-control-next {
  right: 20px;
}
#carouselMultiItemExample .carousel-control-prev span,
#carouselMultiItemExample .carousel-control-next span {
  width: auto;
  height: auto;
}
.carousel-indicators [data-mdb-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
@media (min-width: 992px) {
  .cat-prod-carousel .carousel-control-next,
  .cat-prod-carousel .carousel-control-prev {
    width: 100px;
    height: auto;
    top: 0;
    transform: none;
  }
  .cat-prod-carousel .carousel-control-next {
    border-top: none;
    border-bottom: none;
  }

  .cat-prod-carousel .carousel-control-prev {
    border-top: none;
    border-bottom: none;
  }
  .cat-prod-carousel .multi-carousel-inner {
    width: 100%;
  }
}

.section__title {
  font-size: var(--fds-fs-800);
  font-weight: 300;
  line-height: 1;
  margin-bottom: 1.5rem;
}

.section__description {
  font-size: var(--fds-fs-325);
  font-weight: 300;
  margin-bottom: 1rem;
}

.section__link {
  font-size: var(--fds-fs-500);
  font-weight: 300;
  margin-bottom: 2.75rem;
}

.section__image {
  max-width: 930px;
  margin-inline: auto;
}

.section__image-mobile {
  max-width: 240px;
}

.work-from-home-text {
  position: absolute;
  top: 30%;
  width: 100%;
  transform: translateY(-50%);
  text-shadow: 0px 3px 5px #00000050;
}
.banner-text-bottom-aqm .container {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.charge-ahead-section .container {
  top: inherit;
  bottom: 5%;
}
.left-underline:after {
  left: 0;
  transform: none;
  bottom: 0px;
  top: inherit;
}
.rows-structure .left-md-underline:after{
  bottom: -8px;
}
.aqm-small-banner-img img {
  height: 600px;
  object-fit: cover;
  object-position: top;
}
.your-best-banner img {
  object-position: center;
}
.your-best-banner::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent linear-gradient(347deg, #00000000 0%, #151514ce 80%, #1c1c1a 100%) 0% 0%
    no-repeat padding-box;
  opacity: 0.6;
}
.monitor-arms-banner::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent linear-gradient(270deg, #00000000 0%, #1c1c1a 100%) 0% 0% no-repeat
    padding-box;
  opacity: 0.44;
}
.charge-ahead-section::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent linear-gradient(183deg, #f7f7f700 0%, #f7f7f7 100%) 0% 0% no-repeat
    padding-box;
  opacity: 0.96;
}
.shine-on-banner::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent linear-gradient(125deg, #f7f7f700 0%, #f7f7f73e 52%, #f7f7f7dd 100%) 0% 0%
    no-repeat padding-box;
  opacity: 1;
}
.megacat-work-space-banner .section__heading {
  font-size: var(--fds-fs-775);
  line-height: var(--fds-fs-850);
}
.megacat-work-space-banner a {
  font-size: var(--fds-fs-450);
  line-height: var(--fds-fs-905);
}
.megacat-work-space-banner .section__text {
  font-size: var(--fds-fs-325);
  line-height: var(--fds-fs-710);
}
.monitor-arms-banner .container {
  top: 30%;
}
.shine-on-banner .left-underline:after {
  left: inherit;
  transform: none;
  bottom: 0px;
  top: inherit;
  right: 0;
}
.shine-on-banner .container {
  top: 26%;
}
.your-best-banner .container {
  top: 5%;
}
.ergonomic-banner-text .banner-text__header span {
  font-size: var(--fds-fs-600);
  line-height: var(--fds-fs-700);
  text-transform: capitalize;
}
.ergonomic-banner-div img {
  height: 350px;
  object-fit: cover;
  object-position: top center;
}
.category-box-hover {
  transition: all 0.4s;
}
.category-box-hover:hover {
  background: #ebeae8;
}
.category-title-box {
  font-size: var(--fds-fs-710);
  line-height: var(--fds-fs-850);
}
.category-box-link {
  font-size: var(--fds-fs-450);
  line-height: var(--fds-fs-905);
}
.category-box-hover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.shine-banner-text.banner-text__header {
  text-shadow: 0px 0px 3px #00000029;
}
.white-overlay::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.4);
}
@media (min-width: 768px) {
  .category-title-box {
    font-size: var(--fds-fs-775);
    line-height: 3rem;
  }

  .ergonomic-banner-div img {
    height: 500px;
  }
  .ergonomic-banner-text .banner-text__header {
    font-size: var(--fds-fs-950);
    line-height: 2.75rem;
  }
  .shine-banner-text.banner-text__header {
    font-size: var(--fds-fs-950);
    line-height: 2.75rem;
  }
  .ergonomic-banner-text .banner-text__header span {
    font-size: var(--fds-fs-775);
    line-height: var(--fds-fs-710);
  }
  .work-from-home-text {
    top: 50%;
  }
  .work-space-banner img {
    object-position: bottom center !important;
  }
  .shine-on-banner .left-underline:after {
    left: 0;
    transform: none;
    bottom: 0px;
    top: inherit;
  }
  .your-best-banner::before {
    background: transparent linear-gradient(270deg, #00000000 0%, #1c1c1a 100%) 0% 0% no-repeat
      padding-box;
    opacity: 0.54;
  }
  .charge-ahead-section::before {
    background: transparent linear-gradient(270deg, #f7f7f700 0%, #f7f7f7 100%) 0% 0% no-repeat
      padding-box;
    opacity: 0.81;
  }
  .shine-on-banner::before {
    display: none;
  }
  .megacat-work-space-banner .section__text {
    font-size: 1.188rem;
    line-height: var(--fds-fs-710);
  }
  .pretitle {
    font-size: var(--fds-fs-850);
  }

  .main-title {
    font-size: var(--fds-fs-950);
  }
  .section__title {
    font-size: var(--fds-fs-850);
  }

  .section__description {
    font-size: var(--fds-fs-500);
    font-weight: 500;
  }

  .section__link {
    margin-bottom: 3.75rem;
  }
  .aqm-small-banner-img img {
    height: 600px;
  }
  .banner-text-bottom-aqm .container {
    top: 30%;
  }
}

.cat-section-bg-img-wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0.25rem;
}

.monitor-cat-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  align-content: end;
}

.monitor-cat-section__text {
  max-width: 400px;
  margin-inline: auto;
  margin-block-start: 3rem;
}

.monitor-cat-section__text h2 {
  text-transform: uppercase;
}
.monitor-cat-section__text a {
  font-size: var(--fds-fs-450);
}
.monitor-cat-section__image {
  align-self: end;
}
.vertical-mibble-img {
  align-self: center;
}

@media (min-width: 992px) {
  .category-box-hover {
    height: 100%;
  }
  .monitor-cat-section {
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
  }
  .monitor-cat-section__text {
    margin-block-start: initial;
    min-height: 600px;
    display: grid;
    align-content: center;
  }
  .small-image-organisation img {
    width: 75%;
  }
}
.bigptext-cat-furn{
  font-size: var(--fds-fs-350);
  line-height: var(--fds-fs-700);
}
.bigptext{
  font-size: var(--fds-fs-325);
  line-height: var(--fds-fs-700);
}
.sub-title-workstation {
  font-size: var(--fds-fs-775);
  line-height: normal;
}
.border-rows-bottom{
  border-bottom: 1px solid #E8E3DE;
}
.object-position-top img{
  object-position: top;
}
@media (min-width:768px){
  .bigptext-cat-furn{
    font-size: 1.563rem;
    line-height: var(--fds-fs-775);
  }
  .bigptext{
    font-size: var(--fds-fs-500);
    line-height: var(--fds-fs-725);
  }
 
  .left-md-underline:after{
    left: 0;
    transform: none;
  }  
}
@media (min-width:992px){
  .padding-left-custom{padding-left: 2rem;}
}