#aqmslider .carousel-indicators {
  position: relative;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 0;
  margin-right: 0;
}
#aqmslider .carousel-indicators [data-mdb-target] {
  width: 100%;
  margin: 0;
  margin-top: 0;
  height: auto;
  border: none;
  opacity: 1;
}
#aqmslider .carousel-indicators [data-mdb-target]:last-child {
  border-bottom: 0;
}
#aqmslider .carousel-caption {
  text-align: left;
  left: 3rem;
  right: inherit;
  bottom: 3rem;
  width: 50%;
}
.thumb-before img {
  height: 80px;
  -o-object-fit: cover;
  object-fit: cover;
}
.thumb-caption {
  position: absolute;
  bottom: 0rem;
  text-indent: 0;
  padding: 1rem;
  left: 0;
  text-align: left;
  z-index: 20;
  color: var(--fds-white);
  font-size: var(--fds-fs-300);
  line-height: var(--fds-fs-600);
  width: 100%;
}
.thumb-caption::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #3c434b;
  background-blend-mode: multiply;
  z-index: -1;
  opacity: 0.74;
}
.banner-title-aqm {
  font-size: var(--fds-fs-600);
  line-height: 2.5rem;
}
#aqmslider .carousel-indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 0;
}
#aqmslider .carousel-item img {
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
}
.thumb-before img {
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}
.mobile-slides button {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.mobile-slides .thumb-title {
  font-size: 1.125rem;
  line-height: 1.313rem;
  margin-bottom: 0.625rem;
}
.megacat-aqm-banner-content .container {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 2rem;
}
.megacat-banner img {
  height: 500px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top center;
  object-position: top center;
}
.sub-title-workstation {
  font-size: var(--fds-fs-775);
  line-height: normal;
}
.effective-pro-row img {
  height: 140px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (min-width: 992px) {
  .megacat-banner img {
    height: 700px;
  }
  .w-lg-50 {
    width: 50%;
  }
  #aqmslider .carousel-indicators [data-mdb-target] {
    border-bottom: 8px solid transparent;
  }
  .banner-title-aqm {
    font-size: 2.188rem;
    line-height: 2.5rem;
  }
  .thumb-caption {
    font-size: var(--fds-fs-200);
    padding: 0rem 1rem;
    bottom: 1rem;
    line-height: 0.875rem;
    background: transparent;
  }
  .thumb-caption::before {
    display: none;
  }
  .thumb-before img {
    height: 228px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  #aqmslider .thumb-before::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: #272725;
    opacity: 0.2;
    top: 0;
    left: 0;
    z-index: 10;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  #aqmslider .active .thumb-before::before {
    opacity: 0.7;
  }
  #aqmslider .carousel-item img {
    height: 700px;
  }
  #aqmslider .carousel-caption {
    width: 45%;
    left: 2rem;
    bottom: 2rem;
  }
  #aqmslider .carousel-caption p {
    font-size: var(--fds-fs-500);
    line-height: 1.5rem;
  }
}

.megacaraqmbg img {
  height: 600px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top center;
  object-position: top center;
}
.megacaraqmbg::before {
  content: '';
  width: 100%;
  height: 100%;
  background: transparent -webkit-gradient(linear, left top, right top, from(#000000), to(#00000000)) 0% 0% no-repeat;
  background: transparent -o-linear-gradient(left, #000000 0%, #00000000 100%) 0% 0% no-repeat;
  background: transparent linear-gradient(90deg, #000000 0%, #00000000 100%) 0% 0% no-repeat;
  position: absolute;
  opacity: 0.43;
}
.banner-title {
  font-size: var(--fds-fs-800);
  line-height: 2.375rem;
  font-weight: 300;
}
.megacat-caption {
  position: absolute;
  bottom: 50px;
  width: 100%;
  max-width: 300px;
  bottom: 10.5rem;
}
.healthyair-section {
  background: var(--fds-tan);
}
.bigptext {
  font-size: var(--fds-fs-500);
  line-height: 1.5rem;
  max-width: 750px;
  margin-inline: auto;
}
.healthyiconbox .bigptext {
  font-size: var(--fds-fs-250);
  line-height: var(--fds-fs-350);
}
.font-weight-medium {
  font-weight: 500;
}
.font-weight-300 {
  font-weight: 300;
}
.healthyair-section {
  padding: 4rem 0rem;
}
.iconrow-top-spacing {
  padding-top: 1rem;
}
.healthyairicons img {
  height: 1.875rem;
  margin-right: 1.5rem;
}
.bluesection {
  background: var(--fds-blue);
}
.title-yellow-line {
  height: 2px;
  background-color: var(--fds-yellow);
  width: 35px;
  border: none;
  margin: 0 auto;
}
.room-phases {
  gap: 10px;
}
.yellowboxwithdiscription {
  background: var(--fds-tan);
  padding: 2rem 1rem;
}
.light-blue-box {
  background: var(--fds-light-blue);
}
.tab-box {
  padding: 2rem 2rem 1rem 2rem;
}
.safeairstoriestabbox .nav-pills .nav-link {
  background: none;
  display: block;
  text-align: center;
  border-radius: 0;
  padding: 0.8rem 1.5rem;
  font-size: var(--fds-fs-400);
  line-height: var(--fds-fs-725);
  color: var(--fds-black);
  text-transform: none;
  margin: 0;
}
.safeairstoriestabbox .nav-pills .nav-link::after {
  display: none;
}
.safeairstoriestabbox .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: #f2f8ff;
}
.tab-logo-box {
  background: var(--fds-tan);
  padding: 2rem 2rem;
}
.tab-logo-box img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.tab-logo-box img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
.tab-dropdown {
  margin: 0;
  padding: 10px 24px 10px 24px;
  background: #f2f8ff;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.safeairstoriestabbox i.fa-chevron-down {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  right: 10px;
  pointer-events: none;
}

.tab-logo-box .logos-gray div {
  width: 33%;
}

.safeairstoriestabbox .tab-img img {
  min-height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
}
.aqm-small-banner-text {
  font-size: 1.688rem;
  line-height: 1.938rem;
  color: var(--fds-black);
}
.banner-text-bottom-aqm .container {
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 10;
}
.aqm-small-banner-img img {
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
}
.left-underline:after {
  left: 0;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}
.center-underline::after {
  left: 50% !important;
  -webkit-transform: translateX(-50%) !important;
  -ms-transform: translateX(-50%) !important;
  transform: translateX(-50%) !important;
  bottom: -9px;
  top: inherit;
}
.column-discription-title {
  font-size: var(--fds-fs-775);
  line-height: var(--fds-fs-900);
}
.big-link {
  font-size: var(--fds-fs-450);
  line-height: var(--fds-fs-600);
}
.object-top-left img {
  -o-object-position: top left;
  object-position: top left;
}
.global-leader-section-title {
  font-size: var(--fds-fs-710);
  line-height: var(--fds-fs-800);
}
.global-leader-sub-title {
  font-size: var(--fds-fs-600);
  line-height: var(--fds-fs-710);
}
.global-leader-section img {
  height: 85px;
}
.zone-font {
  font-size: var(--fds-fs-400);
  line-height: var(--fds-fs-710);
  font-weight: 500;
  position: relative;
  padding-left: 30px;
}
.zone-1 {
  color: #eec07e;
}
.zone-1::before {
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #eec07e;
  position: absolute;
  top: 0;
  left: 0;
}
.zone-2 {
  color: #95c1d1;
}
.zone-2::before {
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #95c1d1;
  position: absolute;
  top: 0;
  left: 0;
}
.zone-3 {
  color: #95c7bf;
}
.zone-3::before {
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #95c7bf;
  position: absolute;
  top: 0;
  left: 0;
}
.aqm-small-img-banner:before {
  background: transparent -o-linear-gradient(136deg, #00000000 0%, #00000099 47%, #000000 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(314deg, #00000000 0%, #00000099 47%, #000000 100%) 0% 0% no-repeat padding-box;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 1;
}

.select-input.focused ~ .select-arrow {
  color: var(--fds-black);
}

.form-outline .form-control {
  padding: 0.75rem 1.75rem;
  color: var(--fds-grey-800);
  font-size: var(--fds-fs-400);
}

.form-outline .form-control.form-control-lg ~ .form-label {
  padding-top: 1rem;
}

.form-outline .form-control.form-control-lg.active ~ .form-label,
.form-outline .form-control.form-control-lg:focus ~ .form-label {
  -webkit-transform: translateY(-1.5rem) translateY(0.1rem) scale(0.8);
  -ms-transform: translateY(-1.5rem) translateY(0.1rem) scale(0.8);
  transform: translateY(-1.5rem) translateY(0.1rem) scale(0.8);
}

.form-outline .form-control:focus ~ .form-label {
  color: var(--fds-black);
}

.form-outline .form-control ~ .form-notch div {
  border-radius: 0 !important;
}

.form-outline .form-control.select-input:focus ~ .form-notch .form-notch-trailing,
.select-input.focused ~ .form-notch .form-notch-trailing,
.form-outline .form-control:focus ~ .form-notch .form-notch-trailing {
  border-color: var(--fds-black);
  -webkit-box-shadow: 1px 0 0 0 var(--fds-black), 0 -1px 0 0 var(--fds-black), 0 1px 0 0 var(--fds-black);
  box-shadow: 1px 0 0 0 var(--fds-black), 0 -1px 0 0 var(--fds-black), 0 1px 0 0 var(--fds-black);
}

.form-outline .form-control.select-input:focus ~ .form-notch .form-notch-leading,
.select-input.focused ~ .form-notch .form-notch-leading,
.form-outline .form-control:focus ~ .form-notch .form-notch-leading {
  border-color: var(--fds-black);
  -webkit-box-shadow: -1px 0 0 0 var(--fds-black), 0 1px 0 0 var(--fds-black), 0 -1px 0 0 var(--fds-black);
  box-shadow: -1px 0 0 0 var(--fds-black), 0 1px 0 0 var(--fds-black), 0 -1px 0 0 var(--fds-black);
}

.form-outline .form-control:focus ~ .form-notch .form-notch-middle {
  border-color: var(--fds-black);
  -webkit-box-shadow: 0 1px 0 0 var(--fds-black);
  box-shadow: 0 1px 0 0 var(--fds-black);
  border-top: 1px solid transparent;
}

.form-check-label {
  color: var(--fds-black);
}

.form-check-input[type='checkbox'] {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0;
}

.form-check-input[type='checkbox']:checked,
.form-check-input[type='checkbox']:checked:focus {
  background-color: var(--fds-black);
  border-color: var(--fds-black);
}

.form-check-input[type='checkbox']:checked:after {
  margin-left: 0rem;
  width: 14px;
  height: 14px;
  top: 1px;
  left: 1px;
  background-color: var(--fds-grey-700);
  -webkit-transform: unset;
  -ms-transform: unset;
  transform: unset;
  border: none;
  margin-top: 0;
}

.form-check-input[type='checkbox']:checked,
.form-check-input[type='checkbox']:checked:focus {
  background: transparent;
  border-color: var(--fds-grey-700);
}
.form-group {
  margin-bottom: 0.938rem;
}
.select-arrow {
  color: var(--fds-grey-400);
  left: var(--mdb-form-outline-select-arrow-right);
  right: inherit;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.form-outline .form-control ~ .form-notch div,
.form-outline .form-control ~ .form-notch div,
.form-outline .form-control ~ .form-notch div {
  border-color: var(--fds-grey-700);
}
.form-check-input[type='checkbox']:checked,
.form-check-input[type='checkbox']:checked:focus {
  width: 18px;
  height: 18px;
}
.form-outline .form-control.form-control-lg,
.form-outline .form-control.form-control-lg ~ .form-label {
  font-size: var(--fds-fs-400);
}
.small-note {
  font-size: var(--fds-fs-150);
  line-height: var(--fds-fs-450);
  color: var(--fds-black);
}
.rows-structure .left-md-underline:after {
  bottom: -8px;
}
.border-rows-bottom {
  border-bottom: 1px solid #e8e3de;
}
.air-quality-title {
  text-transform: capitalize;
}
.time-line-title {
  font-size: var(--fds-fs-700);
  line-height: var(--fds-fs-860);
  letter-spacing: 2.2px;
  font-weight: 500;
}
.timeline-content {
  font-size: 0.938rem;
  line-height: var(--fds-fs-700);
  font-weight: 500;
  padding: 0;
  padding-left: 1.5rem;
}
.year-title {
  font-size: 1.563rem;
  color: #778495;
  line-height: var(--fds-fs-775);
  margin-bottom: 0.5rem;
}
.timeline {
  border-left: none;
  position: relative;
  list-style: none;
  overflow: visible;
}

.timeline .timeline-item {
  position: relative;
  border-left: 2px solid #778495;
}
.timeline .timeline-item:last-child {
  border-left: 2px solid transparent;
}

.timeline .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .timeline-item:after {
  background-color: #778495;
  left: -5.5px;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: '';
}
.custom-text .timeline-content {
  width: 100%;
  position: relative;
  top: -9px;
}
.timeline-image {
  position: absolute;
  width: 50px;
  top: -12px;
  left: -68px;
}
.timeline {
  margin-left: 60px;
  width: auto;
}
.time-line-left-text {
  font-size: 0.938rem;
  line-height: 1.813rem;
}
.technology-boxes {
  border: 1px solid #778495;
  border-radius: 15px;
}
.btn-blue {
  background: #748597;
  color: #ffffff;
  font-size: var(--fds-fs-350);
  border-radius: 50px;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-transform: capitalize;
  display: block;
  width: fit-content;
  padding: 0.75rem 2rem;
  margin-inline: auto;
  margin-top: 1rem;
}

.btn-blue:first-child:hover,
.btn-blue:focus-visible,
.btn-blue:hover,
.btn-blue:focus,
:not(.btn-check) + .btn-blue:hover {
  background-color: #4c89d9;
  color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
@media (min-width: 576px) {
  .custom-text .timeline-content {
    width: 70%;
    position: relative;
    top: -9px;
  }
  .timeline-image {
    position: relative;
    width: 30%;
    top: 0;
    left: 0px;
    text-align: center;
  }
  .timeline {
    margin-left: 0px;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .left-md-underline:after {
    left: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .form-text-bottom {
    font-size: var(--fds-fs-450);
    line-height: var(--fds-fs-850);
  }
  .room-phases {
    gap: 20px;
  }
  .zone-font {
    font-size: var(--fds-fs-700);
    line-height: var(--fds-fs-725);
    padding-left: 35px;
  }
  .global-leader-section-title {
    font-size: var(--fds-fs-860);
    line-height: 2.625rem;
  }
  .global-leader-sub-title {
    font-size: var(--fds-fs-700);
    line-height: var(--fds-fs-725);
  }
  .big-link {
    font-size: var(--fds-fs-450);
    line-height: var(--fds-fs-905);
  }
  .aqm-small-banner-img img {
    height: 100vh;
  }
  .column-discription-title {
    font-size: var(--fds-fs-900);
    line-height: var(--fds-fs-907);
  }
  .banner-title {
    font-size: var(--fds-fs-900);
    line-height: var(--fds-fs-900);
  }
  .megacat-caption {
    max-width: 420px;
    bottom: 7.5rem;
  }
  .megacaraqmbg img {
    height: 700px;
  }
  .healthyair-section {
    padding: 7.188rem 0rem;
  }
  .iconrow-top-spacing {
    padding-top: 4rem;
  }
  .healthyairicons {
    margin-bottom: 2.188rem;
  }
  .healthyairicons img {
    height: 3.125rem;
    margin-right: 0;
  }
  .healthyiconbox .bigptext {
    font-size: var(--fds-fs-500);
    line-height: 1.5rem;
  }
  .yellowboxwithdiscription {
    padding: 2rem 3rem;
  }
  .tab-box {
    padding: 3rem 2rem;
  }
  .tab-logo-box .logos-gray div {
    width: 20%;
  }
  .safeairstoriestabbox h2 {
    font-size: var(--fds-fs-850);
    line-height: var(--fds-fs-725);
  }

  .banner-text-bottom-aqm .container.top30 {
    top: 30%;
  }
  .air-quality-title {
    font-size: 3.813rem;
    line-height: 4.438rem;
  }
}
@media (min-width: 992px) {
  .technology-boxes .btn-blue {
    min-width: 300px;
  }
  .padding-left-custom {
    padding-left: 2rem;
  }
  .aqm-small-banner-text {
    font-size: 2.313rem;
    line-height: var(--fds-fs-905);
  }
  .safeairstoriestabbox i.fa-chevron-down {
    display: none;
  }
  .megacat-caption {
    max-width: 630px;
  }
  .banner-title {
    font-size: var(--fds-fs-950);
    line-height: 3.75rem;
  }
  .yellowboxwithdiscription {
    min-height: 225px;
  }
}
@media (min-width: 1200px) {
  .room-phases {
    position: absolute;
    top: 50%;
    right: 10%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .yellowboxwithdiscription {
    min-height: 175px;
  }
  /* .light-blue-box.tab-box {
    min-height: 750px;
  } */
  .tab-img {
    padding: 0;
  }
  .tab-img img {
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }
  .tab-box {
    padding: 3rem 2rem;
  }
}
@media (max-width: 1199.98px) {
  .tab-box .nav-pills {
    display: none;
  }
  .tab-box .nav-pills.showpills {
    display: block;
  }
  .safeairstoriestabbox .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background: transparent;
    display: none;
  }
}

.tab-box {
  padding: 2rem 2rem 1rem 2rem;
  background-color: var(--fds-light-blue);
}
.safeairstoriestabbox .nav-pills .nav-link {
  background: none;
  display: block;
  text-align: center;
  border-radius: 0;
  font-size: var(--fds-fs-400);
  line-height: var(--fds-fs-725);
  font-weight: 600;
  text-align: left;
  color: var(--fds-black);
  text-transform: none;
  margin: 0;
  padding: 0.5rem 1.5rem;
  margin-block: 0.25rem;
  text-transform: uppercase;
  border-radius: 50px;
}
.safeairstoriestabbox .nav-pills .nav-link::after {
  display: none;
}
.safeairstoriestabbox .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: #fff;
  border-radius: 50px;
}

.safeairstoriestabbox .nav-pills .nav-link:hover {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50px;
}

.tab-logo-box {
  background: var(--fds-tan);
  height: 100%;
  padding: 1rem 1rem;
}
.tab-logo-box img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: 0.6;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.tab-logo-box img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  opacity: 1;
}
.tab-dropdown {
  margin: 0;
  padding: 10px 24px 10px 24px;
  background: #fff;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 600;
}

.safeairstoriestabbox i.fa-chevron-down {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  right: 20px;
  pointer-events: none;
}

.tab-logo-box .logos-gray div {
  width: 50%;
  padding: 0.5rem;
}

.safeairstoriestabbox .tab-img img {
  min-height: 225px;
  -o-object-fit: cover;
  object-fit: cover;
}

.tab-content-title {
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.tab-content-items ul {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: column;
  max-width: 1000px;
  margin-inline: auto;
  margin-top: 2rem;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  list-style-type: none;
  font-size: 10px;
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
}

.tab-content-items ul li {
  max-width: 150px;
  margin-bottom: 1rem;
}

#page-video {
  min-height: 180px;
  -o-object-fit: cover;
  object-fit: cover;
}

@media (min-width: 576px) {
  #page-video {
    min-height: 363px;
  }
}

@media (min-width: 992px) {
  .homepage-logo-carousel .carousel-control-next,
  .homepage-logo-carousel .carousel-control-prev {
    margin-inline: 0%;
  }
  .carousel-control-next,
  .carousel-control-prev {
    width: 5%;
  }
  .logos-gray div {
    width: 19%;
  }
  .multi-carousel-item:hover .logo-slide {
    display: block;
  }
  .logoslider .multi-carousel .multi-carousel-inner {
    overflow-y: inherit;
  }
  .safeairstoriestabbox i.fa-chevron-down {
    display: none;
  }
}

@media (min-width: 768px) {
  .tab-logo-box {
    padding: 2rem;
  }
  .tab-box {
    padding: 3rem 2rem;
  }
  .tab-logo-box .logos-gray div {
    width: 20%;
  }
  .safeairstoriestabbox h2 {
    font-size: var(--fds-fs-850);
  }
  .tab-content-items ul {
    list-style-type: initial;
    font-size: 16px;
    -webkit-column-gap: 5rem;
    -moz-column-gap: 5rem;
    column-gap: 5rem;
    -webkit-padding-start: 40px;
    padding-inline-start: 40px;
  }
}

@media (min-width: 1200px) {
  .tab-img {
    padding: 0;
  }
  .tab-img img {
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }
  .tab-box {
    padding: 3rem 2rem;
  }
}

@media (max-width: 1199.98px) {
  .tab-box .nav-pills {
    display: none;
  }
  .tab-box .nav-pills.showpills {
    display: block;
  }
  .safeairstoriestabbox .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background: transparent;
    display: none;
  }
}

@media (max-width: 767px) {
  .logoslider .multi-carousel:before {
    background: transparent;
  }
  .object-img-position img {
    -o-object-position: -190px;
    object-position: -190px;
  }
  .small-on-mobile {
    font-size: 1.625rem;
    line-height: var(--fds-fs-775);
  }
}
@media (max-width: 575px) {
  .effective-section .text-column__desc {
    font-size: var(--fds-fs-325);
    line-height: var(--fds-fs-710);
  }
}

#pinContainer {
  width: 100%;
  height: 100% !important;
  overflow: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  z-index: 1000;
  background: #ffffff;
}
#slideContainer {
  width: 100%; /* to contain 4 panels, each with 100% of window width */
  height: 100%;
}
.panel {
  height: 100%;
  width: 100%;
  position: relative;
  opacity: 0.5;
}
.every-day-section.panel {
  opacity: 1;
}

.aremax-icon-text {
  line-height: var(--fds-fs-400);
  font-size: 0.938rem;
  aspect-ratio: 1 / 1;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.aremax-icon-text img {
  height: 80px;
}

.array-icon-section {
  display: grid;
  gap: 1rem;
}

@media (max-width: 991px) {
  .array-icon-section {
    grid-template-columns: repeat(2, calc(50% - 0.5rem));
  }
}

@media (min-width: 992px) {
  .array-icon-section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
  }
}

.array-icon-section .aremax-icon-text {
  font-size: var(--fds-fs-700);
  line-height: 1.1;
}

@media (min-width: 768px) {
  .array-icon-section .aremax-icon-text img {
    height: 104px;
  }
}

.air-matter-text-block {
  top: 2rem;
  left: 2rem;
  max-width: 275px;
}

@media (max-width: 991px) {
  .air-matter-text-block .link-underlined::after {
    top: 65px;
    left: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

@media (max-width: 576px) {
  .air-matter-text-block h2 {
    font-size: var(--fds-fs-725);
  }
  .air-matter-text-block a {
    font-size: var(--fds-fs-350);
    max-width: 200px;
    display: block;
  }
}

@media (min-width: 576px) {
  .air-matter-text-block {
    top: 2rem;
    left: 3rem;
    max-width: 300px;
  }
}

@media (min-width: 768px) {
  .air-matter-text-block {
    top: 2rem;
    left: 3rem;
    max-width: 325px;
  }
}

@media (min-width: 992px) {
  .air-matter-text-block {
    top: 3rem;
    left: 3rem;
    max-width: 565px;
  }
}

.array-landing-leader-title {
  max-width: 630px;
  margin-inline: auto;
}

.how-it-work-content-title {
  font-size: var(--fds-fs-450);
  line-height: var(--fds-fs-725);
  font-weight: 600;
}
.how-it-work-content-box ul,
.how-it-work-content-box {
  font-size: var(--fds-fs-300);
  line-height: var(--fds-fs-600);
  padding-left: 1rem;
}
.how-it-work-small-p-tag {
  font-size: var(--fds-fs-200);
  line-height: var(--fds-fs-350);
}
.how-it-work-content-box ul li {
  margin-bottom: 0.5rem;
}
.preg13 p {
  font-size: var(--fds-fs-300);
  line-height: var(--fds-fs-700);
}
.title-section-aqm-healthy-air {
  gap: 15px;
}
.aqm-small-title {
  font-size: var(--fds-fs-450);
  line-height: var(--fds-fs-725);
}
.chart-text {
  font-size: var(--fds-fs-200);
  line-height: var(--fds-fs-400);
}
.source-text {
  font-size: 8px;
  line-height: 7px;
  color: #707070;
  word-break: break-all;
}

@-webkit-keyframes growProgressBar {
  0%,
  33% {
    --pgPercentage: 0;
  }
  100% {
    --pgPercentage: var(--value);
  }
}

@keyframes growProgressBar {
  0%,
  33% {
    --pgPercentage: 0;
  }
  100% {
    --pgPercentage: var(--value);
  }
}

@property --pgPercentage {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

div[role='progressbar'] {
  --size: 190px;
  --fg: #778495;
  --bg: transparent;
  --pgPercentage: var(--value);
  -webkit-animation: growProgressBar 3s 1 forwards;
  animation: growProgressBar 3s 1 forwards;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: -o-radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0), conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  background: radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0), conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  font-size: calc(var(--size) / 5);
  color: var(--fg);
  position: relative;
  margin: 0 auto;
}

div[role='progressbar']::before {
  counter-reset: percentage var(--value);
  content: counter(percentage) '%';
}
div[role='progressbar']::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  border: 1px solid #778495;
  z-index: -1;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.preg-12 {
  font-size: var(--fds-fs-250);
  line-height: var(--fds-fs-450);
}
.custom-padding-table th,
.custom-padding-table td {
  padding: 0;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.underline-light-text {
  color: #778495;
  text-decoration: underline;
}
.aqm-air-list {
  font-size: var(--fds-fs-200);
  line-height: var(--fds-fs-325);
  padding-left: 1.2rem;
}
.aqm-air-list li {
  margin-bottom: 0.5rem;
}
.whats-in-air-list {
  padding-left: 1.2rem;
  font-size: var(--fds-fs-150);
  line-height: var(--fds-fs-200);
}
.whats-in-air-list li {
  margin-bottom: 0.5rem;
}
.preg-13 {
  font-size: var(--fds-fs-200);
  line-height: 0.938rem;
}
.human-circle {
  width: 130px;
  height: 130px;
}
.pollen-circle {
  width: 75px;
  height: 75px;
}
.smoke-circle {
  width: 19px;
  height: 19px;
}
.bacteria-circle {
  width: 10px;
  height: 10px;
}
.blue-circle {
  margin: 0 auto;
  background: #778495;
  border-radius: 50%;
}
.implact-title {
  color: #778495;
  font-size: var(--fds-fs-325);
  line-height: normal;
  font-weight: 600;
  width: 40%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.implact-title span {
  font-size: 1.625rem;
}
.preg-11 {
  font-size: var(--fds-fs-200);
  line-height: var(--fds-fs-325);
}
.custom-right-border {
  border-bottom: 1px solid #778495;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.custom-gap-implact {
  gap: 15px;
}
.good-ach-img {
  width: 100px;
  float: right;
  padding: 0px 0px 20px 20px;
}
@media (min-width: 768px) {
  .good-ach-img {
    width: auto;
  }
  .implact-title {
    color: #778495;
    font-size: 1.625rem;
    line-height: normal;
    font-weight: 600;
    width: auto;
  }
  .implact-title span {
    font-size: var(--fds-fs-850);
  }
  .human-circle {
    width: 150px;
    height: 150px;
  }
  .preg-13 {
    font-size: var(--fds-fs-300);
    line-height: 0.938rem;
  }
  .custom-right-border {
    border-right: 1px solid #778495;
    border-bottom: none;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
}
@media (min-width: 992px) {
  .aqm-air-list {
    width: 50%;
  }
  .whats-in-air-list {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
  }
  .human-circle {
    width: 150px;
    height: 150px;
  }
}
@media (min-width: 1200px) {
  .human-circle {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 767px) {
  .title-section-aqm-healthy-air .sub-title-workstation {
    font-size: var(--fds-fs-710);
    line-height: var(--fds-fs-775);
  }
  .mobile-preg-13 {
    font-size: var(--fds-fs-300);
    line-height: var(--fds-fs-700);
  }
  .aqm-small-title {
    font-size: 0.938rem;
    line-height: var(--fds-fs-710);
  }
  .aqm-air-quality-sub-title-mobile .sub-title-workstation {
    font-size: var(--fds-fs-700);
    line-height: var(--fds-fs-775);
  }
}
