/* Mobile Styles */

@media (max-width: 768px) {
  .intel-search-results.show {
    max-height: 170px;
  }
}

@media (max-width: 1199.98px) {
  #desktopMenuContainer,
  #desktopRightNav {
    display: none !important;
  }

  .navbar-brand svg {
    height: 20px;
    width: auto;
  }

  .navbar-nav {
    width: calc(100% - 2rem);
    margin-bottom: 0 !important;
    position: relative;
  }

  .navbar-collapse {
    color: var(--fds-black);
    overflow-x: hidden;
    position: relative;
    border-top: 1px solid var(--fds-grey-200);
    margin-inline: -1rem;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    max-height: 100dvh;
  }

  .right-nav {
    padding-inline: 0.3rem;
  }

  .navbar-nav .nav-item,
  .navbar-nav .sub-dropdown-menu {
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin-left: 0px;
    left: 0;
    position: relative;
  }

  .navbar .navbar-nav .dropdown-menu,
  .navbar .navbar-nav .sub-dropdown-menu,
  .navbar .navbar-nav .sub-sub-dropdown-menu {
    display: block;
    inset: auto !important;
    left: 100% !important;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    top: 63px !important;
    position: fixed !important;
    -webkit-transform: inherit !important;
    -ms-transform: inherit !important;
    transform: inherit !important;
    width: 100%;
    color: var(--fds-black);
    overflow-y: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    max-height: 75%;
    background-color: #fff;
  }

  .navbar .navbar-nav .dropdown-menu {
    z-index: 10;
  }
  .navbar .navbar-nav .sub-dropdown-menu {
    z-index: 20;
  }
  .navbar .navbar-nav .sub-sub-dropdown-menu {
    z-index: 30;
  }

  .navbar .navbar-nav .dropdown-menu.show,
  .navbar .navbar-nav .sub-dropdown-menu.showsub,
  .navbar .navbar-nav .sub-sub-dropdown-menu.showsubsub {
    left: 0 !important;
    top: 63px !important;
  }

  .navbar-nav .nav-item.active {
    left: -100%;
  }

  .navbar .navbar-nav .dropdown-menu,
  .navbar .right-nav .dropdown-menu {
    inset: auto !important;
    left: 100% !important;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    top: 63px !important;
    position: fixed !important;
    -webkit-transform: inherit !important;
    -ms-transform: inherit !important;
    transform: inherit !important;
    width: 100%;
    color: var(--fds-black);
    overflow-y: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .navbar .right-nav .dropdown-menu.show {
    left: 0 !important;
    top: 63px !important;
  }

  .navbar .dropdown-item,
  .sub-dropdown-menu .sub-dropdown-item,
  .sub-sub-dropdown-menu .sub-sub-dropdown-item {
    font-weight: bold;
    color: var(--fds-black);
    padding: 1rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: var(--fds-fs-300);
  }

  .navbar .dropdown-menu.show > li,
  .navbar .sub-dropdown-menu.showsub > li,
  .navbar .sub-sub-dropdown-menu.showsubsub > li {
    border-bottom: 1px solid var(--fds-grey-200);
    position: relative;
  }

  .nav-link,
  .menu-link {
    text-align: left;
    position: relative;
    color: var(--fds-black);
    font-size: 0.9375rem;
    border-bottom: 1px solid var(--fds-grey-200);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
  }

  .navbar-expand-xl .navbar-nav .nav-link {
    padding-inline: 0rem;
    padding-block: 1rem;
  }

  .right-nav .nav-link {
    border-bottom: none;
    padding-inline: 0.8rem !important;
  }

  .navbar-nav .nav-link i {
    font-size: var(--fds-fs-300);
    color: var(--fds-black);
    padding-right: 0.75rem;
    margin-left: auto;
  }

  .navbar .main-dropdown.active .nav-link i {
    display: none !important;
  }

  .navbar .right-nav .main-dropdown.active .nav-link i {
    display: block !important;
  }

  .right-nav .nav-item {
    left: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .right-nav .nav-item.active {
    left: -100%;
  }

  .nav-link:after,
  .menu-link:after {
    left: 30px;
    top: 30px;
  }

  .left-nav .nav-link:after,
  .left-nav .menu-link:after {
    display: none;
  }

  .navbar .navbar-nav .dropdown-menu {
    overflow-y: auto;
    max-height: 385px;
  }

  .navbar .navbar-nav .sub-dropdown-menu,
  .navbar .navbar-nav .sub-sub-dropdown-menu {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    padding-left: 2rem;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    overflow-y: auto;
    max-height: 385px;
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .sub-dropdown,
  .sub-sub-dropdown {
    position: relative;
    font-size: var(--fds-fs-300);
  }

  .mobile-back-btn {
    padding: 1rem 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    border-bottom: 1px solid var(--fds-grey-200);
  }

  .mobile-back-btn i {
    margin-right: 10px;
    font-size: var(--fds-fs-300);
  }

  .mobile-navbar-collapse-onscroll {
    max-height: 0;
    opacity: 0;
  }

  .nav-cat-intro-img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .aqm-intro-img {
    background-image: url(../img/nav-update_imgs/aqm-desktop-circle.png);
  }

  .as-intro-img {
    background-image: url(../img/nav-update_imgs/as-desktop-circle.png);
  }

  .ci-intro-img {
    background-image: url(../img/nav-update_imgs/ci-desktop-circle.png);
  }

  .bp-intro-img {
    background-image: url(../img/nav-update_imgs/bp-desktop-circle.png);
  }

  .oc-intro-img {
    background-image: url(../img/nav-update_imgs/oc-desktop-circle.png);
  }

  /* Cart CSS */
  .cart-dropdown-div {
    position: fixed;
    width: 255px;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 99999;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transform: translateX(255px);
    -ms-transform: translateX(255px);
    transform: translateX(255px);
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: -webkit-transform 300ms ease-in-out;
    -o-transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  }

  .cart-dropdown-div.show {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }

  .cart-footer {
    margin-top: auto;
  }

  .cart-is-empty,
  .cart-has-items {
    overflow-y: auto;
  }

  .cart-item-img {
    text-align: center;
  }

  /* Search CSS */
  .search-div.searchdivshow {
    top: 65px;
  }

  .search-div {
    padding: 30px 10px;
    background: #ffffff;
  }

  .search-dropdown .search-icon {
    top: 5px;
  }
}
