/* manage-account pages css start */
.myaccout-titlebar{background: var(--fds-grey-100);padding: 1.5rem 0;}
.myaccount-nav{list-style: none; padding-left: 0;}
.myaccount-nav li{padding: 0.6rem 0rem; border-bottom: 1px solid var(--fds-grey-400);}
.myaccount-nav li:last-child{border-bottom: none;}
.myaccount-nav li a{color: var(--fds-black);}
.hoverarrow{opacity: 0; width: 0;  margin-right: 0rem;-webkit-transition-duration: 0.4s;-moz-transition-duration: 0.4s;transition-duration: 0.4s;}
.myaccount-nav li a:hover .hoverarrow{opacity: 1; width: 8px;margin-right: 0.5rem;}
.bulletactiveimg{display: none; margin-right: 0.5rem;}
.myaccount-nav li.myaccount-active .bulletactiveimg, .active-menu-mobile .bulletactiveimg{display: inline-block;}
.mobile-navigationmyaccount{cursor: pointer; padding: 1rem 0rem;font-size: var(--fds-fs-300);}
.mobile-navigationmyaccount .active-menu-mobile a{color: var(--fds-black); font-size: var(--fds-fs-200);}
.mobile-navigationmyaccount .active-menu-mobile img{ margin-right: 0.2rem; width: 7px;}
.font-weight-medium{font-weight: 500;}
.sidecontent-div .sidecontent-item{border-top: 1px solid var(--fds-grey-400); padding: 1rem 0rem;}
.sidecontent-div .sidecontent-item:last-child{border-bottom: 1px solid var(--fds-grey-400);}
.sidecontent-div .sidecontent-item .btn{color: var(--fds-black); font-weight: 600; font-size: var(--fds-fs-350);}
.addresstitle{font-weight: 600;}
.addressbtns .btn{width: 100%; font-size: var(--fds-fs-325) !important;}
.form-btn{color: var(--fds-black); font-size: var(--fds-fs-350);font-weight: 600;}
#newaddress .modal-header, #newcard .modal-header{justify-content: center;}
#newaddress .btn-close, #newcard .btn-close{position: absolute; right: 1rem; opacity: 1;}
.eligibleproductname{font-size: var(--fds-fs-350);font-weight: 600;}
.product-smalltext{font-size: var(--fds-fs-320);}
.font-weight-600{font-weight: 600;}
.passwordlist{padding-left: 1rem;color: var(--fds-grey-700);}
.checked{color: #3CBC1E;}
.visacard{width: 35px;}
.form-outline .form-control~.form-notch div, .form-outline .form-control~.form-notch div, .form-outline .form-control~.form-notch div{ border-color: var(--fds-grey-700);}
.datepicker-toggle-button{pointer-events: auto !important;}
.form-check-input[type=checkbox]:checked, .form-check-input[type=checkbox]:checked:focus{width: 18px; height: 18px;}
.smallfont-sizebtn{font-size: var(--fds-fs-250) !important;}
.form-outline .form-control.form-control-lg, .form-outline .form-control.form-control-lg~.form-label{font-size: var(--fds-fs-400);}
@media (min-width:768px){.myaccount-nav li:first-child{padding-top: 0;}}
@media (min-width:992px){
  .addressbtns .btn{width: 180px;}
}
@media (max-width:767.98px){
  .myaccount-nav{display: none;}
  .myaccount-nav.active{display: block; border-top: 1px solid var(--fds-grey-600);}
  .mobile-top-spacing-none{padding-top: 0;}
}
/* manage-account pages css end */