/* my-cart page css start */
.quantity-field {
  width: 60px;
  height: 36px;
  border: 1px solid var(--fds-grey-700);
  color: var(--fds-black);
  outline: none;
  text-align: center;
}
.quantity-fields-main a {
  color: var(--fds-grey-700);
  text-decoration: underline;
  font-size: 0.75rem;
}
.quantity-fields-main {
  display: flex;
  gap: 15px;
  align-items: center;
}
.my-cart-table th {
  font-size: var(--fds-fs-600);
  line-height: 1.5rem;
  color: var(--fds-black);
  font-weight: 600;
  border-top: none;
}
.input-cupouns {
  display: block;
  gap: 10px;
  align-items: center;
  margin-bottom: 1.5rem;
}
.input-cupouns .input-title {
  font-size: var(--fds-fs-600);
  font-weight: 600;
  color: var(--fds-black);
}
.input-cupouns .form-outline .form-control {
  padding: 0.7rem 1rem;
}
.order-table tr div {
  max-height: inherit;
}
.cart-btn .btn {
  color: var(--fds-black);
  font-weight: 600;
  font-size: 0.875rem;
  margin: 0 auto;
  line-height: 24px;
}
.cart-sub-title {
  font-size: var(--fds-fs-600);
  font-weight: 600;
}
.border-top-light-gray {
  border-top: 1px solid var(--fds-grey-400);
}
.other-product-title {
  font-size: var(--fds-fs-350);
  line-height: var(--fds-fs-400);
  font-weight: 600;
}
@media (min-width: 992px) {
  .input-cupouns {
    display: flex;
  }
  .input-cupouns .input-title {
    width: 35%;
  }
}
@media (max-width: 991px) {
  .my-cart-table .mobile-none {
    display: none;
  }
}
@media (max-width: 576px) {
  .table > :not(caption) > * > * {
    padding: 1rem 0.5rem;
  }
  .my-cart-table .cart-image {
    width: 25%;
  }
  .my-cart-table .product-details {
    width: 75%;
  }
}
/* my-cart page css end */
