.product-registration-box {
  border-top: 1px solid var(--fds-grey-400);
  border-bottom: 1px solid var(--fds-grey-400);
}
.container {
  max-width: 90%;
}
.gray-link,
.gray-link:hover,
.gray-link:focus,
.gray-link:active {
  color: var(--fds-grey-700);
  text-decoration: underline;
}

.product-line {
  border-top: 1px solid var(--fds-grey-400);
}
.square-radio .form-check-input[type='radio'] {
  border-radius: unset;
  background: transparent;
  border-color: var(--fds-grey-700);
}
.register-selection {
  font-size: 0.938rem;
  line-height: var(--fds-fs-500);
  font-weight: 500;
}
.form-check-input[type='radio']:checked:after {
  border-radius: 0;
  position: absolute;
  margin-left: 0rem;
  width: 0.875rem;
  height: 0.875rem;
  background-color: var(--fds-grey-700);
}

.form-group {
  margin-bottom: 0.938rem;
}
.form-outline .form-control.form-control-lg,
.form-outline .form-control.form-control-lg ~ .form-label {
  font-size: var(--fds-fs-400);
}
.form-check-input[type='checkbox']:checked,
.form-check-input[type='checkbox']:checked:focus {
  width: 18px;
  height: 18px;
}
.form-outline .form-control ~ .form-notch div,
.form-outline .form-control ~ .form-notch div,
.form-outline .form-control ~ .form-notch div {
  border-color: var(--fds-grey-700);
}
.datepicker-toggle-button {
  pointer-events: auto !important;
}

.form-outline .form-control {
  padding: 0.75rem 1.75rem;
  color: var(--fds-grey-800);
  font-size: var(--fds-fs-400);
}

.form-outline .form-control.form-control-lg ~ .form-label {
  padding-top: 1rem;
}

.form-outline .form-control.form-control-lg.active ~ .form-label,
.form-outline .form-control.form-control-lg:focus ~ .form-label {
  -webkit-transform: translateY(-1.5rem) translateY(0.1rem) scale(0.8);
  -ms-transform: translateY(-1.5rem) translateY(0.1rem) scale(0.8);
  transform: translateY(-1.5rem) translateY(0.1rem) scale(0.8);
}

.form-outline .form-control:focus ~ .form-label {
  color: var(--fds-black);
}

.form-outline .form-control ~ .form-notch div {
  border-radius: 0 !important;
}

.form-outline .form-control.select-input:focus ~ .form-notch .form-notch-trailing,
.select-input.focused ~ .form-notch .form-notch-trailing,
.form-outline .form-control:focus ~ .form-notch .form-notch-trailing {
  border-color: var(--fds-black);
  -webkit-box-shadow: 1px 0 0 0 var(--fds-black), 0 -1px 0 0 var(--fds-black),
    0 1px 0 0 var(--fds-black);
  box-shadow: 1px 0 0 0 var(--fds-black), 0 -1px 0 0 var(--fds-black), 0 1px 0 0 var(--fds-black);
}

.form-outline .form-control.select-input:focus ~ .form-notch .form-notch-leading,
.select-input.focused ~ .form-notch .form-notch-leading,
.form-outline .form-control:focus ~ .form-notch .form-notch-leading {
  border-color: var(--fds-black);
  -webkit-box-shadow: -1px 0 0 0 var(--fds-black), 0 1px 0 0 var(--fds-black),
    0 -1px 0 0 var(--fds-black);
  box-shadow: -1px 0 0 0 var(--fds-black), 0 1px 0 0 var(--fds-black), 0 -1px 0 0 var(--fds-black);
}

.form-outline .form-control:focus ~ .form-notch .form-notch-middle {
  border-color: var(--fds-black);
  -webkit-box-shadow: 0 1px 0 0 var(--fds-black);
  box-shadow: 0 1px 0 0 var(--fds-black);
  border-top: 1px solid transparent;
}

.form-check-label {
  color: var(--fds-black);
}

.form-check-input[type='checkbox'] {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0;
}

.form-check-input[type='checkbox']:checked,
.form-check-input[type='checkbox']:checked:focus {
  background-color: var(--fds-black);
  border-color: var(--fds-black);
}

.form-check-input[type='checkbox']:checked:after {
  margin-left: 0rem;
  width: 14px;
  height: 14px;
  top: 1px;
  left: 1px;
  background-color: var(--fds-grey-700);
  -webkit-transform: unset;
  -ms-transform: unset;
  transform: unset;
  border: none;
  margin-top: 0;
}

.form-check-input[type='checkbox']:checked,
.form-check-input[type='checkbox']:checked:focus {
  background: transparent;
  border-color: var(--fds-grey-700);
}

.select-arrow {
  color: var(--fds-grey-400);
  left: var(--mdb-form-outline-select-arrow-right);
  right: inherit;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.shipping-small-font {
  font-size: var(--fds-fs-150);
  line-height: 16px;
  color: var(--fds-black);
}
.select-input.focused ~ .select-arrow {
  color: var(--fds-black);
}
@media only screen and (max-width: 768px) {
  .research-studie {
    text-align: left;
  }
}
