/* Font Styles */

body.rising-page {
  font-family: var(--fds-font-family);
  font-size: 1rem;
}

.rising-page h1,
.rising-page h2 {
  font-size: var(--fds-fs-800);
}

.rising-page h3 {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .rising-page h1,
  .rising-page h2,
  .fullwidth-text-block {
    font-size: var(--fds-fs-900);
  }

  .rising-page h3 {
    font-size: var(--fds-fs-500);
  }
}

.text-bold {
  font-weight: 700;
}

.fs-22 {
  font-size: 22px;
}
/* Colors */

.bg-tan {
  background-color: var(--fds-tan);
}

.bg-black {
  background-color: var(--fds-black);
}

.bg-whote {
  background-color: var(--fds-white);
}

.text-black {
  color: #000000;
}

@media (min-width: 768px) {
  .bg-tan-desktop {
    background-color: var(--fds-tan);
  }
}

/* Helper Classes */

.background-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.object-pos-top {
  background-position: top;
}

.clear-fix {
  display: block;
}

.clear-fix:after {
  content: '';
  display: table;
  clear: both;
}

.absolute-center {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.absolute-horizontal-center {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.top-neg50px {
  top: -50px;
}

.end-0 {
  right: 0;
}

.maxH-700 {
  max-height: 700px;
}

.maxW-1140 {
  max-width: 1140px;
  margin-inline: auto;
}

.maxW-800 {
  max-width: 800px;
  margin-inline: auto;
}

.width-90 {
  width: 90%;
  margin-inline: auto;
}

.maxW-540 {
  max-width: 768px;
  margin-inline: auto;
}

.maxW-630 {
  max-width: 630px;
  margin-inline: auto;
}

.minH-700 {
  min-height: 700px;
}

@media (min-width: 768px) {
  .minH-700-desktop {
    min-height: 700px;
  }
}

.minH-620 {
  min-height: 650px;
}

.minH-600 {
  min-height: 600px;
}

.minH-400 {
  min-height: 400px;
}

.minH-350 {
  min-height: 350px;
}

.object-cover {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  width: 100%;
}

.object-cover-height {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  height: 100%;
}

.height100 {
  height: 100%;
}

.link-underlined {
  font-size: var(--fds-fs-450);
  margin-top: 0.75rem;
}

.link-underlined::after {
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  background-color: var(--fds-yellow);
  width: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-left: 0;
  border: none;
  top: 30px;
}

@media (max-width: 768px) {
  .break-word {
    display: block;
  }

  .mobile-minH-350 {
    min-height: 350px;
  }

  .mobile-object-cover {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    width: 100%;
  }
}

@media (max-width: 992px) {
  .mobile-width100 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .desktop-object-cover {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    width: 100%;
  }
}

/* Basic Page Styles */

.section-text-block {
  max-width: 339px;
}

.section-title {
  font-size: var(--fds-fs-775);
  font-weight: 300;
  line-height: 1.2;
}

.section-desc {
  font-size: var(--fds-fs-500);
}

.customPlayControls {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.customPlayControls.hide {
  display: none;
}

.customPlayControls button {
  background-color: transparent;
  border: none;
}

.customPlayControls i {
  font-size: 6rem;
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 768px) {
  .section-text-block {
    margin-inline: auto;
  }
}

/* Header Section CSS */

.header-text-block {
  width: 90%;
}

.intro-txt {
  font-size: var(--fds-fs-600);
  text-align: center;
}

.Header-text {
  font-size: var(--fds-fs-850);
  text-align: center;
  line-height: 1.2;
  text-transform: uppercase;
}

.close {
  opacity: 1;
}

/* Finish Picker Section Styles */

.finish-picker-wrapper {
  display: grid;
}

.finish-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.finish-options {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.finish-images img {
  display: none;
  width: 100%;
}

.finish-images img.active {
  display: block;
}

.options-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 310px;
  margin-inline: auto;
  padding-inline: 1rem;
  padding-block: 2rem;
}

.options-title {
  font-size: 30px;
}

.options-subtitile {
  font-size: 20px;
  margin-block: 1rem;
}

.finish-group-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.finish-group-btn span {
  font-weight: 600;
  color: #fff;
  opacity: 0.45;
  text-transform: uppercase;
}

.finish-group-btn:hover span,
.finish-group-btn:focus-within span {
  opacity: 0.7;
}

.finish-group-btn.active span,
.finish-group-btn:active span {
  opacity: 1;
}

.finish-group-btn img {
  width: 250px;
}

.finish-swatches-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  row-gap: 0.5rem;
}

.swatch {
  display: none;
  cursor: pointer;
}

.swatch:hover img,
swatch:focus-within img,
swatch:active img {
  -webkit-box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.15);
}

.swatch.active {
  display: block;
}

.swatch-text {
  font-size: 12px;
  line-height: 1.1;
  margin-top: 0.25rem;
}

.elevated-btn {
  margin-top: 2rem;
}

.elevated-btn .config-btn {
  display: block;
  width: 100%;
  text-align: center;
}

.watch-full-vid {
  bottom: 0;
  left: 0;
  color: #fff;
  -webkit-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.watch-full-vid:hover,
.watch-full-vid:focus-within,
.watch-full-vid:active {
  color: var(--fds-yellow);
}

.watch-btn {
  background-color: #000;
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 1rem;
}

.watch-btn i {
  /* color: var(--fds-yellow); */
  font-size: 1.5rem;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.download-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
  color: #000;
  font-size: 1rem;
}

.download-wrapper i {
  font-size: 2rem;
}

.download-txt {
  font-weight: 500;
  text-decoration: underline;
}

.all-docs-btn {
  font-weight: 500;
}

@media (max-width: 768px) {
  .resources-section .container {
    max-width: 300px;
    text-align: center;
  }
  .download-wrapper {
    margin-bottom: 1rem;
  }
}

@media (min-width: 768px) {
  .all-docs-btn {
    padding-inline: 3rem;
  }
  .download-wrapper {
    font-size: 1.25rem;
  }

  .download-wrapper i {
    font-size: 3rem;
  }
  .finish-picker-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .finish-images {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .finish-options {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .swatch-text {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .finish-picker-wrapper {
    grid-template-columns: 840px 1fr;
  }
}

@media (min-width: 1500px) {
  .finish-picker-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

/* Simple Text Section Styles */

.simple-text-section h2 {
  font-size: var(--fds-fs-850);
  font-weight: 300;
  line-height: 1.3;
}

@media (min-width: 768px) {
  .simple-text-section h2 {
    font-size: var(--fds-fs-900);
  }
}

/* configuration section styles */

.configuration-wrapper {
  display: grid;
  max-width: 90%;
  margin-inline: auto;
}

.configuration-wrapper h2 {
  font-size: var(--fds-fs-775);
  margin-bottom: 1rem;
  margin-top: 4rem;
}

.config-desc {
  font-size: 14px;
  max-width: 293px;
  margin-inline: auto;
}

.config-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  margin-top: 1.5rem;
  padding: 0.5rem 2rem;
  border-radius: 50px;
  font-size: 14px;
}

.config-img {
  width: 100%;
  max-width: 700px;
  margin-inline: auto;
  margin-top: 4rem;
}

@media (min-width: 768px) {
  .configuration-wrapper h2 {
    font-size: var(--fds-fs-860);
    margin-bottom: 1.5rem;
    margin-top: 0;
  }

  .config-desc {
    font-size: 22px;
    max-width: 630px;
  }
  .config-btn {
    font-size: 16px;
  }
}

/* Rising Loft Styles */

h2.intro-loft {
  font-size: 27px;
  margin-block: 0.5rem;
}

.sub-title {
  font-size: 20px;
  margin-block: 1rem;
  line-height: 1.2;
}

.loft-desc {
  font-size: 14px;
  max-width: 305px;
  margin-inline: auto;
}

@media (min-width: 768px) {
  .coming-soon {
    font-size: 18px;
  }

  h2.intro-loft {
    font-size: 40px;
  }

  .sub-title {
    font-size: 30px;
  }

  .loft-desc {
    font-size: 19px;
    max-width: 100%;
    margin-inline: auto;
  }
}

.icon-text {
  font-weight: 700;
  line-height: 1.3;
  font-size: 1rem;
}

.ma-icon-section img {
  max-width: 110px;
  margin-inline: auto;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .ma-icon-section img {
    max-width: 135px;
  }
  .icon-text {
    font-size: 1.25rem;
  }
}
