.plp-section {
  -webkit-padding-before: 2.875rem;
  padding-block-start: 2.875rem;
  -webkit-padding-after: 2.875rem;
  padding-block-end: 2.875rem;

  -webkit-box-orient: vertical;

  -webkit-box-direction: normal;

  -ms-flex-direction: column;

  flex-direction: column;
}

.filter-section {
  width: 100%;
}

.product-listing-section {
  width: 100%;
}

.banner-txt {
  margin-bottom: 0.75rem;
  font-size: 29px;
  font-weight: 500;
}

.banner-btn {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  gap: 7px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.banner-btn:hover,
:not(.btn-check) + .banner-btn:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.plp-item {
  padding: 1.875rem;
}

.plp-item__title-section {
  text-transform: uppercase;
}

.product-category {
  font-size: var(--fds-fs-725);
}

.clr-picker-label {
  padding-inline: unset;
  width: 35px;
  aspect-ratio: 1 / 1;
}

.desc-snippet {
  font-size: var(--fds-fs-325);
  font-weight: 500;
}

.desc-list {
  font-size: var(--fds-fs-200);
  padding-left: 1rem;
  margin-block: 1rem;
  font-weight: 500;
}

.plp-item__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.product-price {
  font-size: var(--fds-fs-725);
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.list-aftertext {
  font-size: var(--fds-fs-450);
}

.product-buy-btn {
  font-weight: 500;
  text-transform: uppercase;
}

.options__prod-image {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.options__prod-image img {
  max-height: 200px;
}

/* Vertical Styles */

.plp-vertical .plp-item__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-block: 2rem;
}

@media (max-width: 325px) {
  .plp-vertical .plp-item__options {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .plp-vertical .options__color-selector {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
}

.plp-vertical .options__color-selector {
  max-width: 35px;
}

.plp-vertical .form-check {
  margin-bottom: 0.5rem;
}

.plp-vertical .plp-inner-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, min(100%, 310px));
  gap: 1rem;
}

.loading-spinner {
  font-size: 2rem;
  top: 12.5rem;
}

@media (max-width: 768px) {
  .plp-vertical .plp-inner-wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.plp-vertical .plp-item__options .form-check {
  padding-left: 0;
}

/* Horizontal Styles */

.plp-horizontal .plp-item {
  -webkit-margin-after: 1rem;
  margin-block-end: 1rem;
  padding: 1rem;
}

.plp-horizontal .plp-item form,
.plp-horizontal .plp-item .placeholder-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.plp-horizontal .plp-item .placeholder-wrapper {
  gap: 1rem;
}

.plp-horizontal .plp-item__options {
  display: grid;
  gap: 1rem;
}

.plp-horizontal .options__color-selector {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.plp-horizontal .form-check {
  padding-left: 0;
  padding-right: 0.5rem;
}

.plp-horizontal .plp-item__title-section {
  -webkit-padding-before: 0.875rem;
  padding-block-start: 0.875rem;
}

.plp-horizontal .plp-item__footer {
  -webkit-padding-after: 0.875rem;
  padding-block-end: 0.875rem;
}

@media (min-width: 768px) {
  .plp-horizontal .plp-inner-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

@media (min-width: 992px) {
  .plp-horizontal .plp-inner-wrapper {
    display: block;
  }
  .plp-horizontal .plp-item form,
  .plp-horizontal .plp-item .placeholder-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .plp-horizontal .plp-item__options {
    grid-column: 1;
    grid-row: 1 / span 3;
    display: grid;
    gap: 1rem;
  }
  .plp-horizontal .plp-item__title-section {
    grid-column: 2;
    grid-row: 1;
    -webkit-padding-before: 0.875rem;
    padding-block-start: 0.875rem;
  }

  .plp-horizontal .plp-item__desc {
    grid-column: 2;
    grid-row: 2;
  }

  .plp-horizontal .plp-item__footer {
    grid-column: 2;
    grid-row: 3;
    -webkit-padding-after: 0.875rem;
    padding-block-end: 0.875rem;
  }
}

@media (max-width: 992px) {
  .plp-horizontal .plp-item__options {
    margin-block: 1.5rem;
  }
}

/* Filter Section CSS */

.filter-section__header {
  -webkit-padding-after: 1rem;
  padding-block-end: 1rem;
  -webkit-border-after: 1px solid var(--fds-grey-400);
  border-block-end: 1px solid var(--fds-grey-400);
}

.filter-section__title {
  font-size: var(--fds-fs-325);
  font-weight: 600;
}

.filter-section__BTN {
  font-size: var(--fds-fs-100);
  line-height: 0;
  padding: 0.75rem 1.25rem;
  font-weight: 500;
}

.filter-section__block {
  -webkit-margin-before: 0.5rem;
  margin-block-start: 0.5rem;
  -webkit-padding-after: 0.5rem;
  padding-block-end: 0.5rem;
  border-bottom: 1px solid var(--fds-grey-400);
}

.filter-header {
  font-size: var(--fds-fs-325);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.filters {
  -webkit-margin-before: 1rem;
  margin-block-start: 1rem;
}

.filter-section__block .form-check {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
}

.filter-section__block .form-check .form-check-input {
  margin-left: 0;
}

.filters .form-check-label {
  font-size: var(--fds-fs-200);
  line-height: var(--fds-fs-200);
}

.filters .color-text {
  font-size: var(--fds-fs-200);
  /* height: var(--fds-fs-325); */
  line-height: 0.75rem;
}

.filters .form-check-input {
  width: var(--fds-fs-325);
  height: var(--fds-fs-325);
  border: 1px solid var(--fds-grey-700);
  aspect-ratio: 1 /1;
}

.form-check.color-filter {
  margin-bottom: 0.2rem;
}

.filter-clr-picker-label {
  padding-inline: unset;
  width: 20px;
  aspect-ratio: 1 / 1;
}

.filter-section__wrapper,
.filter-section__btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.filter-header__icons {
  width: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.filter-close,
.filter-subhead__close {
  display: none;
}

.filter-close.show,
.filter-subhead__close.show {
  display: block;
}

.filter-open.hide,
.filter-subhead__open.hide {
  display: none;
}

.filter-section__btn-wrapper {
  display: none;
}

.filter-section__filter-wrapper,
.filters {
  display: none;
}

.filter-section__btn-wrapper.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter-section__filter-wrapper.show,
.filters.show {
  display: block;
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .plp-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 1.75rem;
  }
  .filter-section {
    max-width: 150px;
  }
  .filter-section__block {
    -webkit-margin-before: 1.25rem;
    margin-block-start: 1.25rem;
    -webkit-padding-after: 1.25rem;
    padding-block-end: 1.25rem;
  }
  .plp-section {
    gap: 2.875rem;
  }
  .filter-section {
    max-width: 225px;
  }
  .filter-section__btn-wrapper {
    display: block;
  }
  .filter-section__filter-wrapper,
  .filters {
    display: block;
  }
  .filter-submit-btn {
    display: none;
  }
}

.results-section,
.loading-section {
  -webkit-transition-property: max-height, opacity;
  -o-transition-property: max-height, opacity;
  transition-property: max-height, opacity;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
}

#primary-content[data-loading='true'] .results-section {
  max-height: 0px;
  opacity: 0;
}

#primary-content[data-loading='false'] .results-section {
  max-height: 50000px;
  opacity: 1;
}

#primary-content[data-loading='true'] .loading-section {
  max-height: 50000px;
  opacity: 1;
}

#primary-content[data-loading='false'] .loading-section {
  max-height: 0px;
  opacity: 0;
  display: none;
}

.desc-list ul {
  padding-left: 0;
}

/* Custom Colors */

.bg-silver {
  background-color: #cccccc !important;
}

.bg-swatch {
  background-position: center;
  background-size: cover;
}

.bg-azure-azurelight {
  background-image: url('../img/subcat-imgs/Swatches/In-Trend/Azure-and-Azure-Light.jpg');
}

.bg-sage-silver {
  background-image: url('../img/subcat-imgs/Swatches/In-Trend/Sage-and-Bright-Silver.jpg');
}

.bg-slate-slate {
  background-image: url('../img/subcat-imgs/Swatches/In-Trend/Slate-and-Slate-Light.jpg');
}

.bg-stardust-silver {
  background-image: url('../img/subcat-imgs/Swatches/In-Trend/Stardust-and-Bright-Silver.jpg');
}

.bg-black-bronze {
  background-image: url('../img/subcat-imgs/Swatches/Premium/Black-Matte-and-Bronze.jpg');
}

.bg-white-aluminum {
  background-image: url('../img/subcat-imgs/Swatches/Premium/Designer-White-and-Polished-Aluminum.jpg');
}

.bg-black-black {
  background-image: url('../img/subcat-imgs/Swatches/Standard/Black-Matte-and-Black-High-Gloss.jpg');
}

.bg-white-platinum {
  background-image: url('../img/subcat-imgs/Swatches/Standard/Designer-White-and-Platinum.jpg');
}

.bg-platinum-silver {
  background-image: url('../img/subcat-imgs/Swatches/Standard/Platinum-and-Dark-Silver.jpg');
}
