.gsa-img {
  max-width: 317px;
  margin-inline: auto;
}

.accordion-subheading {
  font-size: 20px;
  font-weight: 700;
}

.panel-list {
  list-style-type: none;
  padding-left: 0;
  text-decoration: underline;
  font-weight: 400;
}

.accordion-section-heading {
  font-size: var(--fds-fs-750);
  line-height: var(--fds-fs-825);
  text-align: center;
  display: block;
  width: 100%;
}

.panel-list li {
  word-break: break-word;
}
