.dashboard-list{
  padding-left: 1rem;
}
.preg22{
  font-size: var(--fds-fs-400);
  line-height: var(--fds-fs-700);
}
#selsectplan .form-check-input{
  display: none;
}
#selsectplan .form-check-label{
  padding-left: 0;
  background: var(--fds-white);
  border: 4px solid #ffffff;
  padding: 3rem;
  position: relative;
}
#selsectplan .form-check-label.active-sub{
  border: 4px solid #778495;
}
#selsectplan .form-check-label .lable-title{
  color: #9D9D9D;
  font-size: var(--fds-fs-600);
  line-height: var(--fds-fs-775);
  font-weight: 700;
  margin-bottom: 1rem;
}
#selsectplan .form-check-label.active-sub .lable-title{
  color: #778495;
}
#selsectplan .form-check-label .lable-text{
  font-size: var(--fds-fs-325);
  line-height: var(--fds-fs-600);
}
#selsectplan .form-check-label .lable-button{
  background: #9d9d9d;
  padding: 0.5rem 2rem;
  width: auto;
  color: var(--fds-white);
  font-size: var(--fds-fs-400);
  line-height: var(--fds-fs-775);
  font-weight: 700;
  bottom: -23px;
    left: 50%;
    height: 46px;
    width: 150px;
    margin-left: -75px;
    position: absolute;
}
#selsectplan .form-check-label.active-sub .lable-button{
  background: #778495;
}
.preg15{
  font-size: 0.938rem;
  line-height: var(--fds-fs-700);
  font-weight: 500;
}
.custom-view-point-input{
  background: var(--fds-white);
  text-align: center;
  border-radius: 50px;
}
.custom-view-point-input .form-notch div{border: none !important;    box-shadow: none !important;}

.custom-view-point-input input{
  text-align: center;
  appearance: none;
}

@media (min-width:768px){
  .bigptext{
  line-height: var(--fds-fs-775);
  font-weight: 500;
  }
  .preg22{
    font-size: var(--fds-fs-700);
    line-height: var(--fds-fs-775);
  }
}